[2015-11-11 22:21] matteg opened #156 "Wildfly-swarm 1.0.0.Alpha5 now also shows previously closed issue 88"
While trying out this version of wildfly-swarm, I encountered an execution time error:
 org.jboss.modules.xml.XmlPullParserException: Failed to resolve artifact 'org.jboss.msc:jboss-msc:1.2.6.Final'

A google search for this error reveals that issue 88 was reported against the Alpha4 version which was closed.

This problem seems to have resurfaced in Alpha5.

I have a valid localRepository setting

[2015-11-11 22:56] helio-frota commented on #156
Hi @matteg ,
Can you provide the full stack and/or repository for doing some tests ?
Are you trying to run the app from IDE main class ? If yes, can you try 'mvn clean package' to see if it resolves more dependencies ?

[2015-11-11 23:02] helio-frota commented on #70
hi @swistaczek
the error continues with alpha5 released ?

[2015-11-12 09:53] helio-frota commented on #70
hi all using alpha5
getting different errors by running `rmvn wildfly-swarm:run`

![01](https://cloud.githubusercontent.com/assets/6443576/11115374/d8befb34-8909-11e5-8178-69ef807d13de.png)

full stack:
https://gist.github.com/helio-frota/e9df7045ebd67ac711f1

[2015-11-12 18:34] #151 closed

[2015-11-12 19:03] helio-frota opened #157 "Alpha5 is using `wildfly-swarm-plugin` Alpha4 when no version is defined in pom.xml"
[code]

[2015-11-12 20:04] matteg commented on #157
Alpha6 also has this problem.
The parent POM for all the examples erroneously uses the same property for all wildfly-swarm artifacts.  You can fix the plugin version problem as noted below.
The most recent version of the plugin is 1.0.0.Alpha4 dated Aug 18 2015
In the pom.xml of the parent folder, I inserted a new first property
    <version.wildfly-swarm-plugin>1.0.0.Alpha4</version.wildfly-swarm

[2015-11-12 20:16] matteg commented on #156
Hi helio-frota.
I was using an eclipse maven project and importing components of jpa-jaxrs-cdi-shrinkwrap2
The errors occurred when I ran mvn clean package

So I decided to instead use a DOS window and attempt to run the unmodified example to ensure it would work.  I encountered the error you reported about an hour ago.  I managed to overcome that error but then multiple other artifacts were unres

[2015-11-12 20:25] helio-frota commented on #156
Hi @matteg

`...1.0.0.Alpha6-SNAPSHOT in jboss-public-repository-group (https://repository.jboss.org/nexus/conte...`

Are you trying to use the alpha6-SNAPSHOT ? If yes, you need to clone the project and build it locally.

The examples are using the `-SNAPSHOT` version of wildfly-swarm, but you can try some example tags of Alpha5 here https://github.com/wildfly-swarm/wildfly-swarm-examples/release

[2015-11-12 21:07] matteg commented on #156
I don't care what version of wildfly-swarm I use other than I want a stable version that requires least effort to try out.That's why I downloaded the zip file of all examples .... 
Are you saying that I should use a different source for a simple already working example ?
Gerry 

Sent from Samsung tablet

-------- Original message --------
From: Helio Frota <notifications@github.com>
Date: 11-12-20

[2015-11-12 22:00] helio-frota commented on #156
@matteg
`Are you saying that I should use a different source for a simple already working example ?`

ofc not.

The question is alpha6 was not released yet, still in `-SNAPSHOT` , so that is not available on maven central.

: ]

[2015-11-13 14:12] baboune commented on #139
Hi,
I am currently attempting to use Camel within wildfly swarm.  Would it be possible to know how this would work?

[2015-11-13 22:44] mtelep opened #158 "Classcast issue instantiating hazelcast within wildfly-swarm"
Hello,
I know wildfly internally uses infinispan but...

Tried to use hazelcast in both fully-blown wildfly 10.CR4 and swarm and observed following classcast error:
`org.jboss.resteasy.spi.UnhandledException: org.jboss.weld.exceptions.WeldException: WELD-000049: Unable to invoke void eu.telepski.test.hazelcast.wildfly10.bootstrap.cache.CacheProvider.init() on eu.telepski.test.hazelcast.wildfly10.b

[2015-11-14 03:43] emag commented on #158
I'm new to hazelcast, but it seems your app works.

[code]

while, the app displays the following logs.

[code]

Are there any differences between your test code and github code(I commented out `mainClass` in pom.xml)?

[2015-11-14 23:00] mtelep commented on #158
You are right - it's working whenn `mainClass` is commented out in pom...
... but only when launching from swarm uber-jar. It fails when launching from IDE (using both `org.wildfly.swarm.Swarm` and class defined by `mainClass` attribute. I tested IntelliJ and Eclipse.

Side question - is definition of `mainClass` compatible with war packaging at all or is it rather kind of exploit? The reason I as

[2015-11-14 23:26] bobmcwhirter commented on #158
Currently we don't support mainClass in a war but we should. It's been
requested a few times.

--
Sent from my iPhone

On Nov 14, 2015, at 6:00 PM, mtelep <notifications@github.com> wrote:

You are right - it's working whenn mainClass is commented out in pom...
... but only when launching from swarm uber-jar. It fails when launching
from IDE (using both org.wildfly.swarm.Swarm and class defined by

[2015-11-15 00:05] helio-frota commented on #157
just a way to verify

[code]
[code]

[2015-11-17 10:40] btison opened #162 "wildfly-swarm-bootstrap not in internal repo of swarm fat jar"
Hi,

is there a reason why wildfly-swarm-bootstrap is not added to the m2repo folder in the swarm fat jar when building with the wildfly-swarm-plugin plugin?
The reason I am asking is that when I run a swarm jar in an environment that has no maven installed (e.g. a docker container) my jar fails to start. From debugging it seems the bootstrap process tries to resolve the wildfly-swarm-bootstrap fr

[2015-11-17 10:42] btison commented on #162
Forgot to add I am using 1.0.0.Alpha6-SNAPSHOT.

[2015-11-17 12:31] bobmcwhirter commented on #162
Hrm, that's intentional since the contents are exploded into the -swarm.jar
itself. Apparently I've done something wrong though. Can you attach or gist
the error you see?

--
Sent from my iPhone

On Nov 17, 2015, at 5:42 AM, Bernard Tison <notifications@github.com> wrote:

Forgot to add I am using 1.0.0.Alpha6-SNAPSHOT.

—
Reply to this email directly or view it on GitHub
<https://github.com/wildf

[2015-11-17 16:46] btison commented on #162
The error says the moduleloader cannot find the modules:
---
Exception in thread "main" org.jboss.modules.ModuleNotFoundException: org.wildfly.swarm.logging:main
        at org.jboss.modules.Module.addPaths(Module.java:1042)
        at org.jboss.modules.Module.link(Module.java:1398)
        at org.jboss.modules.Module.relinkIfNecessary(Module.java:1426)
        at org.jboss.modules.ModuleLoader.lo

[2015-11-17 19:24] bobmcwhirter commented on #162
Thank you for the fantastic report.  I’m investigating now.

On Tue, Nov 17, 2015 at 11:46 AM, Bernard Tison <notifications@github.com>
wrote:

[2015-11-17 20:00] #162 closed

[2015-11-17 20:01] bobmcwhirter commented on #162
I've tried this against an -example as usual and with -Dmaven.repo.local=./tmp to point to an empty maven repo, and both work, along with `mvn wildfly-swarm:run`.

Give it a whirl and let me know if this solves your problem

Once again, this bug report was terrific and helped very much in tracking this down.  Keep up the good work!

[2015-11-17 22:18] #149 closed

[2015-11-18 20:35] helio-frota commented on #101
Hi,

Using the `alpha5` got the following results:

1) Running from IDE main class the DataSource is registered but can't access index.jsp.
2) Running from mvn wildfly-swarm:run the DataSource is not registered but we can access index.jsp.

https://github.com/helio-frota/wildfly-swarm-war-datasource

[2015-11-18 22:36] emag commented on #101
@helio-frota
I think `index.jsp` should be treated as WebResource.

I changed some your code, and it seems it works. And, in Alpha5, index.jsp has to be under `resource` dir(classpath).

[code]

[code]

[2015-11-19 12:13] helio-frota commented on #101
@emag thanks for the diff + info !
I was trying to play with 'war + datasources + mysql' but without success for now (alpha5).

[2015-11-19 12:32] dansiviter opened #163 "Run Swam in IDE"
I've just tried running Swarm from my Eclipse so I can debug the code, and unfortunately dies with:

[code]

I would have thought this would be one of the first use-cases rather than having to bind remotely. If there is a way of doing this, can it be documented please?

[2015-11-19 12:35] bobmcwhirter commented on #163
Are you trying one of our lives samples or have a repo I can test against
to reproduce?

--
Sent from my iPhone

On Nov 19, 2015, at 7:32 AM, dansiviter <notifications@github.com> wrote:

I've just tried running Swarm from my Eclipse so I can debug the code, and
unfortunately dies with:

2015-11-19 12:27:53,035 INFO  [org.jboss.as] (Controller Boot Thread)
WFLYSRV0025: WildFly Core 2.0.0.CR8 "Kenn

[2015-11-19 12:36] dansiviter opened #164 "Maven 'packaging' element not inferred."
The default packaging in Maven is `jar` however if this element is missing `org.wildfly.swarm.container.Container#determineDeploymentType` will return `unknown` even though we can infer that it would be `jar`.

[2015-11-19 12:43] dansiviter commented on #163
I wish I could; I'm evaluating this with some code from my client and I can't expose that. Long and short of it is running `org.wildfly.swarm.Swarm` from within Ecilpse with the following dependencies:

* wildfly-swarm-logging
* wildfly-swarm-weld
* wildfly-swarm-ejb

No VM or program arguments passed in on Java 8_u66.

[2015-11-19 12:45] bobmcwhirter commented on #164
Great. That is easily fixable.

--
Sent from my iPhone

On Nov 19, 2015, at 7:36 AM, dansiviter <notifications@github.com> wrote:

The default packaging in Maven is jar however if this element is missing
org.wildfly.swarm.container.Container#determineDeploymentType will return
unknown even though we can infer that it would be jar.

—
Reply to this email directly or view it on GitHub
<https://githu

[2015-11-19 12:45] bobmcwhirter commented on #163
Okie dokie. I'll try to reproduce and will put my discovery and questions
here. Thanks!

--
Sent from my iPhone

On Nov 19, 2015, at 7:44 AM, dansiviter <notifications@github.com> wrote:

I wish I could; I'm evaluating this with some code from my client and I
can't expose that. Long and short of it is running org.wildfly.swarm.Swarm
from within Ecilpse with the following dependencies:

   - wildfl

[2015-11-19 12:57] dansiviter commented on #163
Thanks. Sorry to be a pain. I'll do my best to answer any questions.

[2015-11-19 12:58] bobmcwhirter commented on #163
No pain at all! I appreciate the bug report. Not everyone has code they can
share. Completely understandable.

--
Sent from my iPhone

On Nov 19, 2015, at 7:57 AM, dansiviter <notifications@github.com> wrote:

Thanks. Sorry to be a pain. I'll do my best to answer any questions.

—
Reply to this email directly or view it on GitHub
<https://github.com/wildfly-swarm/wildfly-swarm/issues/163#issuecomm

[2015-11-19 14:31] bobmcwhirter commented on #163
So, this is an implicit <packaging>jar</packaging> right?  And do you have some additional dependency (non-swarm) in the project?

I think the core problem here, which is definitely a bug, is in .jar deployments, we do a `.addAllDependencies()` which actually doesn't work as written for .jars.  For a .war, it'd add them to `WEB-INF/lib` of the .war.

I'll keep poking.

[2015-11-19 14:38] #164 closed

[2015-11-19 14:59] bobmcwhirter commented on #163
Okay, so if this is a .jar with EJB/CDI components, as a .jar it can't have any external dependencies, can it?  I'm a little confused as to how to exactly reproduce this or the use-case.  The default `Swarm` `main(...)` should attempt to deploy the maven-build `.jar` as a single thing.

There is a bug where there's dependencies from `-swarm` attempting to be added to the `.jar`.  I'm removing `.ad

[2015-11-19 15:07] dansiviter commented on #163
To confirm the original example above is `jar`, but as it's not gone through the packaging phase it's not all in one at that point. An IDE won't perform that as it will use the POM to load the classes and not create an uber-`jar`.

So I had a go deploying as a war (and adding `wildfly-swarm-undertow` dependency) and that is successful. Therefore, I feel some common ground is needed so we can devel

[2015-11-19 15:13] bobmcwhirter commented on #163
Right, I agree.

If we you were using regular WildFly (not WF-Swarm), and built a `.jar` and deployed it as usual, we'd have no dependencies, right?  Just the content of that exact maven-built `.jar`.

I'm actually pretty ignorant of EJB/CDI deployments outside of `.war` files, so if I'm missing something, let me know.

[2015-11-19 15:45] dansiviter commented on #163
Yea, that sound about right. It just so happened that I tried a non-webapp (normally a Maven built `jar`) and it wouldn't start up in the IDE. Obviously I'd like it to seamlessly work in both uber-`jar` mode and IDE with little (read: none) setup so I can be as my most productive. :wink:

[2015-11-19 15:48] dansiviter commented on #164
Thanks!

[2015-11-19 18:53] kenfinnigan commented on #163
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-173

[2015-11-19 18:54] kenfinnigan commented on #158
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-168

[2015-11-19 18:56] kenfinnigan commented on #157
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-167

[2015-11-19 18:57] kenfinnigan commented on #156
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-166

[2015-11-19 18:57] kenfinnigan commented on #154
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-164

[2015-11-19 18:57] kenfinnigan commented on #148
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-158

[2015-11-19 18:58] kenfinnigan commented on #139
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-149

[2015-11-19 18:58] kenfinnigan commented on #128
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-138

[2015-11-19 18:58] kenfinnigan commented on #122
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-132

[2015-11-19 18:59] kenfinnigan commented on #116
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-126

[2015-11-19 18:59] kenfinnigan commented on #114
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-124

[2015-11-19 18:59] kenfinnigan commented on #113
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-123

[2015-11-19 18:59] kenfinnigan commented on #112
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-122

[2015-11-19 19:00] kenfinnigan commented on #111
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-121

[2015-11-19 19:00] kenfinnigan commented on #101
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-111

[2015-11-19 19:00] kenfinnigan commented on #78
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-88

[2015-11-19 19:01] kenfinnigan commented on #70
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-80

[2015-11-19 19:01] kenfinnigan commented on #56
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-66

[2015-11-19 19:01] kenfinnigan commented on #25
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-35

[2015-11-19 19:01] kenfinnigan commented on #17
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-27

[2015-11-19 19:02] kenfinnigan commented on #5
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-15

[2015-11-19 19:02] kenfinnigan commented on #4
As part of a migration to JIRA for issue tracking, this issue has been moved to https://issues.jboss.org/browse/SWARM-14

[2016-03-03 15:48] kenfinnigan commented on #8
@tdiesler can you modify the commit to only changed code?

Looks like there's changes that break the code style we're using

[2016-03-07 13:45] heiko-braun commented on #10
@kenfinnigan Here's a working example for wfs-core. Maybe we can use it as a baseline for discussing the changes needed to enable persistent indexes?

[2016-03-07 14:22] kenfinnigan commented on #10
FYI, I had added the jandex plugin to parent pom so it can be shared across more than core.

Is there any benefit to customizing the index name? We're not doing anything WildFly Swarm specific in building the jandex right?

[2016-03-07 14:35] heiko-braun commented on #10
The custom index name is necessary, because otherwise it conflicts with indexes that WF expects at that location.

[2016-03-07 14:37] kenfinnigan commented on #10
Is it building differently than what WF expects? Otherwise I would not expect it to be an issue

[2016-03-07 14:39] heiko-braun commented on #10
yes, the indexes seem to be different. i didn't have the time to fully track down all the inner workings of deployer chains in WF and how they leverage jandex, but I can tell that our integration tests fail with indexes provided by us that carry the default name

[2016-03-10 12:42] kenfinnigan commented on #13
This is unlikely to happen

[2016-03-10 16:46] heiko-braun commented on #10
Cleaned up and squashed the commits to make it more comprehensible

[2016-03-10 16:49] heiko-braun commented on #10
With this build setup (jandex in the core pom) all our own fractions that don't reside within core inherit everything they need to make it work.

Only fractions that don't inherit from core would need to add the jandex plugin. But that's just the way it is. I don't think we do much about that.

[2016-03-10 16:54] heiko-braun commented on #10
With regard to the choices of

a) jandex in the fraction plugin and
b) jandex in it's own plugin (like it is now)

the first solution (a) sounds nice, but it would require adding the fraction plugin to any runtime module. currently it's only attached to the main module, but indexes generated at that level don't help.

the second option (b) seems to be most versatile, doesn't require additional cha

[2016-03-10 16:58] heiko-braun commented on #10
From my point of view this is ready to be merged

[2016-03-10 17:00] bobmcwhirter commented on #10
I'd say merge, and then I'll rebase my :spi stuff and get that in today, hopefully.

[2016-03-16 20:01] kenfinnigan commented on #14
What's the reason for rename?

[2016-03-16 20:02] gastaldi commented on #14
That's usually the convention for having empty directories. .gitignore is normally used only in the project root

[2016-03-16 20:04] gastaldi commented on #14
This explains better: http://harmssite.com/2012/08/gitignore-vs-gitkeep/

[2016-03-16 23:34] kenfinnigan commented on #14
Do we even need the empty directories?

Why not remove them?

[2016-03-16 23:47] bobmcwhirter commented on #14
They are retained for hbrauns parser factory stuff.

##

Sent from my iPhone

On Mar 16, 2016, at 7:34 PM, Ken Finnigan notifications@github.com wrote:

Do we even need the empty directories?

Why not remove them?

—
You are receiving this because you modified the open/close state.
Reply to this email directly or view it on GitHub
https://github.com/wildfly-swarm/wildfly-swarm-core/pull/14#issueco

[2016-03-18 19:26] kenfinnigan commented on #15
Does the spi module.xml in /container need to be updated to have a dependency on jandex module? Now that the spi has a provided dependency for it?

[2016-03-21 10:41] heiko-braun commented on #15
Cleaned up and squashed everything into one commit. From my point of view this is good to go. I'd suggest to move any further into dedicated branches (i.e. @kenfinnigan thoughts on the RuntimeDeployer)

[2016-03-21 11:49] heiko-braun commented on #15
My vote on merging this one: +1

@kenfinnigan ?

[2016-03-21 12:02] heiko-braun commented on #15
The latest commit fixes a typo and squashes everything into one again

[2016-03-21 12:02] gastaldi commented on #15
Looks good :+1:

[2016-03-21 12:40] kenfinnigan commented on #15
Just a quickie on RuntimeDeployer. Would we envisage that something like https://github.com/wildfly-swarm/wildfly-swarm-swagger/blob/master/adapter/runtime/src/main/java/org/wildfly/swarm/swagger/runtime/SwaggerConfiguration.java#L63 is replaced with using the index or not?

[2016-03-21 12:55] heiko-braun commented on #15
Looks like I broke the security with one of my latest commits. I'll need to enhance the test coverage for this and fix it, before we can move on.

[2016-03-21 12:56] heiko-braun commented on #15
@kenfinnigan re: Swagger. Yes, that's one of the intended use cases.

[2016-03-21 13:01] kenfinnigan commented on #15
Given that, we will need to prepare the index before calling prepareArchive() but also pass the index into that method, which is an SPI change.

Is there an alternative I haven't thought of?

[2016-03-21 14:49] heiko-braun commented on #15
@kenfinnigan we can still shuffle things around later, but I would suggest not to make all possible use cases (i.e. swagger) a pre-requisite for merging what we have so far.

[2016-03-21 15:49] heiko-braun commented on #15
Squashed everything again and fixed the JAXRSArquillianTest

[2016-03-22 14:36] kenfinnigan commented on #17
Is there a reason that the fraction isn't implemented in the same manner as `hibernate-validator`? As far as I can see, the fraction is simply pulling in some hibernate search modules. There is no WF extension to be started and no particular handling needed by WildFly Swarm

[2016-03-22 14:37] gastaldi commented on #17
@kenfinnigan I followed the instructions in https://wildfly-swarm.gitbooks.io/wildfly-swarm-users-guide/content/fraction_authoring.html. I guess you're right, let me change that

[2016-03-22 14:38] kenfinnigan commented on #17
need to update the docs, as there are definitely 2 kinds of fractions that can be developed

[2016-03-22 14:39] bobmcwhirter commented on #17
Sorry, that chapter is absolutely sub-par thus far.

On Tue, Mar 22, 2016 at 10:37 AM, George Gastaldi notifications@github.com
wrote:

[2016-03-22 17:29] gastaldi commented on #17
Please merge https://github.com/wildfly-swarm/wildfly-swarm/pull/3 after this PR is merged

[2016-04-04 10:41] jmesnil commented on #22
https://github.com/wildfly-swarm/wildfly-swarm-examples/pull/60 is an example illustrating how to create a messaging cluster of 2 Swarm servers.

[2016-04-08 13:02] gastaldi commented on #23
LGTM

[2016-04-13 12:25] kenfinnigan commented on #25
It's also worth exposing the new methods on https://github.com/wildfly-swarm/wildfly-swarm-core/blob/master/undertow/api/src/main/java/org/wildfly/swarm/undertow/descriptors/JBossWebContainer.java as then you can do `archive.setSecurityDomain()`

[2016-04-20 10:59] heiko-braun commented on #28
Can be merged once https://repo.maven.apache.org/maven2/org/wildfly/swarm/spi/1.0.0.Beta13/ becomes available

[2016-04-27 06:42] heiko-braun commented on #31
@eddumelendez Can you provide a brief description of the purpose, benefit or use case for this enhancement? This would be helpful to understand the context in which the wrapper is going to be used.

[2016-04-27 08:04] eddumelendez commented on #31
@heiko-braun I have added a description and also updated the version to 3.3.9.

[2016-04-27 08:38] heiko-braun commented on #31
thanks @eddumelendez

[2016-04-28 18:24] rbattenfeld commented on #32
I have corrected the wrong pom versions.

[2016-05-02 12:12] heiko-braun commented on #32
Thanks @rbattenfeld . I'll have a look this week.

[2016-05-04 08:18] heiko-braun commented on #32
@kenfinnigan @bobmcwhirter feel free to grab this one. I won't be able to look into before next week

[2016-05-10 08:01] heiko-braun commented on #34
Cool, looks good to me. Have you tested it with the config examples?

[2016-05-10 08:05] mkouba commented on #34
No, I have no idea how to do it ;-)

[2016-05-10 08:07] heiko-braun commented on #34
All you need to do is to build core with your changes and then run `mvn clean verify` on the examples: https://github.com/wildfly-swarm/wildfly-swarm-examples

[2016-05-10 08:08] heiko-braun commented on #34
You can also shortcut the examples by doing:

1) `cd base` `mvn clean install`
2) `cd ../config-options` `mvn clean verify`

[2016-05-10 08:08] heiko-braun commented on #34
These are the tests that should pass: https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/config-options/cdi-injection

[2016-05-10 08:09] heiko-braun commented on #34
The reason for running the examples is that they verify specific class loading combinations

[2016-05-10 08:12] mkouba commented on #34
These will have to be fixed - `@Configured` is removed and injection points require `@Inject` now.

[2016-05-14 03:08] kenfinnigan commented on #32
Merged

[2016-05-16 14:05] kenfinnigan commented on #32
Thanks for this @ralfbattenfeld!

Do you happen to have an example showcasing this PR that we could integrate into our examples repo?

If you do, a PR would be great

Thanks again!

[2016-05-30 16:31] lordofthejars commented on #38
I think that for UberJarContainer we have no way of using @Container annotation

.. I find it weird that GitHub allows me to edit your comments... (@bobmcwhirter)

[2016-05-30 19:01] bobmcwhirter commented on #38
For uber-jar, if we notice the @Container annotation, could we add some AnnotationBasedContainerFactory boiler-plate class and set a property pointing to the test-class?

The AnnotationBasedContainerFactory could possibly then instantiate the test-class, find the method with the annotation, and delegate to it.

[2016-05-30 20:25] bobmcwhirter commented on #38
I did the bits for UberjarSimpleContainer support of the same annotation.

Used in the ArqRequestControllerTest, since I couldn't conceive of a way to unit-test it.  Because I suck.

[2016-05-30 20:39] lordofthejars commented on #38
I wanted to do it tomorrow morning but thank you.
El 30 may. 2016 10:25 p. m., "Bob McWhirter" notifications@github.com
escribió:

[2016-05-30 22:59] bobmcwhirter commented on #38
Feel free to review. See above note about how I suck. My bits might could
be improved.

##

Sent from my iPhone

On May 30, 2016, at 4:39 PM, Alex Soto notifications@github.com wrote:

I wanted to do it tomorrow morning but thank you.
El 30 may. 2016 10:25 p. m., "Bob McWhirter" notifications@github.com
escribió:

—
You are receiving this because you modified the open/close state.
Reply to this em

[2016-05-31 14:07] bobmcwhirter commented on #40
Good work! Once CI goes green, I'll merge.

[2016-05-31 14:17] lordofthejars commented on #40
Thanks :)

[2016-05-31 15:44] kenfinnigan commented on #37
merged

[2016-06-03 15:21] gastaldi commented on #42
These properties should be removed from core, as they are only valid in SPI

[2016-06-03 15:44] bobmcwhirter commented on #42
Should remove our versions of addPackage on variations archive impl's that
throw now.

##

Sent from my iPhone

On Jun 3, 2016, at 4:03 PM, George Gastaldi notifications@github.com
wrote:

---

You can view, comment on, or merge this pull request online at:

  https://github.com/wildfly-swarm/wildfly-swarm-core/pull/42
Commit Summary
- SWARM-496: Upgrade to ShrinkWrap 1.2.4

File Changes
- _M_ pom

[2016-06-03 18:50] gastaldi commented on #41
I guess the reason why Artifact Not Found exception is given when running from a swarmed app is because the `management-console/api/target/classes/META-INF/wildfly-swarm-classpath.conf` file is generated with the following content:

[code]

How do I prevent them to be removed?

[2016-06-03 18:59] kenfinnigan commented on #41
The way swagger does it is to create a swagger-ui maven module that performs the extraction from the war into our war, and then that module is included in swagger-api

[2016-06-03 19:00] bobmcwhirter commented on #41
You can provide that file to prevent generation. Or something Ken can
suggest.

##

Sent from my iPhone

On Jun 3, 2016, at 7:50 PM, George Gastaldi notifications@github.com
wrote:

I guess the reason why Artifact Not Found exception is given when running
from a swarmed app is because the
management-console/api/target/classes/META-INF/wildfly-swarm-classpath.conf
file is generated with the followi

[2016-06-03 19:01] kenfinnigan commented on #41
Don't know if providing it would work, as it's no longer an either or.

It now adds more to that file if it exists, as opposed to not doing anything

[2016-06-03 19:03] gastaldi commented on #41
This is the JAR that is excluded: http://central.maven.org/maven2/org/jboss/as/jboss-as-console/2.8.25.Final/jboss-as-console-2.8.25.Final-resources.jar

[2016-06-03 20:10] gastaldi commented on #41
Works great now, created an UI module just as it was done in the Swagger fraction

[2016-06-10 01:03] gastaldi commented on #44
Clever! Looks good to me :+1:

[2016-06-10 12:21] kenfinnigan commented on #43
Any chance of a test in /container to verify these changes?

Would be nice to ensure that we don't break the behavior going forward

[2016-06-13 09:51] tdiesler commented on #43
It is verified [here](https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/camel/camel-jpa/src/main/resources/META-INF) - is that not good enough?

[2016-06-13 11:42] kenfinnigan commented on #43
That's fine

[2016-06-17 15:21] kenfinnigan commented on #46
I've merged this in.

Thanks a bunch for submitting this.

[2016-06-23 13:47] heiko-braun commented on #49
That's great. Thanks @tremes

[2016-06-23 20:30] gastaldi commented on #48
https://issues.jboss.org/browse/SWARM-527

[2016-06-25 00:59] bobmcwhirter commented on #50
We may wait until 1.0.Final to merge this. We are on the CR train. I'll
review next week either way. Thanks!

##

Sent from my iPhone

On Jun 24, 2016, at 8:57 PM, Stuart Douglas notifications@github.com
wrote:

This allows swarm backends to register themselves with mod_proxy based load
balancers.

This needs review, as I am not 100% sure how the config should work

## (especially with regard to t

[2016-07-08 18:18] jamezp commented on #52
This looks good to me.

[2016-07-12 14:01] tremes commented on #53
Why was this closed? By mistake?:)

[2016-07-12 14:04] bobmcwhirter commented on #53
It was apparently auto-closed due to a completely unrelated merge.  This is weird.

Re-opening.

[2016-07-12 17:39] gastaldi commented on #52
Thank you

[2016-07-18 11:36] heiko-braun commented on #57
@kenfinnigan I would appreciate some thoughts on this. In particular the changes in `SystemDependencyResolution#resolve()` which was previously in `ArtifactManager`

[2016-07-18 11:52] heiko-braun commented on #53
@bobmcwhirter what's the status of this? can it be merged?

[2016-07-18 14:36] heiko-braun commented on #57
Thinking further about the reasoning for my changes. I am coming from this end:
- `user.dir` seems to be unreliable (multi-module projects)
- `java.home` filtering seems to unreliable (on my box assorted JDK libs get included)
- the codepath that drives my changes was `deployment.addAllDeps()`

So, considering the above, in particular the last point, I was thinking that baselining on whatever info

[2016-07-18 14:39] kenfinnigan commented on #57
The problem is that IDE and wildfly-swarm:run execution don't deal with Maven dependencies. They only deal with directories and files that are already resolved to a location

[2016-07-18 14:48] heiko-braun commented on #57
Right, at least not directly. Indirectly however, the classpath (as in `System.getProperty("java.class.path")` ) is determined from the maven deps within the environment that invokes the main class, i.e. the maven plugin or the IDE itself.

[2016-07-18 14:53] heiko-braun commented on #57
Actually I think that even in a gradle build, the classpath ultimately goes back to a file system structure that references a local maven repository, because we only ship maven artifacts. That's why all gradle builds tie into the maven central and the local maven repo:

https://github.com/wildfly-swarm/wildfly-swarm-examples/blob/master/gradle/build.gradle#L4

As such I would expect, that even IDE

[2016-07-18 18:24] mhofstetter commented on #57
Gradle uses the local m2-repo only for dependency-resolution of local builded artifacts. But in case of a artifact from a remote-repository gradle stores this artifact in it's own cache under ~/.gradle/caches/... .

In general I think the previous approach of grabbing all dependencies of the java.class.path and then exclude some jars was the right one. It should be easier to exclude some jars like

[2016-07-18 18:53] heiko-braun commented on #57
Thanks @mhofstetter for the feedback. From this point of view I agree that the baseline on `.m2/repository` doesn't make much sense. I'll revert that to the previous of exclusions around the `java.class.path`.

Regarding the question of classes directories, regardless of the build tool (could be `target/classes` in the maven case or `build/classes` in the gradle case):

Do we actually need to cons

[2016-07-18 19:02] heiko-braun commented on #57
Regarding the `user.dir` property: This one seems to be really flaky, at least in intellij. Depending on the workspace setup it points to different project/module roots. This doesn't seem to be an issue when excluding `<target|build>/classes` as it is now.

In my setup, for instance, I have core and examples in the same workspace. But my right click run on an example `Main()` uses the core module

[2016-07-18 19:37] mhofstetter commented on #57
you're welcome @heiko-braun

In my opinion the addAllDeps should consider those directories because otherwise the classpath isn't complete. At least when talking about multiproject builds 'within the same build' (one swarm-app is composed of multiple projects). Building the code with the compiler from the IDE is the big advantage from running a swarm-app out of the IDE rather than using java -jar

[2016-07-18 19:41] kenfinnigan commented on #57
I've found that in Intellij the user.dir is dependent on both the project directory and classpath module as specified in the run settings.

If those aren't pointing to the right spots, you can easily get inconsistent behavior

[2016-07-18 19:47] mhofstetter commented on #57
@kenfinnigan That's why I have to manually set the "working directory" in my IDEA run config to a completely different folder to work around this 'user.dir' - filter.

[2016-07-18 19:50] kenfinnigan commented on #57
Interesting.

When I have it set to the directory of a project that contains a main(), or which I want to run Swarm() from, it works fine

[2016-07-18 19:59] mhofstetter commented on #57
It depends on the example / application you want to run. If you add your relevant classes to the archive via shrinkwrap in the main() it's fine. Then you just need the addAllDeps to add all 3rd party dependencies. Like in the jaxrs-shrinkwrap example.

If the project is a little bit bigger and you don't want to add all classes manually, then the addAllDeps have to add all my dependencies. Otherwis

[2016-07-18 21:15] mhofstetter commented on #57
ok - maybe a constellation like the one in the jaxrs-shrinkwrap example was the initial reason for the "user.dir" filter. If you add your necessary classes manually to the war-archive without the filter, the classes of the project with the main-class in it would be duplicated on the classpath. The project with the main-class in it would be treated like a JAR in the lib-folder of the WAR.

In the e

[2016-07-19 14:31] heiko-braun commented on #57
ok, the latest PR just retains the outer refactorings, but keeps the resolution logic as it was before. Consider this an interim commit to create another baseline for further discussions

[2016-07-19 14:33] gastaldi commented on #57
There is a feature in Maven called `WorkspaceReader` which I believe it may help in this scenario: https://github.com/forge/furnace/blob/master/manager/resolver/maven/src/main/java/org/jboss/forge/furnace/manager/maven/ClasspathWorkspaceReader.java

[2016-07-20 07:06] heiko-braun commented on #57
retest this please

[2016-07-20 09:53] heiko-braun commented on #57
retest this please

[2016-07-20 10:20] heiko-braun commented on #57
Regarding @mhofstetter's comment:

Maybe we need some agreement on classes versus dependencies. IMO addAllDeps() can mean both or one or the other. So far my understanding of that method was to add maven dependencies, not module contents. But I am not sure anymore. @kenfinnigan what do you think?

[2016-07-20 10:33] heiko-braun commented on #57
Another way to look at it, is to clearly separate the use cases.

If we extend the use cases (or make them more explicit as @mhofstetter suggested) then I can think of the following changes to the deployment API's:

a) addAllDependencies(): as before, just pulling in maven dep's
b) addProjectClasses(): pulling in `target/classes` based on `user.dir`
c) addProjectResources(): pulling in target/clas

[2016-07-20 10:40] bobmcwhirter commented on #57
+1

I dunno the current behavior but addAllDeps() originally meant 3rd party
deps, not the user's primary .jar.

Your proposed granularity seems to make sense to me.

Bonus points if we also have one that takes a Predicate filter.

addProjectClasses( e->{.... Return a bool} );

##

Sent from my iPhone

On Jul 20, 2016, at 6:33 AM, Heiko Braun notifications@github.com wrote:

If we extend the use c

[2016-07-20 10:49] heiko-braun commented on #57
@bobmcwhirter good idea. Each project type (packaging, fractions, etc) brings certain contents (classes, META-INF/WEB-INF resources) and it would be good if we can simplify the shrinkwrap packaging with auto discovery and placement of those files. Maybe prebuild predicates can help here too?

[2016-07-20 11:01] heiko-braun commented on #57
ok, I am going to merge this one so I can close SWARM-565. And would suggest to proceed the discussion around further changes on a different thread.

[2016-07-20 11:05] heiko-braun commented on #57
The packaging utils issue (my point b) and c) from above) can be found here: https://issues.jboss.org/browse/SWARM-569

[2016-07-25 13:15] kenfinnigan commented on #48
I think this got closed inadvertently as part of the merging of different repos.

Reopening

[2016-07-25 13:20] projectodd-ci commented on #48
Can one of the admins verify this patch?

[2016-07-29 06:41] heiko-braun commented on #48
retest this please

[2016-07-29 06:45] heiko-braun commented on #48
@lucasweb78 The `/health` context is special in that sense that it's not configurable by the regular means. It's installed by the monitoring fraction and not subject to modification. It's like a system context root, not modifiable by user code.

As such I would say the test, works on the wrong assertion. But are you able to reproduce the same scenario with different test that doesn't work on a sys

[2016-07-29 06:47] heiko-braun commented on #48
Or maybe you can elaborate on what you actually trying to achieve?

a) renaming the default `/health` context to something else?
b) or generally changing the web context root in arquillian tests?

[2016-08-02 21:20] projectodd-ci commented on #58
Can one of the admins verify this patch?

[2016-08-02 21:30] projectodd-ci commented on #59
Can one of the admins verify this patch?

[2016-08-02 21:30] gastaldi commented on #59
That looks interesting. Could you create an issue in https://issues.jboss.org/browse/SWARM and specify in this PR?

Thank you!

[2016-08-02 21:49] bobmcwhirter commented on #58
## Okay to test

Sent from my iPhone

On Aug 2, 2016, at 5:20 PM, Project:Odd CI notifications@github.com wrote:

Can one of the admins verify this patch?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
https://github.com/wildfly-swarm/wildfly-swarm/pull/58#issuecomment-237047674,
or mute the thread
https://github.com/notificatio

[2016-08-02 21:49] bobmcwhirter commented on #58
Okay to test

##

Sent from my iPhone

On Aug 2, 2016, at 5:20 PM, Project:Odd CI notifications@github.com wrote:

Can one of the admins verify this patch?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
https://github.com/wildfly-swarm/wildfly-swarm/pull/58#issuecomment-237047674,
or mute the thread
https://github.com/notificati

[2016-08-02 21:56] mhofstetter commented on #59
Here is the issue: https://issues.jboss.org/browse/SWARM-580

[2016-08-03 05:43] heiko-braun commented on #59
Ok to test

[2016-08-03 05:45] heiko-braun commented on #59
add to whitelist

[2016-08-04 08:01] heiko-braun commented on #60
@bobmcwhirter Here's the abstraction we talked about the other day. It's only used for the IDE:run cases. In the most simple case, it will implicitly use the 'user.dir' system property:

[code]

[2016-08-04 09:56] kenfinnigan commented on #60
Would it make sense to move the FS layout classes from /bootstrap to /container?

there's no guarantee that the bootstrap module will be loaded in anything other than an uber jar situation, as container module only has an optional dep on bootstrap module. And every fraction definitely has a dependency on the container module.

[2016-08-04 10:46] bobmcwhirter commented on #60
Container does have a maven dep on bootstrap so it should transitive
around.

The module dep is optional only because the bootstrap module doesn't have a
real module.xml and that freaks out the fraction plugin. It's always
available.

##

Sent from my iPhone

On Aug 4, 2016, at 5:56 AM, Ken Finnigan notifications@github.com wrote:

Would it make sense to move the FS layout classes from /bootstrap

[2016-08-04 11:09] heiko-braun commented on #60
I can't really remember why I moved it there. But I agree, `/container` seems to be more sensible.

[2016-08-04 11:18] heiko-braun commented on #60
retest this please

[2016-08-04 11:38] gastaldi commented on #60
<img class="emoji" title=":lgtm:" alt=":lgtm:" align="absmiddle" src="https://reviewable.io/lgtm.png" height="20" width="61"/>

---

_Comments from [Reviewable](https://reviewable.io:443/reviews/wildfly-swarm/wildfly-swarm/60#-:-KOKL6GWlY9HiwLDYHEN:1417088721)_

[2016-08-04 11:55] projectodd-ci commented on #61
Can one of the admins verify this patch?

[2016-08-04 12:50] projectodd-ci commented on #62
Can one of the admins verify this patch?

[2016-08-04 18:35] kenfinnigan commented on #61
ok to test

[2016-08-05 00:15] projectodd-ci commented on #63
Can one of the admins verify this patch?

[2016-08-05 00:32] bobmcwhirter commented on #63
Test this please

[2016-08-05 00:34] bobmcwhirter commented on #63
Add to whitelist

[2016-08-05 06:48] heiko-braun commented on #58
retest this please

[2016-08-05 06:49] heiko-braun commented on #58
@bobmcwhirter it seems your comment don't trigger a test run?

[2016-08-05 07:01] heiko-braun commented on #59
@bobmcwhirter any thoughts on this? Can it be merged?

[2016-08-05 07:03] heiko-braun commented on #58
lgtm

@bobmcwhirter any thoughts on this?

[2016-08-05 07:05] heiko-braun commented on #48
It looks this has fallen behind master. @lucasweb78 I would recommend two things:
- rebase with current master
- skim though my comments above and let me know if it makes sense

regards, Heiko

[2016-08-05 10:36] projectodd-ci commented on #58
Yes. But why? This is all magic to me.

##

Sent from my iPhone

On Aug 5, 2016, at 2:49 AM, Heiko Braun notifications@github.com wrote:

@bobmcwhirter https://github.com/bobmcwhirter it seems your comment don't
trigger a test run?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
https://github.com/wildfly-swarm/wildfly-swarm/pull/58#issuecomment-237

[2016-08-05 10:37] heiko-braun commented on #58
@bobmcwhirter see my recent email

[2016-08-05 11:30] projectodd-ci commented on #64
Can one of the admins verify this patch?

[2016-08-05 11:35] bobmcwhirter commented on #64
Ok to test

[2016-08-05 11:35] bobmcwhirter commented on #64
Test this please

[2016-08-09 14:00] projectodd-ci commented on #65
Can one of the admins verify this patch?

[2016-08-09 14:00] kenfinnigan commented on #65
test this please

[2016-08-09 14:02] kenfinnigan commented on #65
ok to test

[2016-08-11 17:05] kenfinnigan commented on #58
merged

[2016-08-11 19:24] bobmcwhirter commented on #68
test this please

[2016-08-11 21:42] bobmcwhirter commented on #70
Test this please

[2016-08-11 22:36] gastaldi commented on #70
Retest this please

[2016-08-11 22:46] gastaldi commented on #70
Ok to test

[2016-08-11 23:50] gastaldi commented on #70
Please retest

[2016-08-12 03:02] kenfinnigan commented on #71
@bobmcwhirter feel free to fix any of the tests i've had to mark @Ignore before I'm back

[2016-08-12 13:37] bobmcwhirter commented on #62
test this please

[2016-08-12 15:39] sfcoy commented on #62
This is not intended to be merged just yet; it was provided at Heiko's request

[2016-08-12 16:25] bobmcwhirter commented on #70
Yah, turns out we do _not_ want to do this.

Since some of these interfaces are in spi:api (not :runtime), we don't want to Proxy them (because @ApplicationScoped proxies) because then we have to mix weld3 into the spi:api.

We may want/need to move them to :runtime, but that could also affect plans for user-space usage of these interfaces in the future.

[2016-08-15 14:21] bobmcwhirter commented on #73
test this please

[2016-08-15 14:23] gastaldi commented on #73
Ok to test

[2016-08-15 18:56] bobmcwhirter commented on #75
ok to test

[2016-08-15 21:15] projectodd-ci commented on #62
Can one of the admins verify this patch?

[2016-08-15 21:15] projectodd-ci commented on #48
Can one of the admins verify this patch?

[2016-08-15 22:45] projectodd-ci commented on #78
Can one of the admins verify this patch?

[2016-08-15 22:47] jamezp commented on #78
I forgot to add this does not solve the internationalization problem with the `BootstrapLogger`. That will need to be solved in a different way.

[2016-08-15 22:55] bobmcwhirter commented on #78
You rock!

[2016-08-15 23:33] kenfinnigan commented on #78
ok to test

[2016-08-15 23:34] kenfinnigan commented on #78
doh, ignore me, it already tested it

[2016-08-15 23:42] kenfinnigan commented on #78
Thanks for this @jamezp!

[2016-08-16 06:18] tremes commented on #75
This could be good food for the doc (I can take a look because I think there's not much about JMX). Anyway thanks for explanation.

[2016-08-16 16:10] projectodd-ci commented on #79
Can one of the admins verify this patch?

[2016-08-16 18:20] bobmcwhirter commented on #79
Have you manually verified that the standalone keycloak-swarm.jar continues to work?

[2016-08-16 20:43] sebastienblanc commented on #79
@bobmcwhirter yep, I have both tested that keycloak-server works and keycloak fraction with my test apps. But I will double check with Keycloak team if `module.conf` needs to be updated

[2016-08-16 20:54] gastaldi commented on #82
Please retest this

[2016-08-17 06:51] projectodd-ci commented on #83
Can one of the admins verify this patch?

[2016-08-17 07:17] sebastienblanc commented on #79
@stianst is there any updates in the modules between kc 1.9.x and 2.x ? If I quickly compare I can see the `keycloak-authz-x`  modules but these are added transitively with `keycoak-services`

[2016-08-17 07:25] stianst commented on #79
There was some new modules introduced by authz other than that I can't think of any

[2016-08-17 12:47] kenfinnigan commented on #83
The presence check is like that so that setting a system property for the staging file will overwrite any other means of setting it.

You may even find that without calling swarm.withStageConfig() it's picked up your stages file off the classpath anyway.

If we incorporate this change, then doing swarm.withStageConfig() wins every time, which is not what is intended.

Maybe you could raise an issu

[2016-08-17 13:06] Athou commented on #83
I removed the whole withStageConfig() call and the file is indeed picked up off the classpath, solving my issue.

Thanks!

[2016-08-17 13:09] kenfinnigan commented on #83
No problem, glad its working

[2016-08-17 13:38] bobmcwhirter commented on #79
We do use their feature-pack, so hopefully they are all just available to us.  I think this is good to go.

[2016-08-17 20:57] gastaldi commented on #86
Ok to test

[2016-08-18 18:08] gastaldi commented on #89
:+1:

[2016-08-18 18:16] gastaldi commented on #89
Can't wait, need to test it ;)

[2016-08-19 21:50] gastaldi commented on #95
Beautiful! 👏 👏

[2016-08-20 15:54] kenfinnigan commented on #96
Should this be two separate PRs? One for wildfly upgrade and another for product name?

Also we should rename the commits as they say do not merge, etc

[2016-08-20 15:57] gastaldi commented on #96
The commit messages are replaced when "Squash and Merge" is chosen in the Github UI.

I don't think it needs another PR for the product name as it's a trivial change.

[2016-08-20 17:07] bobmcwhirter commented on #96
Id still rebase -i and clean it up and re-PR

##

Sent from my iPhone

On Aug 20, 2016, at 11:57 AM, George Gastaldi notifications@github.com
wrote:

The commit messages are replaced when "Squash and Merge" is chosen in the
Github UI.

I don't think it needs another PR for the product name as it's a trivial
change.

—
You are receiving this because you are subscribed to this thread.
Reply to this

[2016-08-20 17:17] gastaldi commented on #96
Ok, let me rebase it. And push -f to that branch

Em 20 de ago de 2016 14:07, "Bob McWhirter" notifications@github.com
escreveu:

[2016-08-20 17:25] gastaldi commented on #96
Rebased and ready :+1:

[2016-08-20 17:29] gastaldi commented on #96
This is a good candidate for a merge commit instead of "squash and merge", since it has 2 commits to be preserved

[2016-08-20 17:44] kenfinnigan commented on #96
If we're preserving two commits with separate jira's. Isn't that an indication it should be separate PRs?

[2016-08-20 18:10] gastaldi commented on #96
I can move to a separate PR on Monday if you want to, but IMHO what really matters is not the number of PRs but different commits that can be reverted if needed.

Also worth mentioning that in this case the Product name will only work after the WF upgrade commit is merged.

[2016-08-20 18:10] gastaldi commented on #96
Retest this please

[2016-08-20 19:03] kenfinnigan commented on #96
Though from a reverting standpoint separate commits are all that is required. And yes the second commit is relatively simple.

It's more an issue of perception. On Friday I laid out some ground rules around PRs, one of which was a single jira for each. If we subvert those rules from the get go, why would anyone feel that they should do as we say and not as we do.

Also, although one commit depends

[2016-08-20 19:21] bobmcwhirter commented on #96
:smiling-agreeable-chicken:

[2016-08-20 19:22] bobmcwhirter commented on #96
🐓

[2016-08-20 19:23] bobmcwhirter commented on #96
Did this pass locally?

[2016-08-20 19:32] gastaldi commented on #96
I tested before the rebase but the code didn't change, so I assumed this would pass. Will investigate further on Monday

[2016-08-20 23:42] gastaldi commented on #96
Retest this please

[2016-08-21 04:09] gastaldi commented on #96
Reproduced the same error as in the CI server. Weird that is passed before the rebase.  DO NOT MERGE THIS PR!

[code]

[2016-08-21 16:10] gastaldi commented on #96
This is something worth verifying also (it's happening in master branch too when running the testsuite-topology-webapp tests):

[code]

[2016-08-21 17:21] bobmcwhirter commented on #96
That package shouldn't be visible to weld. Definitely needs research.

##

Sent from my iPhone

On Aug 21, 2016, at 12:10 PM, George Gastaldi notifications@github.com
wrote:

This is something worth verifying also:

13:08:13,597 INFO  [org.jboss.weld.Bootstrap](ForkJoinPool.commonPool-worker-1) WELD-000119: Not generating any
bean definitions from
org.wildfly.swarm.topology.deployment.Registration

[2016-08-21 17:28] gastaldi commented on #96
Would it make sense to use a different bean discovery mode ?

[code]

[2016-08-21 17:33] bobmcwhirter commented on #96
What test or example do you see this from?

##

Sent from my iPhone

On Aug 21, 2016, at 12:10 PM, George Gastaldi notifications@github.com
wrote:

This is something worth verifying also:

13:08:13,597 INFO  [org.jboss.weld.Bootstrap](ForkJoinPool.commonPool-worker-1) WELD-000119: Not generating any
bean definitions from
org.wildfly.swarm.topology.deployment.RegistrationAdvertiser because
of under

[2016-08-21 17:55] gastaldi commented on #96
testsuite-topology-webapp

[2016-08-22 15:17] kenfinnigan commented on #97
restest this please

[2016-08-25 10:57] heiko-braun commented on #48
Closed as out-of-date. @lucasweb78  the issue however (https://issues.jboss.org/browse/SWARM-527) remains valid and I will look into it.

[2016-08-25 12:17] heiko-braun commented on #48
@lucasweb78 this was superseded by https://github.com/wildfly-swarm/wildfly-swarm/pull/111

[2016-08-25 17:47] bobmcwhirter commented on #115
LGTM

[2016-08-26 06:50] heiko-braun commented on #62
@sfcoy I just returned from vacation and lost the context somehow. What did we discuss on how to proceed with this?

[2016-08-26 06:54] heiko-braun commented on #62
IIRC we had some discussion about the purpose of `SimpleWSServer`. I think that would not be needed when the endpoints are deployed to Swarm.

[2016-08-26 06:56] sfcoy commented on #62
@heiko-braun I have not had the time to follow it up myself. Ultimately I'm trying to write some tests that prove that there is a problem when adding javax.xml.ws.handler.Handlers into a JAX-WS client.
 It's related to [Web service InvocationTargetException when using a custom javax.xml.ws.handler.Handler](https://groups.google.com/forum/#!topic/wildfly-swarm/NHMrt1pFpWA)

[2016-08-26 06:58] sfcoy commented on #62
Therefore I'm trying to bootstrap a simple WS server for the client test to call.

[2016-08-26 06:59] heiko-braun commented on #62
Thanks the link to the forum post is helpful.

[2016-08-26 07:05] heiko-braun commented on #62
@sfcoy Thanks I've captured the summary here: https://issues.jboss.org/browse/SWARM-637 and scheduled it for review in the next sprint (2016.10)

[2016-08-26 07:10] sfcoy commented on #62
This test is not yet working. We need a way to set up a WS stub or server for the client to call.

[2016-08-30 19:21] bobmcwhirter commented on #107
Superceded by https://github.com/wildfly-swarm/wildfly-swarm/pull/108

[2016-08-31 17:19] gastaldi commented on #62
I think https://github.com/wildfly-swarm/wildfly-swarm/pull/121 might fix this problem. Can you give it a try?

[2016-09-07 19:41] bobmcwhirter commented on #121
Should this still be hold'd?

[2016-09-07 19:46] gastaldi commented on #121
A project that reproduces this issue is missing, that's why it's on hold I guess

[2016-09-07 19:57] kenfinnigan commented on #121
I'm not sure this is the right fix.

Made some comments on irc this morning about finding wildfly docs that say a module needs to be added to deployment depending on which impl is being used.

So not sure if there's anything to fix

Ken

Sent from my iPhone

[2016-09-08 01:21] kenfinnigan commented on #121
Here's a link to the information I found that I referred to earlier: https://docs.jboss.org/author/display/WFLY10/JBoss+Modules+and+WS+applications

[2016-09-10 16:30] projectodd-ci commented on #136
Can one of the admins verify this patch?

[2016-09-10 16:35] bobmcwhirter commented on #136
Could you rebase this against master HEAD? It contains some commits already applied to master.

Else wise it looks great, thanks!

[2016-09-10 19:16] projectodd-ci commented on #137
Can one of the admins verify this patch?

[2016-09-10 20:12] projectodd-ci commented on #138
Can one of the admins verify this patch?

[2016-09-10 20:30] bobmcwhirter commented on #138
Ok to test

[2016-09-10 21:50] projectodd-ci commented on #138
Thanks for your contribution!

On Saturday, September 10, 2016, Bob McWhirter notifications@github.com
wrote:

[2016-09-11 19:39] gastaldi commented on #138
No JIRA for this PR? I guess we were supposed to merge once all the checklist items were ok?

[2016-09-11 19:41] projectodd-ci commented on #138
Figured I could make the JIRA Monday. And didn't want to discourage
community member when I already pushed back once for a rebase.

On Sunday, September 11, 2016, George Gastaldi notifications@github.com
wrote:

[2016-09-11 19:42] bobmcwhirter commented on #138
No idea why my mail comments are posting as from CI now.

[2016-09-11 19:54] slobodanl commented on #138
I just want to get your feedback for one possible issue that i see with the
module implementation, currently the module does not have direct dependancy
to eclipselink impl and from my perspecitive feels not selfcontained. Why i
skiped at first place was just the fact to provide more freedom for child
project to decide upon version that they would use. Then i figure out that
module resource filteri

[2016-09-12 08:42] projectodd-ci commented on #139
Can one of the admins verify this patch?

[2016-09-12 13:12] kenfinnigan commented on #139
ok to test

[2016-09-12 17:01] projectodd-ci commented on #140
Can one of the admins verify this patch?

[2016-09-12 17:06] gastaldi commented on #140
Ok to test

[2016-09-20 12:15] projectodd-ci commented on #148
Can one of the admins verify this patch?

[2016-09-21 10:03] heiko-braun commented on #149
rebased with current master that now includes #147

[2016-09-21 10:30] heiko-braun commented on #149
As for the pending changes to the gradle resolver, @mhofstetter suggested:

https://docs.gradle.org/current/userguide/dependency_management.html#sub:exclude_transitive_dependencies

[2016-09-21 10:48] heiko-braun commented on #148
add to whitelist

[2016-09-21 11:05] heiko-braun commented on #121
@gastaldi Would you be volunteering to review and fix both this one and #62? It would be good to wrap up and move on.

[2016-09-21 11:52] projectodd-ci commented on #151
Can one of the admins verify this patch?

[2016-09-21 14:06] gastaldi commented on #151
ProjectStagesTest is marked as @Ignored, so I don't think this test will run

[2016-09-21 14:46] gastaldi commented on #121
I created a project to reproduce this issue. The fix is not fully complete, will update it soon

[2016-09-21 16:56] cmoulliard commented on #151
Yep. it will not work till we have resolved the issue with Weld that I have reported

[2016-09-21 18:35] gastaldi commented on #121
I managed to reproduce the java.lang.reflect.InvocationTargetException with the following WebService:

[code]

I confirm that this PR fixes this issue

[2016-09-21 18:41] kenfinnigan commented on #121
It's not really a question of whether the PR fixes the reported issue, which you've proven it does.

The question is whether that's the right fix.

As the WildFly docs I linked in a previous comment state, they expect a user application to explicitly add a module dependency to the implementation their using, as there are several.

Simply adding the module into the fraction for all will not solve t

[2016-09-21 18:48] gastaldi commented on #121
I am not sure if it's worth the effort giving that I don't believe many people use SAAJ and future Java EE versions promote JAX-RS instead of the JAX-WS stack, but that would be just me.

[2016-09-22 12:58] gastaldi commented on #148
Merged in https://github.com/wildfly-swarm/wildfly-swarm/commit/6ec69715877e250eac78a5adb8414ed54a168cef

[2016-09-26 16:44] kenfinnigan commented on #154
Does this impact an archive without annotations or .advertise() calls such that presence of topology by default will advertise a service based on name of artifact?

Don't think it does from quick look at code, but wanted to check

[2016-09-26 17:35] bobmcwhirter commented on #154
@kenfinnigan you bring up a good point.

Currently, we do the full list of ArchivePreparers, which will auto-advertise.

Then, we do the full list of MetadataProcessors, which detect these annotations.

I'm trying a local build which swaps the direction of those.  Metadata first, then general ArchivePreparers.

Plus, trying to convince CI to be less goofy.

[2016-09-26 18:06] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:09] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:12] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:15] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:22] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:37] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:38] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:41] bobmcwhirter commented on #154
retest this please

[2016-09-26 18:46] bobmcwhirter commented on #154
retest this please

[2016-09-26 19:04] bobmcwhirter commented on #154
retest this please

[2016-09-26 19:47] bobmcwhirter commented on #154
retest this please

[2016-09-27 11:58] heiko-braun commented on #149
The last commit adds a test case that verifies the multi-module setup works correctly.

[2016-09-27 12:00] heiko-braun commented on #149
Thinking further about the Gradle questions above, I think I would like to keep this separate and move on with this fix in just the context of maven (which is what SWARM-696 is really about).

The current Gradle functionality should not be impacted by these changes, therefore I would suggest to merge this and look into further Gradle enhancements separately.

[2016-09-27 13:26] bobmcwhirter commented on #154
retest this please

[2016-09-27 20:31] gastaldi commented on #121
Closing PR as the solution is not ideal

[2016-09-28 10:01] projectodd-ci commented on #156
Can one of the admins verify this patch?

[2016-09-28 10:34] gastaldi commented on #156
Add to whitelist

[2016-09-28 17:35] bobmcwhirter commented on #156
retest this please

[2016-09-28 18:58] bobmcwhirter commented on #156
Would you mind squashing and rebasing this before we merge it?

[2016-09-28 21:15] bobmcwhirter commented on #158
Damnit. Will PR a fix tomorrow. Thanks!

[2016-09-29 05:05] cmoulliard commented on #156
No problem.

[2016-09-29 05:55] cmoulliard commented on #156
We can do that for sure but that should maybe done globally as all the factory methods are defined statically (createDefaultLoggingFraction, createErrorLoggingFraction, createDebugLoggingFraction, ...) ?

[2016-09-29 09:29] cmoulliard commented on #156
I will work on that and refactor LoggingFraction to support the chaining

[2016-09-29 12:46] heiko-braun commented on #149
Without this fix, any multi-module maven project will break at runtime, when a module that contains our plugin has a dependency that transitively refers to swarm fractions. A prominent example is booker, but also users have complained about this already.

I know that depending on GAV's bears the risk of braking when we change the main swarm group id's. Obviously not perfect, but from my point of v

[2016-09-30 05:34] heiko-braun commented on #149
@bobmcwhirter Do you think we can move on and merge it for the lack of a better idea at this point? I think the risk of using groupId's is acceptable.

[2016-09-30 13:21] bobmcwhirter commented on #149
Looks good to me. Plus if we move to fractions in a special groupId this would be super fine. Or if we must match any groupId of *.fractions maybe to be general and flexible but still string comparison on groupId.

Go for it.

[2016-09-30 13:21] bobmcwhirter commented on #149
I can't merge via phone apparently.

[2016-09-30 16:31] bobmcwhirter commented on #156
It may also help to fully build the wildfly-swarm-examples repository, to witness what does or doesn't break when you make fundamental changes such as this.

[2016-09-30 19:00] kenfinnigan commented on #62
Closing in favor of https://github.com/wildfly-swarm/wildfly-swarm/pull/162 that adds test and fixes problem

[2016-09-30 19:38] kenfinnigan commented on #162
closing in favor of https://github.com/wildfly-swarm/wildfly-swarm/pull/164

[2016-09-30 21:51] gastaldi commented on #164
Retest this please

[2016-10-05 18:31] kenfinnigan commented on #151
ok to test

[2016-11-04 08:51] heiko-braun commented on #156
If this doesn't make progress I'd suggest we close the PR.

[2016-11-08 19:41] kenfinnigan commented on #156
@cmoulliard, are there plans to complete the requested changes?

[2016-11-10 14:50] cmoulliard commented on #156
We can delete the PR & close the ticket. I propose that we have a more general discussion later about the conventions to follow to use the FluentApi about the fractions.

[2016-11-10 15:36] gastaldi commented on #156
Closing PR for now.