[2015-05-05 06:48] gdrouet opened #3 "Quick Start with a maven plugin"
Hi,

Do you plan to provide a maven plugin that generates a default main class if not exist and launch it with a single command line? This would be helpful to create lot of samples based on any wildfly components. What do you think?

[2015-05-05 12:33] kenfinnigan commented on #3
If an Project that uses WildFly Swarm doesn't specify it's own Main class, then https://github.com/wildfly-swarm/wildfly-swarm/blob/master/container/src/main/java/org/wildfly/swarm/container/DefaultMain.java is used by default.

Is there something more than that requirement you were looking for?

[2015-05-05 16:02] gdrouet commented on #3
Yes, the goal that runs the main class once packaging is done :-) maybe this already exist?

[2015-05-05 16:06] kenfinnigan commented on #3
You want to be able to execute the main class as part of the Maven plugin that packages it?

Currently once packaging is complete, you simply run 'java -jar myJar.jar' to execute.

[2015-05-05 16:13] bobmcwhirter commented on #3
Basically the maven-exec-plugin could handle it.

We could create a Mojo that wraps/extends it with the appropriate arguments to make it even easier to execute the just-created jar.

	-Bob

[2015-05-05 17:15] gdrouet commented on #3
That's it. A dedicated mojo could reduce boilerplates with maven exec plugin. The mojo could also expose some parameters to customize the default main class. This kind of API could be more userfriendly in some cases rather than writing a .java with a main method.

[2015-05-05 17:38] bobmcwhirter commented on #3
Just to clarify, I think we’re talking about two separate points:

a) Modifications to the ‘create' mojo to generate a MainClass (but you’d still need to muck about with the maven-jar-plugin mainClass config directly) with some parameters.

b) A new ‘run’ mojo to simplify the maven-exec-plugin

The main-class portion happens at build time, not execution time, other than defaulting to the -swarm’s

[2015-05-05 19:15] gdrouet commented on #3
+1! I think those enhancements bring more value to -swarm, what do you think? I can send a PR if you think this is in -swarm's scope

[2015-05-05 19:21] bobmcwhirter commented on #3
Certainly!

All PRs are welcomed and will be reviewed and more than likely merged.

Thanks!

[2015-05-05 19:57] hwellmann opened #4 "Wrapping standalone.xml"
Given a web app and a matching `standalone.xml` configuration for vanilla WildFly containing some datasources and JMS queues etc. required by the application, why not simply package the working and tested  `standalone.xml` into the fat JAR?

I don't see the point in having to mentally translate (parts of) the XML into some kind of Java Container Configuration DSL.

[2015-05-05 20:20] bobmcwhirter commented on #4
Sure! I think that's a reasonable request for certain.

--
Sent from my iPhone

[2015-05-05 20:27] robmv opened #5 "New tool to generate the final jar from source EAR/WAR without Maven"
Refactor the code in order to create a tool that can take a EAR or WAR generated using other build tools like ant, sbt, gradle, etc, and generate the self contained jar.

This code refactor could help create other plugins for those build tools, or users could call this new tool from their build scripts.

[2015-05-05 21:26] agoncal opened #6 "NullPointerException in wildfly-swarm-plugin"
I was playing around with Swarm on new samples but also existing ones.

In an existing JAX-RS sample that I had, I wanted to add Swarm, and I came across a `NullPointerException` when doing a `mvn clean install`. The reason is that I had declared the `wildfly-swarm-plugin` in the `pom.xml` but not the `wildfly-swarm-jaxrs` dependency (but instead just the usual `jboss-jaxrs-api_1.1_spec`.

To repr

[2015-05-05 21:31] agoncal commented on #3
BTW, Spring Boot has this sort of behaviour where you can either execute a jar with `java -jar my.jar`, or use the plugin `mvn spring-boot:run`.

A `mvn swarm:run` would be nice

[2015-05-05 21:32] bobmcwhirter commented on #6
Ah. We should error better if JBoss modules or the swarm bootstrap isn't in the dependency chain.

Thanks!

--
Sent from my iPhone

[2015-05-06 01:45] #6 closed

[2015-05-06 06:41] emag opened #7 "Parse Error at PicketBox module.xml"
WildFly Swarm is indeed what I wanted! Thanks.

BTW, I got a parse error at PicketBox module.xml. It seems `name` attribute(${org.picketbox:picketbox}) of `resources -> artifact` doesn't resolve.  Any idea?

[code]

[2015-05-06 10:33] kenfinnigan commented on #7
Unfortunately I wasn't able to reproduce the above problem by following the steps you described.

Were there any changes made that weren't mentioned above?

Trying to figure out why it has a problem

Thanks

[2015-05-06 10:42] smiklosovic commented on #7
@kenfinnigan we are using both

[2015-05-06 10:47] smiklosovic commented on #7
java 1.7 does the same thing

[2015-05-06 12:34] smiklosovic commented on #7
so our investigation is that it does not work on Fedora 21 nor 18. It does work on CentOS 6 and it does work, surprisingly, on FreeBSD 10.1. I think that @kenfinnigan is using something different from Fedora hence I think that Fedoras are distributions to blame however it is super weird really.

[2015-05-06 12:45] kenfinnigan commented on #7
I'm on Ubuntu and I think @bobmcwhirter is on Mac.

But yes, very weird for it to be specific to Fedora

[2015-05-06 13:19] ctomc commented on #7
it might be related to maven's settings.xml you guys have. jboss-modules tries to load it and use its repositories to download stuff.

[2015-05-06 13:20] bobmcwhirter commented on #7
We actually subvert that portion of JBoss Modules if I recall, replacing it with our own maven GAV resolver.

[2015-05-06 13:23] kenfinnigan commented on #7
That's correct, we don't use the Maven resolver within JBoss Modules, so it doesn't actually read the settings.xml

[2015-05-06 13:25] emag commented on #7
OS OK/NG Summary.

## OK

* CentOS 6.6
* FreeBSD 10.1
* Mac OS X(10.10.2)

## NG

* Fedora 18, 21
* Ubuntu 14.0.4

[2015-05-06 13:28] kenfinnigan commented on #7
Interesting, Ubuntu 15.04 works fine for me

[2015-05-06 13:30] smiklosovic commented on #7
@emag add ubuntu to 15.04 to the list please

[2015-05-06 13:30] ctomc commented on #7
according to stacktrace it is exactly there :)
anyhow, i would recommend setting logging for org.jboss.modules to TRACE or at least
org.jboss.modules.MavenArtifactUtil to TRACE, this will let us know if it is trying to use jboss-module's maven resolver

[2015-05-06 13:33] bobmcwhirter commented on #7
Yah, we replace ModuleXmlParser, so

org.jboss.modules.ModuleXmlParser.parseArtifact(ModuleXmlParser.java:890)

is actually our code that calls out to our resolver (separate class).

You can install the LoggingSubsystem into your Container (if you provide a main()) and set logging to whatever you like.  I think.

[2015-05-06 13:47] smiklosovic opened #8 "have system property which explodes working jars to custom dir instead of /tmp"

[2015-05-06 14:35] jamezp commented on #7
The issue is the version isn't specified in the maven coordinates. There's an attempt to resolve it, but it finds the incorrect version on some OS's. I'm looking into fixing it now.

[2015-05-06 15:46] emag commented on #7
I checked ModuleXmlParser.

When `repoPath` is `m2repo/org/picketbox/picketbox`, `entryName` is `m2repo/org/picketbox/picketbox-commons/1.0.0.final/picketbox-commons-1.0.0.final.jar` matches, so  `version` is assigned `1.0.0.final`.

`repoPath` should check end character?

https://github.com/wildfly-swarm/wildfly-swarm/blob/1.0.0.Alpha1/bootstrap/src/main/java/org/jboss/modules/ModuleXmlParser.jav

[2015-05-06 16:05] bobmcwhirter commented on #8
It seems that if you

java -Djava.io.tmpdir=/path/to/whatever myapp-swarm.jar

that will affect where the temporary files are placed.

It appears we do not delete them upon exit consistently.  I'll work on fixing that.

[2015-05-06 16:11] #8 closed

[2015-05-06 19:25] kenfinnigan opened #10 "Unable to find Main when built with Windows"
When https://github.com/myfear/WildFlySwarmDemo is built on Windows with:
[code]

java -jar swarm-sample-1.0-SNAPSHOT-swarm.jar results in:
[code]

[2015-05-06 19:33] #10 closed

[2015-05-06 19:35] arun-gupta opened #11 "Application not accessible on localhost"
Created a simple JAX-RS sample as at:

https://github.com/arun-gupta/wildfly-samples/tree/master/swarm

The application is accessible at http://127.0.0.1:8080/resources/resource but not at http://localhost:8080/resources/resource. This is using `curl`. Both the URLs work from the browser.

Error log from localhost:
[code]

Log from 127.0.0.1:
[code]

[2015-05-06 19:39] kenfinnigan commented on #11
Is it fixed if you take the answer from -> http://superuser.com/questions/830920/curl-local-host-names-on-mac-os-x-yosemite ?

[2015-05-06 19:40] bobmcwhirter commented on #11
By default Undertow binds to 127.0.0.1

https://github.com/wildfly-swarm/wildfly-swarm/blob/master/container/src/main/java/org/wildfly/swarm/container/Container.java#L150

This can be overridden by using

    java -Djboss.bind.address=0.0.0.0 -jar myapp-swarm.jar

Alternatively, maybe we could make 0.0.0.0 the default, to bind to all interfaces instead of just 127.0.0.1.

Your failure with `localh

[2015-05-06 19:42] jamezp commented on #7
Should be fixed with the following https://github.com/wildfly-swarm/wildfly-swarm/pull/12

[2015-05-06 19:54] emag commented on #7
@jamezp  Wow! your PR is great and I checked it works on Fedora 21.
@bobmcwhirter Please ignore my PR.

[2015-05-06 20:01] arun-gupta commented on #11
Binding to `0.0.0.0` is very reasonable. This is what is done for Docker images as well.

[2015-05-06 20:02] #7 closed

[2015-05-06 21:05] hwellmann opened #13 "module.xml parsing exception"
I'm getting the following strange exception when launching the swarm JAR built from `example-jaxrs`.

[code]
The funny thing is, the problem depends on the machine or some environment conditions and is related to the order of the resources in the JAR.

I'm using Maven 3.1.1 and Java 1.7.0_80 on two different machines running Ubuntu 12.04 and 14.04 respectively. Let's call the build results from th

[2015-05-06 21:11] kenfinnigan commented on #13
Thanks for the detailed explanation @hwellmann !

Are you experiencing this problem with Alpha01? I ask because there were some changes related to problems identifying the correct module.xml and with Windows path separators that were resolved today. Are you able to re check with a build of master?

Thanks
Ken

[2015-05-07 12:53] jomoespe opened #14 "error packaging project: java.lang.NoClassDefFoundError: org/eclipse/aether/RepositorySystemSession"
I create a simple JAX-RS application.

When I try to package the application (mvn clean package) an exception raised and i'm a bit lost:

[code]

My POM looks like:
[code]

Environment:
- ubuntu 15.04 (3.19.0-16-generic)
- java version: **1.8.0_45**
- maven version: 3.0.5

[2015-05-07 13:01] bobmcwhirter commented on #14
I suspect your Maven is too old, maybe.

I'm using Maven 3.2.5.

[2015-05-07 13:02] kenfinnigan commented on #14
Yes, I believe we require a minimum of Maven 3.2.x, due to how the plugin is written

[2015-05-07 13:39] jomoespe commented on #14
Updated maven to **3.2.1** and pakaged! Go to next step ;)

Thanks.

[2015-05-07 13:39] #14 closed

[2015-05-07 14:20] #11 closed

[2015-05-07 14:21] bobmcwhirter commented on #3
@gdrouet Are you actively working on this?  If not, I'll work on creating a RunMojo today.  But I don't want to trample your toes if you've got something in the works.

[2015-05-07 14:27] gdrouet commented on #3
Sorry I won't have the time to work on this before 1/2 weeks, just designed in my head atm :-)

You can work on it now!

[2015-05-07 14:28] bobmcwhirter commented on #3
Okie dokie, thanks!

[2015-05-07 14:40] gdrouet commented on #3
BTW as you can imagine I'm really interested in this feature, if you can cut a release once you have something to test then I'll have a concrete use case to share ;-)

[2015-05-07 14:42] bobmcwhirter commented on #3
I imagine we'll be cutting Alpha releases pretty quickly in the near term, as folks have found issues and we're making improvements quickly.  We'll definitely let you know when we do.

[2015-05-07 17:03] hwellmann commented on #13
Yes, the problem was with Alpha1. It no longer occurs with a local build from master. Looks like a duplicate of #7.

[2015-05-07 17:03] #13 closed

[2015-05-07 17:11] hwellmann opened #15 "Set maven prerequisites in plugin"
If `wildfly-swarm-plugin` requires a minimum Maven version, it should define a Maven prerequisite in its POM to provide a clear error message to the user, e.g.

    <prerequisites>
        <maven>3.1.0</maven>
    </prerequisites>

According to the README, Maven 3.2 is required, but 3.1.0 works for me. Maven 3.0.5 does fail with

    Caused by: java.lang.ClassNotFoundException: org.eclipse.aether.

[2015-05-07 17:24] #15 closed

[2015-05-08 10:51] mcmil opened #17 "Creating EAR-based applications"
I was wondering If it is currently possible to create EAR-based deployments with wildfly-swarm. I've missed any information about it, and there is a lot of *.war checks in the source code. Is it a planned feature? Or is it possible at the current state to add it just by creating a new `Deployment` implementation?

[2015-05-08 12:59] kenfinnigan commented on #17
It's not something we've tested, to my knowledge, so it may work but I suspect there are going to be pieces missing from making it work well.

[2015-05-08 13:24] bobmcwhirter commented on #17
I can't remember the last time I created an EAR, but if you could maybe give us an un-working example-ear.git repository to construct your .ear, we can then muck with it until it works.

[2015-05-08 22:49] eprogramming commented on #5
+1
gradle

[2015-05-11 16:53] emag opened #19 "CDI doesn't work"
Although I apply [weld-fraction(and some dependent fraction)](https://github.com/emag/wildfly-swarm-quickstarts/blob/master/jaxrs-cdi/pom.xml#L41-L58), I can't use CDI features.

In this my sample, a field added @ Inject is not injected.

https://github.com/emag/wildfly-swarm-quickstarts/blob/master/jaxrs-cdi/src/main/java/wildflyswarm/jaxrscdi/api/EmployeeController.java#L22

Classes added @ Appl

[2015-05-11 17:54] smiklosovic commented on #19
this is a must for my use case as well

[2015-05-12 10:04] ghassen1khalil commented on #14
I'm using :
* java version: 1.8.0_45
* maven version: 3.2.5

and I"ve got the same error :`<java.lang.NoClassDefFoundError: org/eclipse/aether/RepositorySystemSession>`

[2015-05-12 12:31] emag commented on #14
@ghassen1khalil

Hmm, I can not reproduce it on the environment.

Or, do you build the app on IDE?
FWIW, Some IDE(IntelliJ IDEA 14, NetBeans 8.0.2) default setting use Maven 3.0.5(bundled).

[2015-05-12 15:55] ghassen1khalil commented on #14
Yes I'm using Eclipse Luna 4.4.0

[2015-05-12 16:22] emag commented on #14
Umm, it works the following flow on just clean installed Eclipse Luna 4.4.2(bundled maven version is 3.2.1).

1. Import example-jaxrs(https://github.com/wildfly-swarm/example-jaxrs)
 * I changed -swarm version to 1.0.0.Alpha2-SNAPSHOT(upstream)
2. Select `Run As` -> `Maven build...`
3. Input `package` into `Goals:` and Run

Your Maven using Eclipse is 3.2.5 ?

[2015-05-12 21:51] ghassen1khalil commented on #14
Actually my problem is caused by some plugin named : maven-surefire-plugin 2.12.4
Error message :
`< [ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.12.4:test (default-test) on project common-jpa2ddl: There are test failures. >`

[2015-05-12 21:56] bobmcwhirter commented on #14
That can be removed if we have no tests. And we don't.

--
Sent from my iPhone

[2015-05-12 22:02] kenfinnigan commented on #14
It also appears to be a problem with a project named common-jpa2ddl and not the example.

[2015-05-13 01:57] #19 closed

[2015-05-13 02:00] bobmcwhirter commented on #19
That's awesome!

--
Sent from my iPhone

[2015-05-13 08:03] ghassen1khalil commented on #14
Sorry guys but I'm a little bit beginner so can you explain to me easily :D

[2015-05-13 08:10] smiklosovic commented on #19
nice!

[2015-05-13 10:11] emag commented on #14
@ghassen1khalil
Can you share your project(common-jpa2ddl) ? I don't know I can help you, but I' ll try it.

[2015-05-13 10:22] ghassen1khalil commented on #14
@emag thanks for your collaboration :) here is the  [repository] (https://github.com/ghassen1khalil/common-jpa2ddl)

[2015-05-13 11:12] kenfinnigan commented on #14
@ghassen1khalil from looking at your repository it doesn't appear that you're using WildFly Swarm, is that correct?

[2015-05-13 12:06] ghassen1khalil commented on #14
That's correct, but I've got the same error

[2015-05-13 14:50] emag commented on #19
Great! :)

[2015-05-13 15:19] kenfinnigan commented on #14
@ghassen1khalil you might be better off contacting the surefire plugin project, as the problem appears to be related to that.

[2015-05-13 15:48] kenfinnigan opened #21 "static content sample"
_From @eprogramming on May 13, 2015 10:16_

hi @kenfinnigan , how we can use index.html / *.css / *.js ?
thanks for this example + 1

_Copied from original issue: wildfly-swarm/example-servlet-cdi#1_

[2015-05-13 15:48] kenfinnigan commented on #21
Do you have an example project/repo of what you're looking to achieve?

Might be easier to convert that to work with WildFly Swarm

[2015-05-13 15:48] kenfinnigan commented on #21
_From @eprogramming on May 13, 2015 15:12_

@kenfinnigan

yup https://github.com/aeshell/nanook/tree/with-wildfly-swarm

I just need *.css *.js *.html

[2015-05-13 15:48] kenfinnigan commented on #21
_From @bobmcwhirter on May 13, 2015 15:14_

Yah, I'd definitely like to make static resources easy to serve.  Dunno if that's some flavor of StaticResourceDeployment or something else.  Configuring a resource-servlet is a pain when you just want to serve up files from within the jar or filesystem.

[2015-05-13 15:48] kenfinnigan commented on #21
_From @eprogramming on May 13, 2015 15:20_

@bobmcwhirter
this feature would be very good

+1

[2015-05-13 16:01] kenfinnigan opened #22 "Missing favicon.ico produces verbose exception in logs"
When running the JAX-RS examples, there is a very verbose exception logged when favicon.ico can not be found.

Not sure if it's particular to RESTeasy or Undertow, but might be worth trying to work around in WildFly Swarm

[2015-05-13 17:22] emag opened #23 "JPA support"
I created a simple JAX-RS + JPA app.

https://github.com/emag/wildfly-swarm-quickstarts/tree/master/jaxrs-jpa

I use [@ PersistenceContext for injection EntityManager](https://github.com/emag/wildfly-swarm-quickstarts/blob/master/jaxrs-jpa/src/main/java/wildflyswarm/jaxrsjpa/domain/repository/EmployeeRepository.java#L17-L18) but not injected.
It seems it is needed JPA Fraction. In WildFly Distro,

[2015-05-13 17:35] kenfinnigan opened #24 "Update samples to Java EE 7"
_From @arun-gupta on May 6, 2015 16:32_

Code samples should be updated to Java EE 7.

Particularly https://github.com/wildfly-swarm/example-jaxrs/blob/master/src/main/webapp/WEB-INF/web.xml is not even needed. Or should look something like https://github.com/javaee-samples/javaee7-samples/blob/master/servlet/metadata-complete/src/main/webapp/WEB-INF/web.xml.

Note the namespaces are different.

I

[2015-05-13 17:36] smiklosovic commented on #23
I consider JAX-RS, JPA and CDI to be the absolute basics which should be supported fully. Without this functionality you can not do anything meaningful really ... Would you be so nice and support that please?

[2015-05-13 17:43] kenfinnigan commented on #23
We welcome all PRs, especially for additional functionality!

As we're working on other tasks, it's the fastest way to enable new functionality sooner.

Thanks
Ken

[2015-05-13 18:01] emag commented on #23
@kenfinnigan  Thanks you for your reply. OK, I'll try it :)

[2015-05-14 22:42] gdrouet opened #25 "Discussion on wildfly-swarm, like the possible uses"
Hi,

I want to start a discussion on the project because I've big questions around futures possibilities the project wants to provide.

What is the best place? Is there any ML? Or do you prefer we use github issues?

Thanks

[2015-05-14 23:00] bobmcwhirter commented on #25
Issues are great or the wildfly list if you have general questions.

--
Sent from my iPhone

[2015-05-15 08:44] gdrouet commented on #25
Ok,

Wildfly swarm improves the way we package the application by selecting only the technical components we need.

First question: is it possible to cut my application in multiple fatjar? For instance one fatjar with JAX-RS services and one other with my JMS queues. I think that currently I can do it by configuring a profile for each desired package and then run all profiles with separated comman

[2015-05-15 10:38] kenfinnigan commented on #25
Currently there isn't a way to specify multiple fat jars, with different technical content, for a single Maven project.

There is also no means of defining specific pieces of application code that should be present within a fat jar.

To help us understand the purpose of your request, could you elaborate on what your use case is?

For instance, do you have an existing application that currently has

[2015-05-15 11:27] gdrouet commented on #25
In the past we add several projects that we wanted to deliver to our customers as an extensible core. With a catalog of additional plugins, the customer could chose what he wants. We wanted to deliver each ordered plugin as a JAR to be added in their production environment.

We worked on a modular architecture where components could be added and removed very easily without reinstalling all the app

[2015-05-17 14:02] nmcl opened #27 "Missing exports from Transaction Fraction"
Presumably just as the JMS one exports the JMS API, so should this one export JTA , i.e.,

<export>javax.transaction</export>

[2015-05-17 14:07] bobmcwhirter commented on #27
Probably exactly. Thanks!

--
Sent from my iPhone

[2015-05-17 14:26] nmcl commented on #27
Meant to say that at least for now I'm able to work around this by including the following in my example builds ...

<dependency>
	<groupId>javax.transaction</groupId>
	<artifactId>jta</artifactId>
	<version>1.1</version>
      </dependency>

[2015-05-17 14:29] nmcl opened #28 "Transaction example"
I've created a basic transaction example and will continue to update it. Not sure if you want to include it within the main repo or link to it - I'm happy to do either.

https://github.com/nmcl/wfswarm-example-transactions

[2015-05-17 14:39] bobmcwhirter commented on #28
Awesome! Definitely want to pull examples under our organization to keep them all handy and up-to-date.

I'll grant you privs tomorrow.

--
Sent from my iPhone

[2015-05-18 12:38] kenfinnigan commented on #25
It may not be the prime use case that WildFly Swarm was intended for, but we're open to seeing a contribution that could provide such functionality while still supporting the main use case of a single WAR project to single fat jar.

[2015-05-20 04:28] arun-gupta commented on #23
JPA support is very essential, and would love to see this coming through.

[2015-05-20 06:05] emag commented on #23
Now I'm working on creating JPA Fraction and I've got a problem.

In using WildFly-Swarm, you must create a class has main() for setting datasource(e.g. [example-datasource](https://github.com/wildfly-swarm/example-datasource-subsystem/blob/master/src/main/java/org/wildfly/swarm/examples/ds/subsystem/Main.java#L19-L27)),  the application packaging must be `jar` and, -Swarm will transform the app f

[2015-05-20 10:19] kenfinnigan commented on #28
Closing, as the example has been migrated to this organization

[2015-05-20 10:19] #28 closed

[2015-05-20 10:29] kenfinnigan commented on #23
@emag, could you provide a link to your current code?

[2015-05-20 10:36] #27 closed

[2015-05-20 10:40] emag commented on #23
@kenfinnigan

https://github.com/emag/wildfly-swarm/tree/add-jpa-fraction-spike/fractions/jpa

And, I'm going to remove [some codes](https://github.com/emag/wildfly-swarm/blob/add-jpa-fraction-spike/fractions/jpa/src/main/java/org/wildfly/swarm/jpa/JpaFraction.java#L38-L45) because these are not resource but attributes.

[2015-05-20 11:30] bobmcwhirter commented on #23
Your app can be natively a war also. See the example-servlet?

--
Sent from my iPhone

[2015-05-20 12:09] emag commented on #23
@bobmcwhirter If I package my app as `war`, how can I set datasources ?

[2015-05-20 16:24] lance opened #29 "Netflix OSS Support"
Netflix OSS provides powerful open source tools that would be very nice additions to WF Swarm. These tools can enable services and patterns like Service Discoverability, Client Side Load Balancing, and Circuit Breaker. Because Netflix assumes an AWS infrastructure for at least one of these services, we will need to either find a replacement or fork/modify the Netflix offerings.

The Netflix tools

[2015-05-20 16:31] emag commented on #29
+1 !

[2015-05-20 16:46] kenfinnigan commented on #29
Would something like this be for WildFly Swarm, which is mostly concerned with fat jar'ing WildFly pieces, or would it be suited to something that would utilize WildFly Swarm as a deployment structure but is itself a separate project?

For example, this is an area I've been thinking of shifting LiveOak towards, being a microservice container with discovery, etc

[2015-05-20 17:16] burrsutter commented on #29
From my end-user perspective, the discovery piece is the "easy" part, having load-balancing & circuit-break (and other services) with async invocations, all with a super simple annotation-based packaging is the more interesting part.
@kenfinnigan I agree that there are aspects of LiveOak that could be valuable here as well - as REST would be the default communication model between services

[2015-05-20 21:21] lance commented on #29
@kenfinnigan no, I don't think this has to be swarm specific. I think these would be components that we should be able to use elsewhere for sure. But I keep hearing about it in regards to Swarm (I'm looking at you, @burrsutter), so this just seemed like the most convenient place to get the conversation started. Perhaps it is another project entirely.

With regard to easy vs. hard, I think all of t

[2015-05-21 22:28] agoncal opened #30 "Discussion on wildfly-swarm, fatjar packaging"
Hi all,

I'm interested in knowing more about the internal structure of the Fatjar. When I look at the examples, I see the following structure

[code]
Under the `app` directory I find the application, packaged in a war. What puzzles me is the split between `m2repo` and `modules`. I was expecting to find the same structure as Wildly under `modules` : a mix of module descriptors and jar files. But i

[2015-05-21 22:31] bobmcwhirter commented on #30
It's changing for alpha2 but I'll will certainly be sure to document he format.

--
Sent from my iPhone

[2015-05-21 22:47] bobmcwhirter commented on #30
I'll reply more fully tomorrow when I'm not on my phone also. I don't mean to be terse.

--
Sent from my iPhone

[2015-05-22 13:11] bobmcwhirter commented on #30
Okay!

While some of this is changing for Alpha2, here's the basic run-down...

We consume the module.xml files from the -feature-pack.zip files that WildFly-Core and WildFly proper produce.

The feature-pack uses <artifact> to reference jars, typically using an expression like ${groupId:artifactId}.

It includes a wildfly-feature-pack.xml at the root which can be used to determine the *version* o

[2015-05-22 13:32] agoncal commented on #30
Thanks for the clarification. I can see that things are still moving ;o)

[2015-05-22 21:44] agoncal opened #31 "How is the web context set in undertow ?"
Hi all,

I'm playing with JBoss Forge and the Swarm-addon for Forge. Basically, this addon just sets up the Swarm dependency in the `pom.xml`, and it works quite well actually.

So, when I create a basic REST endpoint with Forge I'd go :

[code]

This creates a `test.war` file, I package it, deploy it to Wildfly, and I can ping my endpoint pointing at `http://localhost:8080/test/rest/myEnpoint`. T

[2015-05-23 01:24] emag commented on #31
You can add your own jboss-web.xm if you package your app as warl.

[code]
But, in the case of `jar` packaging for some fraction settings, I don't know how to change it.

## reference

https://github.com/wildfly-swarm/example-jaxrs#use

[2015-05-23 01:31] bobmcwhirter commented on #31
The runtime adds a jboss-web.xml if there isn't one in your app already. Perhaps we should make it optional or configurable.

--
Sent from my iPhone

[2015-05-23 08:47] agoncal commented on #31
And what about being able to customize the context root in the Swarm plugin, (such as the Maven [ear plugin](https://maven.apache.org/plugins/maven-ear-plugin/examples/customizing-context-root.html)). Something like :

[code]

[2015-05-23 10:10] kenfinnigan commented on #31
We can certainly provide ways to customize what the context is, but I'm curious as to the benefit?

Given WildFly Swarm is single deployment, what are the benefits of being able to set the context root to something other than '/' ?

[2015-05-23 10:27] agoncal commented on #31
You can see it as another way of differentiating services. If I need to have several microservices running on the same machine, I need to change port numbers, REST endpoints, servlets.... but why not also being able to change the context root ?

In the example I'm giving with Forge, it's a nice way to show that deploying the war or running the fatjar is identical : same root context, same services

[2015-05-23 15:13] bobmcwhirter commented on #31
For services all within a jar that makes sense. Across multiple ones though, you have to have non-conflicting ports anyhow, no?

--
Sent from my iPhone

[2015-05-23 15:22] agoncal commented on #31
Yes, conflicting port is an issue for sure. BTW, can the port number be configured in the Swarm plugin like the [JBoss plugin](http://docs.jboss.org/jbossas/7/plugins/maven/latest/examples/run-example.html) ?

[code]

[2015-05-23 15:43] bobmcwhirter commented on #31
Defaults to 8080 and with fatjar can be controlled with the property jboss.bind.port to override.

Adding to the config might be useful. Especially for wildfly-swarm:run plugin.

Would you mind filing an issue for this feature?

--
Sent from my iPhone

[2015-05-23 15:52] agoncal opened #32 "Being able to configure port number in the Swarm plugin"
When executing several fatjars in the same machine, port numbers will conflict. It would be good to have the port number configured in the Swarm plugin like the [JBoss plugin](http://docs.jboss.org/jbossas/7/plugins/maven/latest/examples/run-example.html). Something like :

[code]

[2015-05-23 15:52] agoncal commented on #31
Done

[2015-05-24 02:33] eprogramming commented on #21
hi, this web framework handles static resources using undertow:
(Java micro web framework built on top of Undertow)

https://github.com/EsmerilProgramming/overtown
here is a blog post ('cloverx' is the old name of the framework)
http://eprogramming.github.io/blog/2015/2/10.html

[2015-05-24 15:00] agoncal commented on #31
And what about configuring the context root ? Do you want me to create an issue or you forget about it now ?

[2015-05-24 15:15] bobmcwhirter commented on #31
I think this issue is good for tracking that.

--
Sent from my iPhone

[2015-05-26 19:18] AliWanBengali commented on #5
+1 for gradle

[2015-05-26 22:13] michal-nowak commented on #5
+1 for gradle support. My company is really looking forward to use Swarm with gradle.

[2015-05-27 08:03] arekgabiga commented on #5
+1 for gradle support

[2015-05-27 22:39] ctomc commented on #21
@kenfinnigan @bobmcwhirter you guys could just configure undertow subsystem to handle this.
maybe by hiding it by some nicer api. but it is out of the box functionality subsystem provides.

[2015-05-27 23:08] eprogramming commented on #21
Awesome !
you guys rock !

[2015-05-27 23:46] kenfinnigan commented on #21
@ctomc can you point to an example of what config would be required?

[2015-05-28 07:27] amannm opened #34 "Websocket Support"
I'm currently making websocket microservices using a "fork" of Wildfly Swarm where the only difference is the addition of this dependency to the `wildfly-swarm-undertow` module's `pom.xml`
<pre>
        &lt;dependency&gt;
            &lt;groupId&gt;org.jboss.spec.javax.websocket&lt;/groupId&gt;
            &lt;artifactId&gt;jboss-websocket-api_1.1_spec&lt;/artifactId&gt;
        &lt;/dependency&gt

[2015-05-28 10:15] ctomc commented on #21
@kenfinnigan an example would be welcome content handler we have by default in undertow subsystem.
you first add file-handler:
https://github.com/wildfly/wildfly/blob/master/undertow/src/main/resources/subsystem-templates/undertow.xml#L45
and then "mount" it to what ever context you want. in our default shipped config
https://github.com/wildfly/wildfly/blob/master/undertow/src/main/resources/subsy

[2015-05-28 11:53] bobmcwhirter commented on #34
I think we should merge that into core. Thanks!

--
Sent from my iPhone

[2015-05-28 20:26] #23 closed

[2015-05-28 20:31] arun-gupta commented on #23
Sweet, sample code?

[2015-05-28 20:33] kenfinnigan commented on #23
@arun-gupta was about to email you!

https://github.com/wildfly-swarm/example-jpa-servlet

So for the moment i've only tested with servlet, but should be easy enough to create examples with CDI and JAX-RS now it's working

[2015-05-28 20:35] bobmcwhirter commented on #23
All requires HEAD of wildfly-swarm built from GitHub at the moment.

[2015-05-28 20:42] arun-gupta commented on #23
Exciting times, will play with it!

[2015-05-28 23:59] arun-gupta opened #35 "Not able to generate fat jar with JPA module"
Created a sample that uses JAX-RS and JPA together at https://github.com/arun-gupta/wildfly-samples/tree/master/swarm. Packaging the fat jar using `mvn package` gives the following error:

[code]

Seems like a its looking for `modules` directory?

[2015-05-29 00:00] arun-gupta commented on #23
#35 is blocking to test this functionality.

[2015-05-29 00:06] bobmcwhirter commented on #35
That is intensely weird. Try removing the target/ dir and do a fresh build?

I'll look tomorrow.

--
Sent from my iPhone

[2015-05-29 00:09] arun-gupta commented on #35
I always try `'mvn clean package`, and confirming again that's what I tried.

[2015-05-29 00:09] bobmcwhirter commented on #35
Can you mvn with -e and gist the full stack?

--
Sent from my iPhone

[2015-05-29 00:12] kenfinnigan commented on #35
@arun-gupta right now, the project needs to package as `jar` and not `war`, and you will need some kind of Main class, as in the cdi-servlet example, to deploy the driver, datasource and the app itself

[2015-05-29 00:13] arun-gupta commented on #35
https://gist.github.com/arun-gupta/4964ffd06217757425dd

[2015-05-29 00:14] arun-gupta commented on #35
@kenfinnigan ah, that might be the case, let me try that. When is the WAR support coming?

[2015-05-29 00:17] emag commented on #35
@kenfinnigan  @arun-gupta
I got the error on my sample. It seems wildfly-swarm-plugin configuration setting(execution) has changed.
I changed it and it works.

See https://github.com/wildfly-swarm/example-jpa-servlet/blob/master/pom.xml#L50-L56

[2015-05-29 00:18] kenfinnigan opened #36 "Support JPA project with WAR packaging"
At the moment a JPA application needs to be packaged as a `jar` and not a `war`, along with a Main class for deploying a driver, datasource and the application.

Would be nice to support a true JPA project without any, or minimal, customization

[2015-05-29 00:19] kenfinnigan commented on #35
@arun-gupta I've created #36 to track WAR support

[2015-05-29 00:33] arun-gupta commented on #35
@emag This would still require to create a Main file though which is what I was missing. Right?

[2015-05-29 00:36] kenfinnigan commented on #35
Yes, at the moment we need a Main to deploy everything

[2015-05-29 00:38] emag commented on #35
@arun-gupta Oh, sorry. I just checked my simple jax-rs sample(alomost same swarm-example, no jpa).

https://github.com/emag/wildfly-swarm-quickstarts/blob/master/jaxrs/pom.xml#L19-L26

And, using jpa must prepare datasource, driver, so you need to setup these in your Main.

[2015-05-29 00:49] bobmcwhirter commented on #35
You may be able to put a -ds.xml in your war along with the db driver jar in the WEB-INF/lib dir. WildFly is pretty handy at finding drivers. But I could be wrong.

--
Sent from my iPhone

[2015-05-29 00:55] kenfinnigan commented on #35
I might change the current example to being shrinkwrap and look to make an example in the way @bobmcwhirter  suggested

[2015-05-29 00:59] arun-gupta commented on #35
@kenfinnigan that would certainly simplify, lets leverage all the simplifications :)

You also might be able to leverage `deployment.getArchive().addPackage(Main.class.getPackage());` instead of manually adding all classes.

[2015-05-29 01:14] arun-gupta commented on #35
Two JAR files are generated in the `target` directory:

[code]
This is confusing!

[2015-05-29 01:17] bobmcwhirter commented on #35
One is your normal jar artifact created by maven. The other is the fatjar wrapping it created by swarm plugin.

Dunno what we could do elsewise.

--
Sent from my iPhone

[2015-05-29 01:23] arun-gupta commented on #35
Hmm, ideally the fat jar should be the only one located in this directory otherwise it could lead to confusing error messages as:

[code]

Or possibly use `swarm' at the beginning of the JAR file name?

[2015-05-29 01:33] bobmcwhirter commented on #35
That sorta breaks the maven way though. The -swarm suffix as a classifier is the normal behavior for maveny stuff.

Is suffix not as good as a prefix?

--
Sent from my iPhone

[2015-05-29 01:45] arun-gupta commented on #35
Lets stick with the current convention and see if anybody else complains about it, OK?

[2015-05-29 02:29] emag commented on #23
@kenfinnigan  Awsome! I apply your commit and it works!

And, I use subsystem version like example-datasource-subsystem. perfectly works :)

https://github.com/emag/wildfly-swarm-quickstarts/blob/master/jaxrs-cdi-jpa/src/main/java/wildflyswarm/jaxrscdijpa/App.java#L22-L31

[2015-05-29 14:15] arun-gupta opened #37 "Default Data Source not picked up by JPA"
Java EE 7 defines a default data source. This makes the following `persistence.xml` valid:

[code]

However running this as fat jar throws the following exception:

[code]

Adding the following to `persistence.xml`:

[code]

and including the DataSource in the Deployment works fine.

[2015-05-29 14:20] kenfinnigan commented on #37
Does Java EE 7 define the name of the DataSource an App Server should provide?

I know WildFly 9 specifies ExampleDS, but not sure if that's defined by the spec or just a choice.

If there are multiple DataSources deployed, how should the persistence unit behave? Fail because it doesn't know which one to use?

[2015-05-29 17:06] arun-gupta commented on #37
Java EE 7 only defines the JNDI name as `java:comp/DefaultDataSource`. More details on this:

https://blogs.oracle.com/arungupta/entry/default_datasource_in_java_ee

Even if there are multiple DataSources, `@Resource DataSource ds;` will inject the default JDBC resource.

[2015-05-29 19:30] arun-gupta opened #38 "Injecting PersistenceContext in JAX-RS resource does not work"
The following code:

[code]

returns `null` for `em` in `getAll` method.

[2015-05-29 20:41] emag commented on #38
Your app is https://github.com/arun-gupta/wildfly-samples/tree/master/swarm,  right ?

I fixed your some codes, and it works.

* pom.xml -> Use `wildfly-swarm-weld-jaxrs` insted of wildfly-swarm-jaxrs
* Main.java -> Use `JAXRSDeployment`
* MyResource.java -> Add `@ApplicationScoped`
 * and @GET API is added `@Produces(MediaType.APPLICATION_JSON)`
* persistence.xml -> Add `<jta-data-source>java:jbo

[2015-05-29 20:47] bobmcwhirter commented on #38
You, my friend, are awesome.

--
Sent from my iPhone

[2015-05-30 00:06] arun-gupta commented on #38
Fantastic, that worked for me too!

[2015-05-30 00:06] #38 closed

[2015-05-30 00:20] bobmcwhirter commented on #38
Could we convince you to add/modify/otherwise work with our official examples? Keep everything in one place?

Iff so, I'll grant you rights to the organization on Monday. Remind me if I forget. I forget a lot.

--
Sent from my iPhone

[2015-06-01 17:39] arun-gupta commented on #38
@bobmcwhirter reminder?

[2015-06-01 18:09] kenfinnigan commented on #38
@arun-gupta done

[2015-06-01 18:13] kenfinnigan commented on #35
Closing this as I think we have issues covering some of the discussion mentioned above, but the reason for this issue is no longer a problem.

Feel free to reopen if that's not the case

[2015-06-01 18:13] #35 closed

[2015-06-02 06:14] Khazrak commented on #5
+1 for gradle

[2015-06-02 15:21] kenfinnigan opened #39 "DefaultWarDeployment examples on Windows from IDE or plugin fail to start properly"
Running https://github.com/wildfly-swarm/example-jaxrs fails to properly deploy the application when run from the IDE or by `mvn wildfly-swarm:run` on Windows.

Accessing the browser after startup will return "Forbidden" as the page content.

[2015-06-02 16:08] #39 closed

[2015-06-03 12:52] emag opened #40 "Discussion on aggregating WildFly Swarm examples"
Although WildFly Swarm examples are very  helpful, it's difficult to check due to having its own repository.

How about aggregating such as [WildFly Quickstart](https://github.com/wildfly/quickstart) ?
(it'll be easy to  catch up with WildFly Swarm update)

[2015-06-03 12:55] smiklosovic commented on #40
+1, and delete all other repositories which will be already in quickstart repo.

[2015-06-03 13:00] kenfinnigan commented on #40
It's something we've been thinking about with the growing number of examples, but a decision hasn't been made as of yet

[2015-06-03 13:30] jmazzitelli opened #41 "Be able to deploy custom module extension subsystems in swarm"
I have a subsystem that I deploy in WildFly's /modules and add it to standalone.xml via &lt;extension> and &lt;subsystem> and I was wondering how to take that and deploy it in WF-Swarm? There isn't a specific example in WildFly Swarm github that does this (the datasource-subsystem looks close, but I don't think that's it exactly.)

Also, how does one configure their custom subsystem (in WildFly ap

[2015-06-03 13:40] kenfinnigan commented on #41
It was certainly possible a month or so ago, as I did it for LiveOak, but I haven't tried recently, though there shouldn't be anything preventing it.

For any given WildFly subsystem, you need to create an API and Runtime, as we have for the pieces packaged within WildFly Swarm (such as JPA, Weld, etc). This utilizes the Fraction plugin to build the necessary pieces that can then be consumed by yo

[2015-06-03 14:02] jmazzitelli commented on #41
ken - you have link to your github repo for the LiveOak work? At minimum, I could use it to see what your mvn layout looked like (what pom dependencies you needed, mvn swarm plugin setup, etc.).

[2015-06-03 14:18] kenfinnigan commented on #41
Unfortunately it's all based on Alpha1, which was when a Fraction was a single module, there was no API/Runtime split, and wouldn't be of much help. I've also not pushed it out anywhere yet. I actually need to go back and update it with the new structure.

The main piece is the plugin definition:

        <plugin>
          <groupId>org.wildfly.swarm</groupId>
          <artifactId>wildfly-swarm-f

[2015-06-03 14:19] jmazzitelli commented on #41
I'm going to duplicate what is done today in wildfly-swarm/api/datasources and wildfly-swarm/runtime/datasources (by that I mean I'm going to copy what they do in their poms and source structure and java code.) hopefully that gets me close.

[2015-06-03 14:28] kenfinnigan commented on #41
it should do, let me know if you hit problems

[2015-06-03 15:32] emag opened #42 "ClassNotFoundException: javax.sql.DataSource with Flyway"
I've tried WildFly Swarm + [Flyway](http://flywaydb.org/), which is database migration framework.

https://github.com/emag/example-jpa-jaxrs-cdi-flyway

And I've got `ClassNotFoundException: javax.sql.DataSource`.

It looks like https://github.com/flyway/flyway/issues/118 (OSGi environemnt) , but Flyway side was already fixed.

Any idea?

[code]

While normal war deployment, it works.

1. Run Wild

[2015-06-03 15:50] kenfinnigan commented on #42
It should be coming from the JDK, so not sure why it can't be found

[2015-06-03 16:00] bobmcwhirter commented on #42
It's in the JDK but jboss-modules still controls it.

It's available if you have javax.api:main module included.

You might have to at least include the wildfly-swarm-datasources dependency just to pull in that portion of the module tree.

[2015-06-03 16:01] kenfinnigan commented on #3
Please reopen if this is not resolved

[2015-06-03 16:01] #3 closed

[2015-06-03 16:14] emag commented on #42
I added  wildfly-swarm-datasources dependency, but the same result(and, wildfly-swarm-jpa depends on it).

[2015-06-03 16:17] bobmcwhirter commented on #42
Alrighty, we'll take a look at it.  I can't personally guarantee that it'll be today, but we'll definitely poke around.

[2015-06-03 17:40] turisto opened #43 "JPA sample and QueryDSL fires java.lang.LinkageError"
Hi, a question here :)

I am playing with Alpha2 snapshot + jpa + jax-rs sample (https://github.com/wildfly-swarm/example-jpa-jaxrs-cdi) and trying to go further with QueryDSL (https://github.com/aracrown/ara-blog-examples/tree/master/s01e04) example. However, when trying to call a WS I get  java.lang.LinkageError: javax/persistence/EntityManager (https://gist.github.com/turisto/7d140b4fb9fa510f0e

[2015-06-03 17:53] kenfinnigan commented on #43
Do you have the JPA API as a dependency to your project? Or does QueryDSL include it?

[2015-06-03 17:58] turisto commented on #43
My project does not have this dep as it is currently clone of example-jpa-jaxrs-cdi. QueryDSL has "provided" dependency of JPA API (<scope>provided</scope>).

[2015-06-03 18:18] kenfinnigan commented on #43
Hmm, had a quick play with your example and wasn't able to see where the Classloading issue is coming from. Need to dig deeper.

[2015-06-03 18:19] kenfinnigan opened #44 "Project website"
Basic website with some initial docs, particularly on creating a fraction for a WildFly subsystem

[2015-06-03 20:02] jmazzitelli commented on #41
Ken - I think I have all the code I need, except I dont know if I actually need a Main class. I figure someone has to configure the Fraction, but I can't figure out what I need. I did just build my swarm jar and I got this error:

Caused by: java.util.ServiceConfigurationError: org.wildfly.swarm.runtime.container.ServerConfiguration: Provider org.wildfly.swarm.runtime.connector.ConnectorConfigurat

[2015-06-03 20:08] bobmcwhirter commented on #41
There is a series of service locators to find and auto configure your fraction if no main is provided. And to find the runtime module. It's tangly but works.

--
Sent from my iPhone

[2015-06-03 20:09] agoncal opened #45 "Conference Driven Development"
Hi guys,

I'm giving a one hour talk on JBoss Forge at DevoxxUK in a couple of weeks. I'll be using the Swarm addon... and I'm wondering if an Alpha2 will be available before the conference ;o)

[2015-06-03 20:13] bobmcwhirter commented on #45
Hopefully in the next 24 hours.

--
Sent from my iPhone

[2015-06-03 20:19] agoncal commented on #45
You guys rock !!!

[2015-06-03 20:21] kenfinnigan commented on #45
It would be happening now if I had internet where i am right now, but definitely later

[2015-06-03 20:26] agoncal commented on #45
@kenfinnigan The beauty of Git is to be offline ;o)

[2015-06-03 20:29] bobmcwhirter commented on #45
@agoncal but the "beauty" of a maven release is that you have to be online. :)

[2015-06-03 20:46] agoncal commented on #45
@bobmcwhirter Life is not perfect !

[2015-06-03 20:56] jmazzitelli commented on #41
Ok, I see a call to RuntimeServer.applyDefaults ... so I'll assume I'll get something to start my service.

But I'm getting this and not sure why:

Caused by: java.util.ServiceConfigurationError: org.wildfly.swarm.runtime.container.ServerConfiguration: Provider org.wildfly.swarm.runtime.connector.ConnectorConfiguration not a subtype
	at java.util.ServiceLoader.fail(ServiceLoader.java:239)
	at java

[2015-06-03 21:25] bobmcwhirter commented on #41
I think you might’ve copied this file verbatim:

	https://github.com/wildfly-swarm/wildfly-swarm/blob/master/runtime/connector/src/main/resources/META-INF/services/org.wildfly.swarm.runtime.container.ServerConfiguration <https://github.com/wildfly-swarm/wildfly-swarm/blob/master/runtime/connector/src/main/resources/META-INF/services/org.wildfly.swarm.runtime.container.ServerConfiguration>

And ins

[2015-06-04 10:19] kenfinnigan commented on #45
@agoncal forgot to respond last night that Alpha2 is now out in the wild!

[2015-06-04 10:19] #45 closed

[2015-06-04 12:44] kenfinnigan commented on #41
@jmazzitelli I'm currently working on your Fraction. Will send a PR when I know it works

[2015-06-04 13:02] jmazzitelli commented on #41
Those look OK in my project - no copy-paste error. These point to my classes:

https://github.com/hawkular/hawkular-agent/blob/mazz/wf9-swarm/hawkular-agent-swarm/hawkular-agent-swarm-api/src/main/resources/META-INF/services/org.wildfly.swarm.container.RuntimeModuleProvider

https://github.com/hawkular/hawkular-agent/blob/mazz/wf9-swarm/hawkular-agent-swarm/hawkular-agent-swarm-runtime/src/main/re

[2015-06-04 14:31] kenfinnigan commented on #41
@jmazzitelli I've fixed the problems with the Hawkular Fraction here: https://github.com/hawkular/hawkular-agent/pull/5

However, the Hawkular Subsystem is coded against WildFly 8.2.0.Final, but WildFly Swarm relies on a minimum of 9.0.0.CR1. Until the Hawkular Subsystem is updated to work with WildFly 9.0.0.CR1, WildFly Swarm won't work with it.

[2015-06-04 14:31] #41 closed

[2015-06-04 20:34] kenfinnigan commented on #40
Done. https://github.com/wildfly-swarm/examples

[2015-06-04 20:34] #40 closed

[2015-06-04 21:44] emag commented on #40
Cool!

[2015-06-05 07:29] amannm opened #46 "Missing JDK class"
I can't use ZooKeeper with Wildfly Swarm because it depends on `javax.security.auth.login.LoginException` which I cannot get into the classloader through any conventional means
<pre>
2015-06-05 02:18:01,912 ERROR [stderr] (main) Exception in thread "main" java.lang.reflect.InvocationTargetException
2015-06-05 02:18:01,912 ERROR [stderr] (main) 	at sun.reflect.NativeMethodAccessorImpl.invoke0(Nativ

[2015-06-05 10:23] emag commented on #46
Hmm, It's similar to #42. `javax.security.auth.login.LoginException` included in rt.jar.

[2015-06-05 13:26] kenfinnigan opened #47 "Package plugin should utilize finalName"
At the moment the WildFly Swarm fat jar is constructed from `g:a:v`.

This needs to be changed to utilize the finalName of the build, if present

[2015-06-05 14:11] #46 closed

[2015-06-05 14:17] agoncal opened #48 "NoSuchFileException: target/wildfly-swarm-archive/modules"
Hi,

I have this very simple JAX-RS sample built with JBoss Forge that works fine with Swarm Alpha1. I've just updated to Alpha2 and I have `NoSuchFileException` (see below) when doing a `mvn clean install` on my project (and the fatjar is not created).

The JBoss Forge addon adds the following to the `pom.xml`. Has anything changed ?

[code]

Exception :

[code]

[2015-06-05 14:37] kenfinnigan commented on #48
Yes. The plugin no longer specifies a phase, and the goal needs to be changed to `package`. Also, the swarm dependency needs to have scope provided removed

[2015-06-05 14:44] #47 closed

[2015-06-05 14:53] agoncal commented on #48
Yes, it fixes it. But now when I execute my fat jar I have the following, any idea ?

[code]

[2015-06-05 14:58] #42 closed

[2015-06-05 14:59] bobmcwhirter commented on #42
Now I see

[code]

[2015-06-05 15:01] bobmcwhirter commented on #42
And I find that weird, since it's seeming detecting org.slf4j.Logger but then then failing to construct a LoggerFactory.

Flyway's POM denotes slf4j as optional, so maybe try including it as an explicit dependency in your app?

I'll try now and report back.

[2015-06-05 15:11] bobmcwhirter commented on #42
Okay, I add some dependencies to your project:

[code]

And now the error I get is a Flyway error.  Dunno if it's wf-swarm caused or not.

[code]

*NOTE* This is with unreleased Alpha3-SNAPSHOT on HEAD of wildfly-swarm.

[2015-06-05 15:14] bobmcwhirter commented on #48
How are you running it to get that exception?

`mvn wildfly-swarm:run` ?

`java -jar` ?

Can you give us the output of `jar tf` on your `-swarm.jar` and the contents of the `-swarm.jar`'s `META-INF/wildfly-swarm.properties` ?

[2015-06-05 15:22] agoncal commented on #48
`mvn wildfly-swarm:run` works, but `java -jar` fails.

Content of `wildfly-swarm.properties` :

[code]

Content of `jar tf` :

[code]

[2015-06-05 15:25] kenfinnigan commented on #48
looks like it's an issue of the properties specifying `swarm.war` but in `_bootstrap` the war has the version present

[2015-06-05 16:38] bobmcwhirter commented on #43
Howdy, just fixed this in HEAD of wildfly-swarm.

One change required for your application is adding this line to your `main()`

[code]

Then it should work appropriately.

[2015-06-05 16:38] #43 closed

[2015-06-05 17:19] agoncal commented on #48
Ok. So nothing to do on my side then ? Let me know when you fix it so I can give it a try and send you some feedback.

[2015-06-05 17:20] #32 closed

[2015-06-05 17:20] #48 closed

[2015-06-05 17:23] bobmcwhirter commented on #34
I've added these changes to HEAD of wildfly-swarm, if you could verify it works for you.

[2015-06-05 17:24] bobmcwhirter commented on #48
Just pull HEAD and give Alpha3-SNAPSHOT a whirl.  Was a bug in the PackageMojo in cases where the maven finalName was non-default.

If it still is a problem, gist up the wildfly-swarm.properties again, along with a listing of the contents of _bootstrap/ dir of the -swarm.jar.

[2015-06-05 18:09] kenfinnigan commented on #30
Will be documenting this as part of #44

[2015-06-05 18:09] #30 closed

[2015-06-05 18:23] turisto commented on #43
Cool. It works now! :)

[2015-06-05 19:09] #31 closed

[2015-06-05 19:11] bobmcwhirter commented on #31
See the commit message for that to understand the details, please.

[2015-06-05 20:41] emag commented on #42
Awesome, it works!

Sorry, it's my fault. I need to add migration sqls in main().

[2015-06-05 21:28] bobmcwhirter commented on #24
@arun-gupta would you mind knocking this one out, if it's still applicable?

[2015-06-05 21:38] fbricon opened #49 "Support static content for regular war/jaxrs deployments"
This is request is quite similar to https://github.com/wildfly-swarm/wildfly-swarm/issues/21 actually.

The goal here is to deploy both classes AND static resources in the same deployment.

Icing on the cake : static resources would be reloaded automatically if changed.

[2015-06-05 21:43] eprogramming commented on #21
Awesome !
Thanks !

[2015-06-05 21:52] bobmcwhirter commented on #21
Example:

https://github.com/wildfly-swarm/examples/blob/master/static/src/main/java/org/wildfly/swarm/examples/staticcontent/Main.java

Let me know if it's not what you're thinking.  It does *not* mix static into normal war deployments, but rather is static-as-a-deployment-unto-itself.

Probably sub-par.  Reopen if not sufficient.

[2015-06-05 22:06] eprogramming commented on #21
thanks @bobmcwhirter ! : D

[2015-06-05 23:51] eprogramming commented on #21
not running : /
to do a double check i did a checkout on
https://github.com/wildfly-swarm/examples/tree/master/static
the console don't fire up the container here

[2015-06-05 23:59] eprogramming commented on #21
but i know it will work : ]

[2015-06-06 00:24] bobmcwhirter commented on #21
Did you build -swarm itself from HEAD?

--
Sent from my iPhone

[2015-06-06 00:34] eprogramming commented on #21
yes @jamezp is investigating this too

@jamezp thanks  a lot !

[2015-06-06 00:41] eprogramming commented on #21
@bobmcwhirter i'm using a clean new fedora22 so i downloaded all for the first time
different from +-20 days ago.

[2015-06-06 00:44] jamezp commented on #21
None of the examples work for me. I think the issues is that [entry point](https://github.com/jamezp/wildfly-swarm/blob/master/bootstrap/src/main/java/org/wildfly/swarm/bootstrap/Main.java#L37-37) tries to load the module as do the [ModuleFinders](https://github.com/jamezp/wildfly-swarm/blob/master/bootstrap/src/main/java/org/wildfly/swarm/bootstrap/util/Layout.java#L78). This ends up just sitting

[2015-06-06 00:47] jamezp commented on #21
What I meant to add was this doesn't seem right. I don't think both the `ModuleFinder`'s and the entry point should be attempting to load the same module. That looks like trouble to me.

[2015-06-06 00:57] bobmcwhirter commented on #21
I'm confused. Alpha2? HEAD?

--
Sent from my iPhone

[2015-06-06 00:58] bobmcwhirter commented on #21
And that entry point has been working for a while. There is some magic wrt bootstrap.

I've seen the object wait inside module getPaths or whatnot but though we had solved it.

Sigh.

--
Sent from my iPhone

[2015-06-06 00:59] jamezp commented on #21
Sorry yes this is on head.

[2015-06-06 01:01] jamezp commented on #21
Stupid laptop pressing buttons with my palm... ...I was trying to add. I can probably look at it this weekend. I see what the intent is with different ways to determine where modules are. We just need to way not to make it so racy I think.

[2015-06-06 01:04] bobmcwhirter commented on #21
Double check all the code paths. Bootstrap itself is loaded differently but cannot have dependencies on ClasspathModuleFinder loaded modules. Hence the BootstrapClasspathModuleFinder.

It's weird but works. Mostly.

--
Sent from my iPhone

[2015-06-06 01:11] eprogramming commented on #21
@bobmcwhirter you write:

Hail 'pain' all fine ?

@bobmcwhirter predicting the future?

you're right, but I trust it will work

btw this is important, imagine to have hawtio + angular and others running from a jar how awesome is that ?

[2015-06-06 05:51] arun-gupta commented on #24
Sure, will look at it. Moving all of them together in https://github.com/wildfly-swarm/examples certainly makes it easier.

[2015-06-06 05:52] arun-gupta commented on #24
@bobmcwhirter it would be good to rename examples to wildfly-swarm-examples so that the workspace can be easily identified when checked out?

[2015-06-06 06:07] arun-gupta commented on #24
3e423cec49617164e88628f0c3fd28c696a8c775 fixed this issue.

[2015-06-06 06:07] #24 closed

[2015-06-06 16:16] agoncal commented on #48
Hum... I changed the dependency and the plugin to Alpha3, but now it's now starting the application (either way, with `mvn wildfly-swarm:run` (see below) or with `java -jar`. It just hangs there.

Content of `wildfly-swarm.properties` :
[code]

Content of `_bootstrap` dir :

[code]

Output of `mvn wildfly-swarm:run` that hangs :

[code]

[2015-06-06 16:26] amannm commented on #34
Look's like it's working great. Thanks!

[2015-06-06 16:28] #34 closed

[2015-06-06 18:07] hwellmann commented on #44
Some questions to be covered by the docs:
* Why is a fat JAR a good idea at all?
* What are the typical use cases, and when would you better stick with traditional containers and deployments?
* How do you deal with target-specific settings like data source URLs or JMS queues? If these are all compiled into the fat JAR, then this JAR will work on exactly one target host.

[2015-06-06 18:15] agoncal commented on #44
A FAQ is always a good idea so developers understand better where they are :

* How is Swarm related to Wildfly ?
* What is a micro service ?
* Is Swarm a micro service container ?
* Is JBoss AS a fat service container ?
* And what about Docker ?
* What is a fat jar ?
* What about standardizing the "fatjar" structure (like war/ear) ?
* Can I deploy a "fatjar" in JBoss ?
... (more to come)

[2015-06-06 19:23] amannm opened #50 "Allow reintroduction of missing Sun JDK classes"
I'm unable to use the [dnsjava library](http://sourceforge.net/projects/dnsjava/) in Wildfly Swarm projects due to its internal use of `sun.net.dns.ResolverConfguration`
<pre>
String resConfName = "sun.net.dns.ResolverConfiguration";
Class resConfClass = Class.forName(resConfName);
</pre>
<pre>
java.lang.ClassNotFoundException: sun.net.dns.ResolverConfiguration from [Module "deployment.5d957258-9f

[2015-06-06 20:53] jamezp commented on #21
The issue is definitely the `ClassPathModuleFinder`. What happens is the module loading state is `LINKING`, then the `ClassPathModuleFinder` attempts [get a resource](https://github.com/jamezp/wildfly-swarm/blob/master/bootstrap/src/main/java/org/wildfly/swarm/bootstrap/modules/ClasspathModuleFinder.java#L26) from the class path. Since the paths are still linking it essentially deadlocks.

I don't

[2015-06-06 21:36] jamezp commented on #21
I think I found it. The default `javax.api` module has a dependency on `javax.sql.api`. That module doesn't exist so adding it seems to get past this issue.

[code]

We should probably import some things from the core-feature-pack so we don't need to maintain them here.

I did find another issue with JDK 7 and the logmanager though. Something appears to be using logging before the logmanager is se

[2015-06-06 21:36] bobmcwhirter commented on #21
Can you give m steps to reproduce and the what module or resources it's trying to load?

--
Sent from my iPhone

[2015-06-06 21:39] jamezp commented on #21
All I have to do is do a `mvn clean package && java -jar target/wildfly-swarm-example-static-swarm.jar` or just `mvn clean wildfly-swarm:run`. Either way it just sits there blocked. This is the simple and quick fix https://github.com/wildfly-swarm/wildfly-swarm/compare/master...jamezp:deadlock-fix

[2015-06-06 21:40] bobmcwhirter commented on #21
The sql module should be in bootstrap/src/main/resources/modules. I added it yesterday unless I mis-used git.

--
Sent from my iPhone

[2015-06-06 21:41] jamezp commented on #21
Hmm... ...I definitely don't see it on master https://github.com/wildfly-swarm/wildfly-swarm/tree/master/bootstrap/src/main/resources/modules.

[2015-06-06 21:43] bobmcwhirter commented on #21
Well dang. That'd be explain why I didn't see the same thing. Yah I have that javax.sql module in my tree.

--
Sent from my iPhone

[2015-06-06 21:44] jamezp commented on #21
haha, well at least we know :) I couldn't figure out how you would have got it working. Maybe you just forgot to push it upstream.

[2015-06-06 21:48] bobmcwhirter commented on #21
Mayhap. We will find out Monday when I open the laptop.

The JDK 7 logmanager thing I've seen. No idea why. Solution is JDK 8.

--
Sent from my iPhone

[2015-06-06 21:49] jamezp commented on #21
Cool. I'll have a look at some point. It should be fairly easy to fix.

[2015-06-06 23:17] emag commented on #44
* How can I test it ?
 * I suggest using [Arquillian Cube(Containerless container)](https://github.com/aslakknutsen/cube-wildfly-swarm).

[2015-06-06 23:34] bobmcwhirter commented on #44
Do you have any examples to share? I suck at testing. Obviously.

--
Sent from my iPhone

[2015-06-07 00:04] emag commented on #44
@bobmcwhirter Oh, I mean `test(especiaaly integration, functional test)` is for an application using WildFly Swarm, not WildFly Swarm self.

Though Arquillian Cube need to use Docer, it's  helpful.

So far I have no idea for WildFly Swarm, I will share you if I think of good ideas.

[2015-06-07 00:42] bobmcwhirter commented on #44
Yep. If we did that against out examples that'd be useful examples of testing for others and give us some testing for swarm itself.

--
Sent from my iPhone

[2015-06-07 10:05] amannm opened #52 "ClassNotFoundException for org.objectweb.asm.Opcodes"
My JAX-RS fraction utilizing projects throw an exception on startup unless a direct dependency on `org.ow2.asm:asm` is declared in each project's pom.xml
<pre>
Exception in thread "main" java.lang.reflect.InvocationTargetException
  at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
  at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
  at sun.reflect.Dele

[2015-06-07 13:50] bobmcwhirter commented on #52
Can you point me to the project or gist your pom?

--
Sent from my iPhone

[2015-06-08 13:14] bobmcwhirter commented on #21
Okay, javax.sql module added back to HEAD.  Dunno how I managed that.

[2015-06-08 13:53] kenfinnigan commented on #52
Is the JAX-RS fraction dependency defined with a scope of "provided" in the pom of the application?

[2015-06-08 14:27] bobmcwhirter opened #53 "Container.stop()"
It perhaps make testing easier if we could also stop() (and subsequently restart or replace) a container.

[2015-06-08 15:39] #53 closed

[2015-06-09 10:23] kenfinnigan commented on #50
Can you provide a small example project utilizing the dnsjava library that encounters this problem?

The solution provided in https://github.com/wildfly-swarm/wildfly-swarm/pull/51 may not be the best long term approach to providing access to internal JDK classes, but I've been unable to replicate the issue you're having with an example.

[2015-06-09 14:44] bobmcwhirter commented on #49
So, here is my ignorance... Is there a standard way in JavaEE this is already supported?  Or does everyone manually install some StaticResourceServlet or Filter?

[2015-06-09 15:09] fbricon commented on #49
No idea about the gritty details, but undertow is capable of serving static files once they've changed on disk (there was a bug in early versions where files where cached indefinitely).

All app servers I've seen are capable to do it OOTB, AFAIK, and none require a specific filter. For JSPs, it might be needed to run the server in a Dev mode so the pages can be recompiled on change.

You should pr

[2015-06-09 18:11] bobmcwhirter commented on #49
Okay!

https://github.com/wildfly-swarm/wildfly-swarm/blob/master/integration-tests/static-war/src/test/java/org/wildfly/swarm/integration/staticcontent/war/StaticContentWarTest.java

You can edit your static content and they will appear.  It uses a mixture of file and classloader-based undertow resource handlers, so that filesystem wins, allowing continual editing within a running app.

So you ca

[2015-06-09 18:13] bobmcwhirter commented on #21
See also https://github.com/wildfly-swarm/wildfly-swarm/issues/49 for static-content-within-a-war.

[2015-06-09 19:37] bobmcwhirter commented on #49
Not sufficient solution for layering on top of JAXRS or servlets, alas.

[2015-06-09 19:47] fbricon commented on #49
Sounds promising, we're getting there :-)

[2015-06-09 19:50] bobmcwhirter commented on #49
I'll leave this open as a reminder to figure out how to test modifications in an automated fashion, but it now layers well on top of JAX-RS.

https://github.com/wildfly-swarm/wildfly-swarm/blob/master/integration-tests/jaxrs/src/test/java/org/wildfly/swarm/integration/jaxrs/JAXRSTest.java

@Resource bound to / while static-content gets first shot at serving.

Directory-listings are not possible, b

[2015-06-10 08:01] amannm commented on #52
Here's an example project which currently suffers from this issue.on my machine: https://github.com/amannm/wildfly-swarm-example

[2015-06-10 08:03] amannm commented on #50
Here's an example project which currently suffers from this issue.on my machine: https://github.com/amannm/wildfly-swarm-example please comment the `org.ow2.asm` dependency in pom.xml back in and comment back in the `DnsLookup.getSearchSuffixes();` in `Application.java`

[2015-06-11 07:30] emag commented on #50
@amannm I tested your example(enable org.ow2.asm:asm in pom.xml) and no ClassNotFoundException or other error.

My environment:

* OS: Fedora 21
* JDK: openjdk version "1.8.0_45"
* WildFly-Swarm: HEAD(cb141bc)

I displayed [defaultSearchPaths](https://github.com/amannm/wildfly-swarm-example/blob/master/src/main/java/com/amannmalik/service/example/Application.java#L20) and got `[stdout] (main) [Lor

[2015-06-11 07:43] emag commented on #50
Sorry, I misunderstood and I can reproduce by disabling org.ow2.asm:asm dependency.
(https://github.com/wildfly-swarm/wildfly-swarm/issues/52).

[2015-06-11 07:50] emag commented on #50
I switch wildfly-swarm-weld-jaxrs scope to `compile` and no ClassNotFoundException.

[2015-06-11 13:40] amannm commented on #50
Ok that's it then, apparently I was using the outdated method of using `provided` scope and it was manifesting itself as these issues. Thanks

[2015-06-11 13:40] #50 closed

[2015-06-11 13:40] amannm commented on #52
Ok that's it then, apparently I was using the outdated method of using `provided` scope and it was manifesting itself as these issues. Thanks

[2015-06-11 13:40] #52 closed

[2015-06-12 08:34] agoncal commented on #45
Guys, I'm working on the Swarm Forge addon to introduce the Swarm plugin configuration (httpPort, contextPath....). Do you know if the Alpha3 will be released soon (I'm still thinking of my talk at Devoxx UK next Thursday ;o) ?

Thanks

[2015-06-12 13:31] bobmcwhirter commented on #45
Yah, I think we can try to get alpha3 out before then.

The plugin config and static improvements would be worth it.

Release early, often and vigorously!

[2015-06-12 17:45] #22 closed

[2015-06-12 17:56] bobmcwhirter commented on #22
If an app provides a favicon.ico via static files, it should serve.

If they magically serve one through JAXRS, it should serve.

If ultimately JAXRS throws a NotFoundException, and it's for favicon.ico, we will serve up the WildFly favicon.ico.

Not really a feature, but should silence some of the console stack-trace WARN entries.

[2015-06-12 17:56] bobmcwhirter commented on #22
@nmcl see above.

[2015-06-12 18:16] awi opened #54 "JAXRS test failed / OSX 10.10.3 / JDK 1.7.0_72"
When build Alpha3-SNAPSHOT (df99c4bc1) the following integration test failed:

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running org.wildfly.swarm.integration.jaxrs.JAXRSTest
Could not load Logmanager "org.jboss.logmanager.LogManager"
java.lang.ClassNotFoundException: org.jboss.logmanager.LogManager
	at java.net.URLCl

[2015-06-12 18:28] bobmcwhirter commented on #54
JDK 8 is required. I bet you're using 7.

--
Sent from my iPhone

[2015-06-12 19:08] johnament opened #55 "NullPointer when packaging a war"
I'm getting this NPE when trying to package my war

org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.wildfly.swarm:wildfly-swarm-plugin:1.0.0.Alpha3-SNAPSHOT:package (default) on project my-webapp: Execution default of goal org.wildfly.swarm:wildfly-swarm-plugin:1.0.0.Alpha3-SNAPSHOT:package failed.
	at org.apache.maven.lifecycle.internal.MojoExecutor.execute(Mojo

[2015-06-12 20:01] kenfinnigan commented on #55
Can you gist your pom.xml?

[2015-06-12 20:04] bobmcwhirter commented on #55
Can you gist your pom.xml?

Ultimately, mvn dependency:tree should pull in wildfly-swarm-bootstrap, which seems to not be in your hierarchy.

Typically at least one wildfly-swarm-something will cause the -bootstrap to get pulled.  Do you have -jaxrs or -undertow or some other wildfly-swarm-* dependency listed as a <scope>compile</scope> dependency in your pom?

[2015-06-12 20:11] kenfinnigan commented on #54
I've just pushed an update to force building with JDK 8, and I'm pretty sure this issue is specific to JDK 7.
Please reopen if that's not the case

[2015-06-12 20:11] #54 closed

[2015-06-12 20:35] kenfinnigan opened #56 "Duplication of *-swarm-*.jar's for WAR projects"
At the moment there is a duplication of the *-swarm*.jar in `_bootstrap` and `WEB-INF/lib` when the project is of type `war`.

Need to figure out whether there's something we need to change in how WildFly Swarm dependencies are added to a project to preclude this, or add documentation on how to prevent it.

[2015-06-12 21:16] agoncal commented on #45
Great !!!!

Just to let you know that the JBoss Forge addon is up and running... just waiting for the Alpha3 ;o)

https://github.com/forge/wildfly-swarm-addon/pull/7#issuecomment-111567142

[2015-06-13 09:18] awi commented on #54
Yep, builds with Java 8 on OSX.
Would be great to add these maven properties to wildfly-swarm-examples, too

[2015-06-16 14:41] bobmcwhirter opened #57 "Alter default deployments"
Currently, container.deploy() does the default deployment of a WarDeployment, and unfortunately the war-related stuff lives in undertow, not container.

So this is a smell that we should actually generalize no-arg deploy() to ask whatever-modules-are-loaded for their idea of a default deployment, instead of just assuming WAR and assuming that undertow is part of the system.

While undertow probabl

[2015-06-16 14:42] bobmcwhirter commented on #55
Related to #56.  Not actually a bug, and error message has been improved.  The actual fix is regarding #56.

[2015-06-16 14:42] #55 closed

[2015-06-16 17:23] ctmay4 commented on #5
+1 for gradle

[2015-06-16 20:15] agoncal commented on #45
Any news on the Alpha3 ? If it is out soon I could update the Forge addon to use it. Let me know if it is released before DevoxxUK (tomorrow ;o)

[2015-06-16 21:13] kenfinnigan commented on #45
Probably released tomorrow US time, not sure if that's soon enough

[2015-06-16 21:59] emag commented on #21
@eprogramming and I got 403 Forbidden in [static example](https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/static) at wf-swarm HEAD(c08f4cf).

[code]

[code]

But, it works when a contex path is `/` .

[code]

[code]

[code]

I changed from `new StaticDeployment(container, "/static")` to `new StaticDeployment(container)`

https://github.com/emag/wildfly-swarm-quickstarts/blob/ma

[2015-06-16 22:02] eprogramming commented on #21
+1

[2015-06-16 22:23] bobmcwhirter commented on #21
Hrm. I'll check into it tomorrow morning

Thanks!

--
Sent from my iPhone

[2015-06-16 22:35] ctomc commented on #21
that forbidden error, could it be related to folder listing?

[2015-06-17 00:05] eprogramming commented on #21
https://github.com/wildfly-swarm/wildfly-swarm/issues/49
awesome !
now I can move forward
thanks !
I'm running index.html and a servlet

[2015-06-17 01:26] eprogramming commented on #21
Thanks for all support !
It is working  Æsh + wildfly-swarm

![nanook](https://cloud.githubusercontent.com/assets/6443576/8197992/9acd5544-1476-11e5-8728-b219708a8897.png)

[2015-06-17 01:28] bobmcwhirter commented on #21
So we need to get index.html serving implicitly?

--
Sent from my iPhone

[2015-06-17 01:34] eprogramming commented on #21
@bobmcwhirter i guess this would be great , for now the root path we get 'Forbidden' since we have no 'welcome-file' web.xml , is needed to point to index.html.
(If I understand well your question)

[2015-06-17 01:50] bobmcwhirter commented on #21
Lemme look how welcome files work. I'd think any path that results in a subdir not just root should attempt an index.html for ease of use.

--
Sent from my iPhone

[2015-06-17 10:32] ctomc commented on #21
@bobmcwhirter not sure how you did your integration but on ResourceHandler you have welcome file list you can set. By default it is index.html", "index.htm", "default.html", "default.htm"

[2015-06-17 11:36] bobmcwhirter commented on #21
We are using ResourceHandler.

--
Sent from my iPhone

[2015-06-17 15:51] #21 closed

[2015-06-17 17:57] #36 closed

[2015-06-17 18:03] #37 closed

[2015-06-17 20:43] eprogramming commented on #21
@bobmcwhirter

no need more to point to index.html directly
just localhost:8080
thanks again !

[2015-06-17 22:24] bobmcwhirter commented on #21
We aim to please. Keep reporting any issues you find and we will keep fixing them!

--
Sent from my iPhone

[2015-06-17 22:46] eprogramming commented on #21
Ok !
I have a issue right now !
but the question is:
[code]
because i don't know about all the aims and objectives of wildfly-swarm and i don't know if is good to open an issue not related with it.

[2015-06-17 23:29] eprogramming commented on #21
hi all
I got lot of ideas and tips from @jamezp and @ctomc on https://www.hipchat.com/gW90m6pIs

So I was wondering about the final jar size and because some dependencies were there.

Thanks !

[2015-06-17 23:37] bobmcwhirter commented on #21
It never hurts to open issues.

--
Sent from my iPhone

[2015-06-17 23:42] eprogramming commented on #21
@bobmcwhirter the talk was about eclipse jdt compiler for JSPs, the picketbox and others dependencies that the project i'm contributing is not needed. but... the folks said this is important for others projects that use this and some deps are required .
well i understand like this.

[2015-06-17 23:48] eprogramming commented on #21
@kenfinnigan @bobmcwhirter
https://gist.github.com/eprogramming/8a12fe502b38ba516f71
jansi, aesh and groovy are 'ok'
the plan is to remove groovy to save +-4.5mb
but for html/js/css and servlet we don't need security (not now) and others stuff got it ?
this was the main discussion

[2015-06-17 23:52] kenfinnigan commented on #21
@eprogramming Have you tried excluding the swarm-security dependency from swarm-jaxrs?

Given this is a closed issue, it's probably worth starting a new one to discuss this, so it can easily be found

[2015-06-17 23:54] eprogramming commented on #21
no , how i can do this ?

+1 thanks @kenfinnigan

[2015-06-17 23:54] eprogramming opened #58 "how excluding some dependency ?"

[2015-06-17 23:56] eprogramming commented on #58
https://github.com/wildfly-swarm/wildfly-swarm/issues/21#issuecomment-112981989

[2015-06-17 23:56] kenfinnigan commented on #21
<dependency>
      <groupId>org.wildfly.swarm</groupId>
      <artifactId>wildfly-swarm-jaxrs</artifactId>
      <version>${version.wildfly-swarm}</version>
      <exclusions>
        <exclusion>
          <groupId>org.wildfly.swarm</groupId>
          <artifactId>wildfly-swarm-security</artifactId>
        </exclusion>
      </exclusions>
    </dependency>

[2015-06-17 23:57] kenfinnigan commented on #58
<dependency>
  <groupId>org.wildfly.swarm</groupId>
  <artifactId>wildfly-swarm-jaxrs</artifactId>
  <version>${version.wildfly-swarm}</version>
  <exclusions>
    <exclusion>
      <groupId>org.wildfly.swarm</groupId>
      <artifactId>wildfly-swarm-security</artifactId>
    </exclusion>
  </exclusions>
</dependency>

[2015-06-18 00:00] eprogramming commented on #58
thanks a lot and going to try this right now !
the subject is ( we all know how to exclude using maven, the trick is ' is safe/good to exclude' if yes: how ? )

1 min going to check this one

[2015-06-18 00:05] eprogramming commented on #58
**before:**

![a](https://cloud.githubusercontent.com/assets/6443576/8221402/50fad720-1534-11e5-83ad-51636a2b290b.png)

**after:**

![b](https://cloud.githubusercontent.com/assets/6443576/8221413/933c6040-1534-11e5-88bf-2003ac0f9008.png)

weird...

going to delete .m2/ and all stuff

[2015-06-18 00:10] bobmcwhirter commented on #58
mvn dependency:tree

Is also useful for figuring out what's in your build.

--
Sent from my iPhone

[2015-06-18 00:11] eprogramming commented on #58
what i do is:
1  update my fork with the latest
2 drop .m2/
3 mvn clean install and waiting.....
then try again

[2015-06-18 00:15] bobmcwhirter commented on #58
Should not have to drop your .m2/

It's just a local cache really. It could be full of gigs of jars and not affect the final -swarm.jar size.

--
Sent from my iPhone

[2015-06-18 00:17] eprogramming commented on #58
@bobmcwhirter this is good feedback this will be the last one btw.
thanks.

[2015-06-18 00:26] eprogramming commented on #58
hey this is important and ofc awesome :
https://github.com/wildfly-swarm/wildfly-swarm-presentations/raw/master/MSA%20Day%20-%20WildFly-swarm.pdf

independently deployable (micro) services
• Applications deploy with only the components needed

[2015-06-18 00:33] eprogramming commented on #58
mvn dependency:tree

https://gist.github.com/eprogramming/5b07117873a9ef51534d

[code]

[2015-06-18 00:41] eprogramming commented on #58
https://github.com/aeshell/nanook/blob/master/pom.xml

[2015-06-18 00:44] eprogramming commented on #58
weird o_0
before update my fork it was +-23mb
this from hipchat:

![a](https://cloud.githubusercontent.com/assets/6443576/8221857/0d4c76fe-153a-11e5-9a56-09fdb6064e3c.png)

[2015-06-18 00:50] bobmcwhirter commented on #58
Websockets are part of undertow so we added the spec api jar to the build. We might could split it out into finer-grained bits to avoid pieces people don't need.

--
Sent from my iPhone

[2015-06-18 00:57] eprogramming commented on #58
@bobmcwhirter great !
thanks

[2015-06-18 01:21] kenfinnigan commented on #58
It's all a question of how fine grained we go, given we'd also need to create combined versions so a users app doesn't need 6 dependencies to get something simple working.

It's a question of fraction proliferation over needing to exclude dependencies in app. It's a fine line and comes down to the most common use case

[2015-06-18 01:28] bobmcwhirter commented on #58
Agreed. We need to analyze the marginal size additions and determine if it's worth breaking apart.

--
Sent from my iPhone

[2015-06-18 01:28] eprogramming commented on #58
@kenfinnigan +1 i totally agree !

a 'base wf-swarm' with the possibility of final-end-user customize the own app !

: ]

[2015-06-18 01:29] eprogramming commented on #58
i have no problem with websockets btw ( in this case ) because this opens possibilities... but imagine if the apps really no need security ( i mean local usage to solve some problems )

[2015-06-18 01:34] eprogramming commented on #58
delegate : ] ( to the end-user )

[2015-06-18 01:44] eprogramming commented on #58
" \m/ https://www.youtube.com/watch?v=IjjCp_QU5Qk
let the DEVs choose the next song : p "

[2015-06-18 20:43] bobmcwhirter opened #59 "EJB Fraction"
Requested by @fbricon and probably others.

[2015-06-19 01:55] eprogramming opened #60 "minor - getting some ansi on eclipse console"
![a](https://cloud.githubusercontent.com/assets/6443576/8245976/1dcfd59c-160d-11e5-98d7-d182a63f4542.png)

[2015-06-19 02:08] bobmcwhirter commented on #60
Ah. The default is color formatting. We can probably be smarter about TTY handling maybe.

If you configure the LoggingFraction you can setup a simpler formatted without color.

--
Sent from my iPhone

[2015-06-19 02:44] emag commented on #60
@eprogramming

Hmm, It's strange. In wf-swarm default logging setting, its named-formatter attr is [PATTERN](https://github.com/wildfly-swarm/wildfly-swarm/blob/master/runtime/logging/src/main/java/org/wildfly/swarm/runtime/logging/LoggingConfiguration.java#L37), not "COLOR-PATTERN".

Did you change it ?

Related entry
[Disabling color escape sequences in WildFly's console logging for IDE](http://

[2015-06-19 02:58] eprogramming commented on #60
going to learn how to do it.

got it, yup is a bit weird.

No
[main class example](https://github.com/aeshell/nanook/blob/master/src/main/java/org/jboss/aesh/nanook/Main.java#L26)

[2015-06-19 03:23] emag commented on #60
Ah, I'm with you. The color formatted log comes from boot logger whose formatter is "COLOR-PATTERN".

See WildFly Distribution logging.properties($WILDFLY_HOME/standalone/configuration/logging.properties).

If you change it, you need to overwrite it, maybe. Or, are there any way to do it?

[2015-06-19 03:43] eprogramming commented on #60
@emag i got it, thanks
this right ? handler.CONSOLE.formatter=COLOR-PATTERN

and the blog entry was using 'named-formatter' maybe this is a 'custom handler attribute' ?
[wildscribe] (http://wildscribe.github.io/Wildfly/9.0.0.Beta1/subsystem/logging/custom-handler/index.html)

btw was good to learn how to configure LoggingFraction and ofc enable debug mode
[code]
[logs](https://gist.github.com/epro

[2015-06-19 03:58] eprogramming opened #61 "API - pre-configurated logger levels"
from

[code]

to

[code]

wdyt ?

[2015-06-19 04:16] emag commented on #60
@eprogramming

Yes, exactly.

No, it's console-logger(and, it's runtime logger) attr. wildfly-swarm settings is 'PATTERN' while distro is 'COLOR-PATTERN' such like,

[code]

the blog guy uses WildFly distro.

Nice :)

And you can use 'COLOR-PATTERN'. Of course, unfortunately, it's not Eclipse freindly...

[code]

[2015-06-19 06:59] emag commented on #61
Yeah, good API personally.

How about trace()? `logger` support first ?

[2015-06-19 08:02] emag commented on #60
@eprogramming

I found a good plugin. I think you'd like it.

https://github.com/mihnita/ansi-econsole

My LoggignFraction setting is ...

[code]
![screenshot from 2015-06-19 17 00 57](https://cloud.githubusercontent.com/assets/1188893/8249439/f6e64c20-16a4-11e5-9722-2a7cc975dd2f.png)

[2015-06-19 10:06] eprogramming commented on #61
yup , the levels

[code]

[2015-06-19 10:18] eprogramming commented on #60
@emag yup i know this plugin before is good btw.

about the ansi escape code :

[code]
this means is only trying to reset

so that, this is a issue from eclipse console not wildfly-swarm, and i guess this issue here can be closed : ]

[2015-06-19 16:42] bobmcwhirter opened #62 "Better static contents of war support, again"
Reported by @tadamski.

While normal WildFly would serve myapp.war!/index.html, WildFly Swarm will not.

[2015-06-19 16:44] bobmcwhirter commented on #62
Fixed by 9019caaf5555148b6afa4be09a6d52268197f08d

VFS.mountZip() does not fully explode the shrinkwrap archive, and Undertow's ServletResourceManager only looks on the filesystem, but doesn't force a virtualFile.getPhysicalFile() to hydrate the VFS file into the filesystem.

By making our RuntimeDeployer recurve over the exploded VFS mount-point and its children, asking for physical files, we ful

[2015-06-19 16:44] #62 closed

[2015-06-19 16:45] bobmcwhirter commented on #62
Possibly also relevant to @fbricon

[2015-06-19 17:47] bobmcwhirter commented on #49
Once again, fixed, again, once more.

See https://github.com/wildfly-swarm/wildfly-swarm/issues/62

[2015-06-19 17:48] bobmcwhirter commented on #21
see also

https://github.com/wildfly-swarm/wildfly-swarm/issues/62

and example of static-content-in-war and <packaging>war</packaging>

https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/static-war

[2015-06-19 18:29] #61 closed

[2015-06-19 18:30] bobmcwhirter commented on #61
See https://github.com/wildfly-swarm/wildfly-swarm/commit/6c29c10bb743bc934ab40d82973762700f6678c1 for details.

[2015-06-19 18:32] bobmcwhirter commented on #60
We've moved to the name COLOR_PATTERN and PATTERN for the color/ansi formatter and non-color, respectively.

It defaults to using COLOR_PATTERN, but we've also made it easier to change.

[2015-06-19 18:32] #60 closed

[2015-06-19 19:17] fbricon opened #63 "Dependency injection issue"
So I'm trying to replace https://github.com/wildfly-swarm/wildfly-swarm-examples/blob/master/jpa-jaxrs-cdi-shrinkwrap/src/main/java/org/wildfly/swarm/examples/jpa/EmployeeResource.java#L18 with

    @Inject
    private EntityManager em;

where the entity manager is produced by another class :

    public class Resources {
      @Produces
      @PersistenceContext
      private EntityManager em;

[2015-06-19 19:43] emag commented on #63
I added @ Dependant to Resources and it works.

[code]

But, when `em` ia added @ Dependent, it doesn't work. Since @ Depedent target includes FIELD, it should work.

[2015-06-19 19:46] bobmcwhirter commented on #63
@fbricon So, when I ensured the deployment had a beans.xml, I had success.

I've added this to my Main.java:

        deployment.getArchive().addAsWebInfResource( new StringAsset("<beans xmlns=\"http://xmlns.jcp.org/xml/ns/javaee\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n" +
                "    xsi:schemaLocation=\"\n" +
                "        http://xmlns.jcp.org/xml/ns/javaee

[2015-06-19 19:46] bobmcwhirter commented on #63
Of course, I also added this:

        deployment.getArchive().addClass(Resources.class);

[2015-06-19 20:26] bobmcwhirter commented on #63
I've added an example to the examples repo:

https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/jpa-jaxrs-cdi-shrinkwrap2

If you could verify this is happy and close this issue when you're satisfied.

We could probably make it easier to add the minimal beans.xml via something better than a StringAsset.

[2015-06-19 20:35] fbricon commented on #63
mmm I thought beans.xml was optional already in javaee7. guess I was wrong

[2015-06-19 20:40] bobmcwhirter commented on #63
I only tried it because the QuickStart had one.

--
Sent from my iPhone

[2015-06-19 20:41] eprogramming commented on #61
[much better](https://github.com/aeshell/nanook/blob/master/src/main/java/org/jboss/aesh/nanook/Main.java#L25) thanks !

[2015-06-19 20:50] fbricon commented on #63
Works fine now, thanks @bobmcwhirter !

[2015-06-19 20:50] #63 closed

[2015-06-19 20:50] emag commented on #63
@fbricon

Yes. related spec.

https://docs.jboss.org/cdi/spec/1.2/cdi-spec.html#bean_archive

* implicit bean archive = no beans.xml
* bean defining annotation = javax.enterprise.context.{*Scoped, Dependant}

So, if you don't want to add beans.xml, you have to add some scoped annotation.

[2015-06-19 21:36] eprogramming opened #64 "Bug - ShrinkWrap or WF-Swarm ?"
Works from IDE (Eclipse) and *java -jar...*

[code]

Works from IDE (Eclipse) but **not** from *java -jar...*
[code]

[Stack here](https://gist.github.com/eprogramming/c5815f0af34e57d48f36)

[2015-06-19 22:32] bobmcwhirter commented on #64
That's just weird. Got a repo I can muck with Monday?

--
Sent from my iPhone

[2015-06-19 22:47] eprogramming commented on #64
https://github.com/aeshell/nanook

[2015-06-19 23:28] bobmcwhirter commented on #64
So this is weird since we setup the SW domain within container and provide our own extension loader.

I'll look on Monday but I imagine it's something simple.

--
Sent from my iPhone

[2015-06-19 23:30] eprogramming commented on #64
ok @bobmcwhirter thanks btw

[2015-06-20 14:20] amannm opened #65 "wildfly-swarm-ee not providing javax.enterprise.concurrent"
The `wildfly-swarm-ee` fraction [confers support for the `javax.enterprise.concurrent` utilities](https://github.com/wildfly-swarm/wildfly-swarm/blob/master/runtime/ee/src/main/java/org/wildfly/swarm/runtime/ee/EEConfiguration.java) including `ManagedExecutorService` and `ManagedScheduledExecutorService`

However unlike other fractions, the pertinent Java EE APIs are not provided to users when the

[2015-06-20 16:47] eprogramming commented on #59
+1 request for this, we need to try EJB timer feature

[2015-06-20 17:07] bobmcwhirter commented on #64
So I'd almost suggest trying without a main since your main uses default war and we might've fixed static stuffs.

--
Sent from my iPhone

[2015-06-20 23:22] eprogramming opened #67 "Log to a file"
would be great to have a simple log-to-file configuration to keep our app simple as possible

https://github.com/aeshell/nanook/issues/123#issuecomment-113834680

[2015-06-21 18:51] fbricon commented on #59
lack of EJB support forces us to manually handle transactions https://github.com/wildfly-swarm/wildfly-swarm-examples/compare/master...fbricon:kitchensink?expand=1#diff-a9991de129f5e3c3b1a36dbb75ae77c9R49

[2015-06-21 19:00] emag commented on #59
@fbricon Yes, EJB is important. But as regarding transactions, you can use @ javax.transaction.Transactional.

btw, your kitchensink migration is cool!

[2015-06-22 13:14] bobmcwhirter commented on #65
Merged the PR.

[2015-06-22 13:14] #65 closed

[2015-06-22 13:35] kenfinnigan commented on #58
@eprogramming I think I lost track of what's happening with this. Does anything need to be done or can we close?

[2015-06-22 14:51] eprogramming commented on #58
@kenfinnigan going to close because I need todo more tests thanks.

[2015-06-22 14:51] #58 closed

[2015-06-22 15:10] #64 closed

[2015-06-22 16:16] #67 closed

[2015-06-22 16:54] neich commented on #56
Can be this the reason of a NPE that I'm getting when executing the swarm JAR after ```mvn package``` ?

[code]

```mvn wildfly-swarm:run``` works fine. This is my [pom.xml](https://gist.github.com/neich/a53eed2334ec696c2820)

Thanks

[2015-06-22 17:21] kenfinnigan commented on #56
@neich No. The stack trace indicates that the `org.wildfly.swarm.bootstrap` artifact can't be loaded.

Is this artifact present in the _bootstrap directory of the archive?

[2015-06-22 17:30] neich opened #68 "NPE when executing JAR file after mvn package with Alpha 3"
Hi,

I'm getting this null pointer exception error when I try to execute the packaged JAR:

[code]

But ``mvn wildfly-swarm:run``` works fine. This is my [pom.xml](https://gist.github.com/neich/a53eed2334ec696c2820)

The _bootstrap directory of the -swarm.jar file only contains api-0.0.1.jar

Thanks

[2015-06-22 17:44] kenfinnigan commented on #68
Can you gist the contents of the -swarm archive?

[2015-06-22 17:46] neich commented on #68
Here it is:

https://gist.github.com/neich/8042a5bea7eab275780a

[2015-06-22 18:34] neich commented on #68
I've produced a small project that reproduces the error. The problem seems to be this:

[code]
Here it is: https://github.com/neich/swarm-execution-error

It is really minimal, the above dependency and two small java files.

```mvn wildfly-swarm:run``` works fine but ```mvn package && java -jar target/api-0.0.1-swarm.jar``` gives the error

[2015-06-22 19:22] #68 closed

[2015-06-22 19:23] bobmcwhirter commented on #68
Okay, so we have a better error message now if it fails to find an artifact.

And we should do a better job of finding project artifacts/dependencies that require a classifier (the -indy on groovy-all in this case).

If you can try 1.0.0.Alpha4-SNAPSHOT from HEAD of wildfly-swarm, it should solve this problem.

[2015-06-22 19:42] bobmcwhirter commented on #56
@neich see #68

[2015-06-23 16:07] #57 closed

[2015-06-24 08:46] swistaczek opened #70 "Wildfly swarm and jRuby application build by maven"
Hello,
I am trying to build complete executable JAR for web microservice (for future deployments on platforms like messos) for application written in Ruby. My goal is to combine **Ruby** web service (as application) with **undertow** web server and build so called **fat jar**.

I found great pieces of code created community and tried to combine them together with varying results due to my lack of

[2015-06-24 12:47] bobmcwhirter commented on #70
What versions of maven and jruby are you using so that I may attempt to replicate?

--
Sent from my iPhone

[2015-06-24 13:30] bobmcwhirter commented on #70
So, this is what I get, which seems like an app error, not a -swarm error:

[code]

[2015-06-24 15:12] swistaczek commented on #70
@bobmcwhirter I am using JRuby 1.7.20, Maven 3.3.3. Make sure that you have enabled JRuby, then install deps from Gemfile (it installs maven-tools etc.) and then run rmvn wildfly-swarm:run.

[code]

[2015-06-24 15:35] swistaczek commented on #5
+1 for gradle :)

[2015-06-24 15:49] bobmcwhirter commented on #70
Okay, once I did `bundle install` it boots without error locally, but I get "NOT FOUND" at http://localhost:8080/

I am using Alpha4-SNAPSHOT from git for wildfly-swarm.  Dunno if that makes a difference or not.

[code]

[2015-06-24 19:03] bobmcwhirter commented on #70
Okay...

So, first, you need to ensure the `package` goal is called in the wildfly-swarm-plugin

[code]

This goal must be configured because when `wildfly-swarm:run` executes it follows the `package` phase, which in tern gathers all the required dependencies into your local maven repository.  Without this, `wildfly-swarm:run` would only work if you already had a fully-population maven repository

[2015-06-24 19:05] bobmcwhirter commented on #70
In case you're not a Java guy, just clone the wildfly-swarm repository and run generic

`mvn install`

from the root.  It'll install 1.0.0.Alpha4-SNAPSHOT into your local repository.

[2015-06-25 12:33] #59 closed

[2015-06-25 15:27] bobmcwhirter commented on #59
You rock!

--
Sent from my iPhone

[2015-06-25 23:19] eprogramming commented on #67
thanks !
working fine
https://github.com/aeshell/nanook/issues/123

[2015-06-25 23:48] eprogramming commented on #59
@kenfinnigan awesome !
EJB Timer working :
https://github.com/aeshell/nanook/commit/ace14a35afd8e3d7385cfa6799b06a575a497305

[2015-06-27 01:31] dcominottim commented on #5
+1 for gradle support

[2015-06-27 02:01] bobmcwhirter commented on #5
So I'd be happy to work with someone on this but I, ironically, don't know Groovy any more.

Bob (co-founder of Groovy)

--
Sent from my iPhone

[2015-06-28 12:36] eprogramming commented on #56
@kenfinnigan
I can not reproduce this issue.
*wildfly-swarm-examples/jpa-servlet* is type war and no duplication here.

[2015-06-28 12:38] neich commented on #68
All working fine with 1.0.0.Alpha4-SNAPSHOT. Thanks !

[2015-06-28 20:38] eprogramming commented on #5
hi all,
It is currently possible to use gradle with wildfly-swarm
https://github.com/eprogramming/wildfly-swarm-gradle-java

[2015-06-28 20:50] eprogramming opened #71 "LogManager + groovy problem"
Hi all,

Already tried:

[code]

[code]
but still not working.

I guess we need to point to log manager jar with bootclasspath to get this working but this is hard path coded.

*1) Have no idea if this is an issue related to wildfly-swarm.*

*2) Have no idea if it was an issue from groovy and is correct to open this issue here.*

example and stack error:
https://github.com/eprogramming/wildfly-swa

[2015-06-28 21:08] bobmcwhirter commented on #71
Does groovy use JUL?

If so, does it provide any hooks to initialize before its first use of JUL?

If so, check Container.java for how we bootstrap JUL for JBoss logging.

--
Sent from my iPhone

[2015-06-28 21:27] eprogramming commented on #71
@bobmcwhirter thanks for the tip !
this helped me to search for other solution:
@CompileStatic

[2015-06-28 21:33] eprogramming commented on #71
working from IDE and  './executable'
https://github.com/eprogramming/wildfly-swarm-gradle-groovy

[2015-06-28 21:33] #71 closed

[2015-06-29 12:48] kenfinnigan commented on #56
@eprogramming, it's no longer the case that they're in `_bootstrap` but they are now in the `m2repo` directory.

In essence the issue is that they are present within `WEB-INF/lib` when they serve no purpose being there.

[2015-06-29 13:22] bobmcwhirter commented on #56
And they are there in your bare .war also (not the one inside the -swarm), where they absolutely serve no purpose.

[2015-06-29 13:23] bobmcwhirter commented on #5
@eprogramming the `unzip` portion seems inconvenient?

I'm completely gradle ignorant.  Is there anything we can do to improve this?  Is this using the -swarm plugin?  Can gradle use maven plugins?  How are the _bootstrap/ and wildfly-swarm-*.properties/txt files getting populated if not?

[2015-06-29 14:56] eprogramming commented on #5
@bobmcwhirter
with gradle is possible to do
1. gradle run ( run the mainClass )
2. [ not gradle related ] run from IDE
3. run from a generated 'start script' [ is the case of this example - distribution ]
**4.** run from a fat / uber jar

yes

**4.** not working ( I mean partial working , missing dependencies )

No, just gradle

I think yes, i saw some pom 'wrappers' out there but never did a try

[2015-06-29 15:05] eprogramming commented on #5
@bobmcwhirter

example updated for item **4.**
https://github.com/eprogramming/wildfly-swarm-gradle-java

./gradlew fatJar

will create

../build/libs/wf-swarm-gradle-swarm-1.0.jar

but when running (java -jar) this we get:

[Full Stack Here](https://gist.github.com/eprogramming/751e22990b3231bc99c1)

[2015-06-29 15:08] eprogramming commented on #5
only the item 4. has problem ( fat jar )
1, 2 and 3 are working fine.

[2015-06-30 02:55] eprogramming commented on #5
updating to alpha4 "mavenLocal()"
adding more dependencies on [build.gradle](https://github.com/eprogramming/wildfly-swarm-gradle-java/blob/master/build.gradle)

the errors gone but can't access *localhost:8080/*

![a](https://cloud.githubusercontent.com/assets/6443576/8423055/e9c333d8-1eb9-11e5-874d-294ceaf2e640.png)

[2015-06-30 16:06] bobmcwhirter commented on #5
Please see https://github.com/wildfly-swarm/wildfly-swarm/commit/2dca26d6b67345648a3d851060be052b53cfa402

There is now a maven-independent BuiltTool class (in wildfly-swarm-tools artifact) which is used by the much simpler PackageMojo now.

This could be used from a Gradle plugin, conceivably, if I know how to write one.  Or powered by some other tooling.

Example usage from PackageMojo.java:

[c

[2015-07-02 17:31] bobmcwhirter commented on #5
So, considering I suck with Gradle, if you're willing to install from HEAD:

https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/gradle

[2015-07-02 17:50] bobmcwhirter opened #73 "JAX-RS Async"

[2015-07-02 17:51] bobmcwhirter opened #74 "Clustering"
Multiple instances of -swarm services should be able to cluster.

[2015-07-02 17:52] bobmcwhirter opened #75 "Caching Subsystem"

[2015-07-02 17:53] bobmcwhirter opened #76 "Centralized Logging"
Whether LogStash/Elk or something RHQ/Hawkular-based.

[2015-07-02 17:53] bobmcwhirter opened #77 "Jolokia stuff"
Expose endpoints and other useful information via Jolokia.

[2015-07-02 17:54] bobmcwhirter opened #78 "APIMan Integration"
Aggregating flocks of -swarms into a single API endpoint via APIMan

[2015-07-02 17:54] bobmcwhirter opened #79 "Keycloak Integration"

[2015-07-02 18:10] bobmcwhirter commented on #5
@eprogramming Please see the changes to build.gradle.

I couldn't get `$version` to resolve in the `classpath` dependency to bring in the plugin.

Also, I'm not sure about typical usage patterns of configuring plugins and such.

I'll work on a `wildfly-swarm-run` in a bit, maybe.

[2015-07-02 20:29] eprogramming commented on #5
@bobmcwhirter awesome !

Sorry for the late feedback, going to test this

[2015-07-02 20:36] bobmcwhirter commented on #5
You may need to add the JBoss repository to your repo list manually at the moment.

And it probably won't work for .wars.

[2015-07-02 20:59] eprogramming commented on #5
ok thanks for the tip !
I saw lots of cool new issues, this is a great move for this project.
you guys congratulations for the effort.

[2015-07-02 21:04] bobmcwhirter commented on #5
Thanks to @kenfinnigan for the issues. I just transcribed them.

--
Sent from my iPhone

[2015-07-02 21:26] eprogramming commented on #5
'Plugin with id 'wildfly-swarm' not found.'
maybe i miss something ..
did clean install from HEAD
also added jboss repo on build.gradle

[2015-07-02 21:31] eprogramming commented on #5
going to investigate more...

[2015-07-02 21:44] bobmcwhirter commented on #5
Weird. The example doesn't work?

--
Sent from my iPhone

[2015-07-02 21:46] eprogramming commented on #5
No, when I do ./gradlew clean build
gets 'Plugin with id 'wildfly-swarm' not found.'

[2015-07-02 21:48] bobmcwhirter commented on #5
That's weird. I'll double check in the morning.

--
Sent from my iPhone

[2015-07-02 21:54] eprogramming commented on #5
PR sent that solves the issue with $version

[2015-07-02 22:36] eprogramming commented on #5
@bobmcwhirter is working
Going to send PRs
Also working with mavenLocal() : ]

[2015-07-02 23:05] eprogramming opened #81 "Modify gradle plugin to create jar inside build/libs directory"
when using gradle
'gradle clean build'
(similar to 'mvn clean package')
uses the build/libs directory as default place to the generated jar

currently the plugin creates the jar inside 'build' not 'build/libs'

[2015-07-02 23:40] bobmcwhirter commented on #81
Ah thanks. That's the sort of convention I'm ignorant of. Easily fixable.

--
Sent from my iPhone

[2015-07-03 12:26] thomasandersen77 opened #82 "Running mvn wildfly-swarm:run fails in Docker container"
Hi,

I am attempting to run `mvn wildfly-swarm:run` from inside a Docker container, but it fails with the following message: `Error loading module from modules/org/jboss/invocation/main/module.xml.`

It works from both terminal and IntelliJ. I am using the 1.0.0.Alpha3 version.

When I try to do `mvn package` I get a the following stacktrace:
[code]
My pom.xml plugin configuration is like:
[code]

[2015-07-03 12:34] thomasandersen77 commented on #82
Btw. my Dockerfile looks like this:
[code]

[2015-07-03 13:45] bobmcwhirter commented on #82
Does the artifact matching `org.jboss.invocation:jboss-invocation:1.4.1.Final` appear within your `-swarm.jar` under the `m2repo/org/jboss/invocation/...` path?

Inside docker, are you trying to `mvn package` or `mvn wildfly-swarm:run`?

If you can boil this down to a git repository I can checkout and work against, I can take a look.

[2015-07-03 13:47] #81 closed

[2015-07-03 14:52] bobmcwhirter commented on #81
Also, changed the property from swarm.mainClass to swarm.mainClassName.

And if you're using the application plugin and have `mainClassName` defined at the root, we fall back to that if you don't have `swarm.mainClassName` defined.

[2015-07-03 15:25] eprogramming commented on #81
great !

[2015-07-03 15:26] bobmcwhirter commented on #81
@eprogramming so I'm about at my limit of Gradle stuff.  If you want to make changes/etc, I'll be glad to merge them (or give you commits directly).

[2015-07-03 15:29] eprogramming commented on #81
@bobmcwhirter thanks very much for this feedback !
Also i'll try to contribute with others areas of wildfly-swarm of course.

[2015-07-05 13:35] EricWittmann commented on #78
+1

[2015-07-06 09:13] thomasandersen77 commented on #82
Hi,
 Sorry for the late reply. No this artifact is not in the m2repo:

Here is my content under the org/jboss directory:
[code]

I am trying to run `mvn wildfly.swarm:run`

[2015-07-06 09:25] thomasandersen77 commented on #82
I also used to get warnings when running the plugin. It warned me about to missing artifacts, so I also added these to the runtime:

[code]

[2015-07-06 20:58] eprogramming commented on #81
@bobmcwhirter
something get wrong
after updating all...

1. Still creating the jar on build dir instead build/libs
2. now shows this error:

[code]

[2015-07-06 21:22] bobmcwhirter commented on #81
I'm out for the week but can merge PRs.

--
Sent from my iPhone

[2015-07-06 22:16] eprogramming commented on #81
sorry, my fault, false alarm.
wf-swarm-examples updated, personal project updated, ( my mind guess wf-swarm updated but not )

[2015-07-06 22:45] eprogramming commented on #5
hi all, this is working btw

just a feedback...
I have no idea what must be done more , but for now static content + jaxrs + ejb timers working with gradle : ]

ofc using  `mavenLocal()` for a while until the folks publish on maven central
https://github.com/aeshell/nanook/blob/master/build.gradle

also working using groovy :+1:

https://github.com/eprogramming/wildfly-swarm-gradle-groovy/blob/mas

[2015-07-06 23:07] eprogramming commented on #82
hi @thomasandersen77 what i need to do to reproduce ?
do you have a step-by-step ?
did you tried alpha4 ? (since still alpha maybe alpha4 problem solved)

[2015-07-06 23:13] eprogramming commented on #78
+1

[2015-07-06 23:44] eprogramming opened #83 "Support for the mail subsystem"
hi all,
It would be great if i could create a centralized mail service with jax-rs to put in production on my current job.
thanks !

[2015-07-07 00:20] eprogramming commented on #44
@agoncal +1
good questions.

[2015-07-07 00:21] eprogramming commented on #17
hi,
I am not 'pope' to speak about but do I believe EAR does not fit/go much with the proposal.
btw... i vote for this questions:
https://github.com/wildfly-swarm/wildfly-swarm/issues/44#issuecomment-109627737

[2015-07-07 00:25] eprogramming commented on #44
And +1 to keep jar and war only ( KISS )

[2015-07-07 08:39] thomasandersen77 commented on #82
The issue has been resolved. It was not a an issue with Swarm, but rather unexpected behavior by Maven.

My repository in the Docker container was placed under `/root/.m2/repository` and by default Maven looks in `/home/root/.m2/...`.

I solved it by adding the following to settings.xml
[code]
I should have seen it sooner. Closing the issue.

Thank you for your help! :+1:

Best regards,
Thomas

[2015-07-07 08:39] #82 closed

[2015-07-07 10:59] kenfinnigan commented on #83
Are you suggesting we create a mail service that has JAX-RS endpoints for sending emails?

If so, I'm not sure that's something we would do as part of WildFly Swarm. Certainly you could use it to build something like that, just not sure it would fit within the project itself

[2015-07-07 12:24] bobmcwhirter commented on #83
I think he means the javax.mail stuff with a centralized way to setup the SMTP host for use by apps. Data sources for SMTP basically if I recall.

--
Sent from my iPhone

[2015-07-07 13:28] thomasandersen77 opened #84 "Fat JAX-RS Jar in Alpha3 running in Docker fails on execution"
Hi,

I have another issue related to running in a Docker container. It seems that undertow actually binds to an IP6 address at startup.

[code]
 I found a closed Issue that @arun-gupta reported, it said to give the java -jar command a `-Djboss.bind.address=0.0.0.0`. I have also checked the Maven Swarm plugin and `RunMojo` which default binds to `0.0.0.0`. This should be sufficient to make the appl

[2015-07-07 14:50] eprogramming commented on #83
no, sorry i updated the description.

add the configuration of the stmp

[2015-07-07 15:01] eprogramming commented on #83
yes

![test](https://cloud.githubusercontent.com/assets/6443576/8549197/cf9b0094-249f-11e5-8d06-a79d5b4a4e45.png)

[2015-07-07 15:27] eprogramming commented on #84
weird..
I'm going to learn more about docker to try this too...

[2015-07-07 15:32] bobmcwhirter commented on #84
There is also a system property akin to preferIPv4 or such you can set.  But I thought we already set it.

--
Sent from my iPhone

[2015-07-07 16:19] kenfinnigan commented on #56
I've been looking at this the past few days without much success.

The cleanest way to prevent the jars ending up in WEB-INF/lib is by them being `provided` scope, otherwise you need a very messy set of exclude definitions for the `maven-war-plugin` that a user must enter themselves.

The problem with this approach is that the `Swarm` main class, when a project doesn't have it's own main, or any d

[2015-07-07 18:52] thomasandersen77 commented on #84
@bobmcwhirter I will try some more tomorrow. @eprogramming: Docker and Wildfly Swarm are such a good match :)

We successfully run Wildfly 8.2 inside Docker in standalone mode. For some of our deployments it is a bit overkill to run a full Wildfly.

To start Wildfly we give the startup script `-b .0.0.0.0`. Don't know if that is of help?

[2015-07-07 19:50] emag commented on #84
@thomasandersen77

`jar` packaging is needed If you want to use `java -jar SwarmDocker-swarm.jar`.

https://github.com/thomasandersen77/swarm-docker/blob/master/pom.xml#L10

In your [settings.xml](https://github.com/thomasandersen77/swarm-docker/blob/master/settings.xml) , it specifies your own nexus right?

If so, It works in the following step in my environment .

1. war -> jar in pom.xml(as I s

[2015-07-07 20:03] emag commented on #79
+1 !

[2015-07-07 20:04] emag opened #85 "JSF"

[2015-07-08 01:45] kenfinnigan commented on #83
I'd misunderstood, makes sense now

[2015-07-08 01:46] #83 closed

[2015-07-08 01:57] eprogramming commented on #83
@kenfinnigan sorry the problem was my poor written english  (improving...)
thanks ! I'm going to test this right now !

[2015-07-08 04:47] eprogramming commented on #83
hi @kenfinnigan getting NameNotFound

`Caused by: javax.naming.NameNotFoundException: mail/ExampleName -- service jboss.naming.context.java.jboss.mail.ExampleName`

[2015-07-08 07:27] thomasandersen77 commented on #84
@emag

The docs didn't explain that you needed to change the packaging to `jar`, but I sad I at least didn't try since it was quite obvious.

My internal project had a dependency on
[code]
While `wildfly-swarm-jaxrs` had a transitive dependency to `asm-all`. So the exclusion above was necessary to make it work.

@eprogramming @bobmcwhirter Would you like my test-project contributed to `examples`,

[2015-07-08 07:57] #84 closed

[2015-07-08 10:37] emag commented on #84
@thomasandersen77 no problem :)

Absolutely!

[2015-07-08 10:40] kenfinnigan commented on #83
@eprogramming Sorry about that, made a few mistakes which are now corrected in HEAD

[2015-07-08 10:59] thomasandersen77 commented on #84
@emag Excellent! Do I make a pull request on master or Alpha3 branch?

[2015-07-08 11:09] emag commented on #84
@thomasandersen77
I think [wildfly-swarm-examples](https://github.com/wildfly-swarm/wildfly-swarm-examples) is proper for your example PR.

And, the repository target wf-swarm version is [1.0.0.Alpha4-SNAPSHOT](https://github.com/wildfly-swarm/wildfly-swarm-examples/blob/master/pom.xml#L11) for now.

[2015-07-08 11:31] thomasandersen77 commented on #84
@emag: The parent pom i messing up my mvn build inside docker. Is it allowed to remove the parent pom from my pom (I see that inheriting `version.wildfly-swarm` would be lost)? Or else I would need a Dockerfile at the same level as the root pom.

[2015-07-08 11:46] emag commented on #84
I don't know, but, by preference, it should be sub-module.

Hmm, can you create your example as sub-module like this? perhaps it doesn't mess parent.

[code]

[2015-07-08 11:54] thomasandersen77 commented on #84
It will because Docker does not allow you to back reference resources you add for security reasons.
[code]
It fails with the following message:
[code]
So maybe the least intrusive would be a Dockerfile at the same level as the root pom.

[2015-07-08 12:10] emag commented on #84
Ahh! Now I'm with you...

Or, how about `ADD SwarmDocker-swarm.jar`  in Dockerfile though users have to do `mvn package` before `docker build` or `docker-compose` ?

e.g.)

[code]

[2015-07-08 12:26] thomasandersen77 commented on #84
Seems to be the only solution. But excellent suggestion! I will fix it and send a pull request when I am of work in a few hours :+1:

Thanks again :)

[2015-07-08 12:45] bobmcwhirter commented on #84
Ha you don't have to use the example parent POM in an example. It's just convenient.

But for instance the gradle example doesn't use it.

--
Sent from my iPhone

[2015-07-08 12:49] thomasandersen77 commented on #84
@bobmcwhirter Ok. Thanks. However I solved it like @emag suggested. Running Maven inside the container is a in my experience convenience. The docker image will be smaller when you do not have to have the maven repo inside the image. A matter of preference really :)

[2015-07-08 12:54] thomasandersen77 commented on #84
@emag @bobmcwhirter
I sent a pull request but was unable to add reviewers. This my first pull request on Github . Hope I got it right :)

[2015-07-08 13:10] bobmcwhirter commented on #84
Can you take a look @kenfinnigan? Hard to review on phone.

--
Sent from my iPhone

[2015-07-08 13:17] kenfinnigan commented on #84
@bobmcwhirter get back to your holiday!

Will look at it shortly

[2015-07-08 15:07] eprogramming commented on #73
+1

[2015-07-08 15:09] eprogramming commented on #83
@kenfinnigan you fixed !
awesome !
Going to test this by using internal smtp from my job.

[2015-07-08 16:22] #85 closed

[2015-07-08 16:59] eprogramming commented on #83
can't test due weird problem on jboss repo
( maybe this is a temporary sync problem )

http://repository.jboss.org/nexus/content/groups/public/commons-lang/commons-lang/2.4/

http://repository.jboss.org/nexus/content/groups/public/commons-lang/commons-lang/2.4/commons-lang-2.4.jar.md5 ( 404 here )

download is frozen (freeze?)

![a](https://cloud.githubusercontent.com/assets/6443576/8576578/6342e3

[2015-07-08 17:00] kenfinnigan commented on #83
Is that during build?

If so, possibly a temporary problem

[2015-07-08 18:19] eprogramming commented on #83
during wildfly-swarm
 `mvn clean install`
now problem is on another dependency... going to wait until tomorrow

[2015-07-09 00:39] eprogramming commented on #73
hi all ,
for my understand...
when this feature enabled so, this : [ejb fraction with method async](https://github.com/wildfly-swarm/wildfly-swarm-examples/blob/master/gradle-mail/src/main/java/org/wildfly/swarm/examples/mail/Mail.java#L27) is not needed anymore right ?

btw I'm not java EE expert

[2015-07-09 00:42] eprogramming commented on #73
i mean, no need add EJB Fraction because this will be enabled by JAX-RS fraction is correct ?
thanks

[2015-07-09 00:57] eprogramming commented on #78
I have no idea how this can be done/started ...
but i know APIMan can do a awesome job with policies... for instance we can use APIMan to block
repeated requests to ['my conception of exception centralized mail microservice'](https://github.com/wildfly-swarm/wildfly-swarm/issues/83#issuecomment-119230442) because nobody needs repeated mails/alerts of the same exception all time.

double +1

[2015-07-09 01:02] eprogramming commented on #79
+1

[2015-07-09 10:04] thomasandersen77 commented on #73
Going out on a limb here, but could not this just be handled by the underlying resteasy implementation by using `@Suspended AsynchronousResponse response` as parameter to the rest-endpoint?

`The @Suspend annotation tells Resteasy that the HTTP request/response should be detached from the currently executing thread and that the current thread should not try to automaticaly process the response.`
h

[2015-07-09 10:22] eprogramming commented on #73
hi @thomasandersen77

yup this is the point too **(1)**, so that we don't need to add one more jar as dependency ( the ejb fraction to get the async method ) because jax-rs fraction will have it enabled by default **(2)**

thanks

[2015-07-09 11:21] thomasandersen77 commented on #73
Are you planning to create an example or is it open for others to contribute. Was so fun to contribute with a bit with the Docker example ;)

[2015-07-09 11:24] eprogramming commented on #73
@thomasandersen77 go for it !
Is open for others to contribute : ]

My plan (now) is to put alpha version in production on my current job

[2015-07-09 11:29] thomasandersen77 commented on #73
@eprogramming Thanks, I will :)

Please let me know how stable it is when you've had some traffic on it. Maybe my customer will consider it in a few months as well. As of now we use it to mock an external system in a Docker test environment

[2015-07-09 11:49] eprogramming commented on #73
Ok !

[2015-07-09 11:54] guedouarj opened #86 "Static content - welcome page"
Hello,

I followed this ticket:

https://github.com/wildfly-swarm/wildfly-swarm/issues/49

It seems that the welcome file ( aka index.html or other ) is still not working on the deployed JAR file, however it works with the wildfly-swarm maven plugin.

I always have a 403 Forbidden error when I got to the ROOT context of the app.

http://myapp.com/ -> 403 Forbidden
http://myapp.com/index.html -> OK

[2015-07-09 12:50] kenfinnigan commented on #86
One slight quirk with the `static` example is that https://github.com/wildfly-swarm/wildfly-swarm-examples/blob/master/static/src/main/java/org/wildfly/swarm/examples/staticcontent/Main.java#L15 tells Undertow to make the deployment available at `/static` and not `/`.

When running the `static` example you should see:

http://myapp.com/ -> 404 Not Found
http://myapp.com/static/ -> OK
http://myapp.

[2015-07-09 12:55] bobmcwhirter commented on #73
I think you're right. Mostly this is just to demonstrate that existing jaxrs async stuff actually works. Hopefully no net new code.

--
Sent from my iPhone

[2015-07-09 13:09] guedouarj commented on #86
Nope I have no exceptions...

and http://myapp.com/ gives me 403 Forbidden, I tested with packaging JAR on the pom file.
But normally we should be able to get http://myapp.com/  working, this is just a ROOT context "/".

On a standard JBOSS config we put the context to "/".

Anyway its not really a problem as we can use a proxy server to serve URL like /static...

[2015-07-09 13:43] kenfinnigan commented on #86
You can easily change the code in the `Main` class to set the context to be `/` instead of `/static`.

Which O/S are you testing on?

[2015-07-09 13:44] guedouarj commented on #86
Ubuntu linux.

[2015-07-09 13:55] kenfinnigan commented on #86
That's weird.

I'm on the same and don't have any issues with those two examples

[2015-07-09 13:58] guedouarj commented on #86
This is really strange then... And it works well with the wildfly swarm maven plugin, but not with the deployed jar ( *.-swarm.jar ).

[2015-07-09 14:07] emag commented on #86
@guedouarj Do you use latest HEAD of WildFly Swarm ?

[2015-07-09 14:18] guedouarj commented on #86
Yes the 1.0.0.Alpha3

[2015-07-09 14:34] emag commented on #86
Oh, I can reproduce it at 1.0.0.Alpha3 in the following steps.
Though I don't know why the reason, the issue is fixed at HEAD at least. Please give it a try.

[code]

[code]

[2015-07-09 14:42] emag commented on #86
Ah, I'd misunderstood. @guedouarj use static example, not static-war.

static example is OK at Alpha3 in my environment...

[code]

[code]

[2015-07-10 04:22] emag commented on #85
I'm working on creating JSF ShrinWrap example.

https://github.com/emag/wildfly-swarm-examples/tree/jsf-shrinkwrap-example/jsf-shrinkwrap

But, JSF/facelets doesn't work. Any idea?

[code]

It seems Mojarra enabled(Initializing Mojarra ~), however, it responses the raw content.

[code]

[2015-07-10 12:45] kenfinnigan commented on #85
Does the example work as a non Shrinkwrap version?

What are the benefits to having a Shrinkwrap version for JSF? Not sure there would be much you would want to "control" for a regular JSF app.

WEB-INF is probably exposed because of the `deployment.staticContent` call, and that's probably also why the xhtml files are being returned un processed, because Undertow is responding with the file conten

[2015-07-10 15:44] emag commented on #85
Yes, [a xhtml is processed](https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/jsf#use).

In most cases, datasource, logging settings. Even if WF-Swarm supports WildFly management interfaces(CLI, Web console) in the future, it is useful programmable settings by fractions.

Ok, I got it. You mean, JSF ShrinkWrap version is difficult ?

[2015-07-10 15:45] kenfinnigan commented on #85
Shouldn't be difficult, but you don't need the deployment.staticContent call.

If you populate the `WarDeployment` in a similar fashion to JAX-RS examples, it should be fine

[2015-07-10 16:19] emag commented on #85
Hmm, I'm not with you...  How can I expose facelets(xhtml) without deployment.staticContent call ?

[2015-07-10 16:39] bobmcwhirter commented on #85
Static is served un-modified. Facelets (and jsp) are not really static I think. But I have never done JSF.

--
Sent from my iPhone

[2015-07-10 17:05] kenfinnigan commented on #85
Correct @bobmcwhirter, JSF is non static.

@emag you will need to add the xhtml files to Shrinkwrap in a manner such as `war.addAsWebResource()`. I think that's the correct way, it's been a while since I've written Shrinkwrap tests for JSF.

[2015-07-10 21:16] emag commented on #85
@bobmcwhirter @kenfinnigan Thank you for your reply! Now I understand it. You're right,  absolutely.

Yes, it works :) I'll send you the PR shortly.

[2015-07-10 23:52] eprogramming commented on #83
hi all, just small feedback i tested on my job and working fine.
not in production yet ( because we have others things ofc ) but will.

Thanks ! Much more simple to share a programmatic way -- for developers to access configuration too (smtp/port), this is not only about the point of 'microservices'.

in other words:

1) before:
A  dev 'without access ...better: **without need to know**' about jbo

[2015-07-11 23:29] amannm opened #88 "Packaged JAR cannot execute without Maven Local wildfly-swarm-runtime-* artifacts"
Given I create a packaged JAR either with Gradle or Maven, followed by either
 1. Sending it to a system without the `wildfly-swarm-runtime-*` artifacts in Maven Local or
 2. Removing the `wildfly-swarm-runtime-*` artifacts from the build system's Maven Local

When I then execute that JAR, I will get this exception:
[code]
This is occuring on my Windows system where I have a `.m2` folder setup by

[2015-07-13 18:40] bobmcwhirter commented on #5
More relevant changes to both the maven and gradle configuration:

https://github.com/wildfly-swarm/wildfly-swarm/commit/1ccff77353847805b98d02f6c93a6b9d7d4cc2ac

[2015-07-14 16:26] thomasandersen77 commented on #88
@amannm  Do you have an git repo so I can try and reproduce this error?

I think my [issue] (https://github.com/wildfly-swarm/wildfly-swarm/issues/82) had some of the same chractaristics .

[2015-07-14 19:24] bobmcwhirter commented on #73
The @Suspend async JAX-RS stuff works as expected.

In a separate example where I'm mucking with NetflixOSS Ribbon, I see it functioning:

https://github.com/wildfly-swarm/wildfly-swarm-examples/blob/master/multiple/events/src/main/java/org/wildfly/swarm/examples/multi/events/EventsResource.java

[2015-07-14 19:24] #73 closed

[2015-07-14 20:30] bobmcwhirter commented on #29
Haven't addressed anything, really, but have verified that Ribbon at least, works within Swarm.

https://github.com/wildfly-swarm/wildfly-swarm-examples/blob/master/multiple/events/src/main/java/org/wildfly/swarm/examples/multi/events/EventsResource.java

When pulling in Eureka, though, there's some issues in conflicts with RESTEasy, I think, when Undertow tries to initialize servlets and parts of

[2015-07-14 23:57] eprogramming commented on #56
Using **fat-jar** :

1. Running `./gradlew clean wildfly-swarm-package` generates two files: `sampleproject.jar` (without dependencies **+-200kb**) and `sampleproject-swarm.jar` (with dependencies **+-80mb**)

2. The file `sampleproject-unspecified.jar` (**+-200kb** without dependencies ) is created inside `_bootstrap` directory.

The `sampleproject-unspecified.jar` is the duplicated jar of this i

[2015-07-15 00:04] eprogramming commented on #56
Using fat-jar and gradle the one 'duplicated' is this file 'sampleproject-unspecified.jar'

![dup_jar](https://cloud.githubusercontent.com/assets/6443576/8687918/d319fd5c-2a6b-11e5-9e00-79b592a24c61.png)

[2015-07-18 05:44] amannm commented on #88
If you take any of the official examples and apply one of those two steps on in a Windows environment, you'll get that error. It's probably something to do with the slash handling...

[2015-07-19 01:03] amannm opened #89 "WarDeployment static content "base" is not respected when executing from boostrap JAR"
When a user configures their `WarDeployment` to serve static content out of a specific "base" path...

    myJAXRSDeployment.staticContent("/", "public")

... then that configuration will not be respected when actually packaged and executing from the bootstrap JAR. It instead defaults to the root of the bootstrap JAR... and exposes its entire contents to the public! Yikes!

[2015-07-19 03:30] amannm opened #91 "JTDS driver classloading issue"
I setup most of my projects with a JTDS connection to SQL Server in `main`

        //deploy driver
        DriverDeployment driverDeployment = new DriverDeployment(container, "net.sourceforge.jtds:jtds:1.3.1", "jtds");
        container.deploy(driverDeployment);

        //deploy datasource
        Datasource datasource = new Datasource("prodmssql").connectionURL("jdbc:jtds:sqlserver://server.cor

[2015-07-22 15:58] kenfinnigan commented on #91
Is your project available for us to test with?

[2015-07-22 20:42] kenfinnigan commented on #56
@eprogramming it's really only an issue when building WARs, as all the dependencies are added to WEB-INF/lib of the WAR file that is normally built, which is not good as it's unnecessary, and they're also present in WEB-INF/lib of the WAR that is added to _bootstrap of the WildFly Swarm archive, which is duplication because they're also present in the m2repo

[2015-07-28 08:52] heiko-braun commented on #76
I guess this boils down to a custom log adapter within the WF logging subsystem? That's probably something @jamezp can comment on.

[2015-07-28 09:49] heiko-braun opened #93 "ModuleNotFoundException: org.jboss.logmanager:main"
When buildung the recent master I get this:

[code]

[2015-07-28 10:32] kenfinnigan commented on #93
Just tried myself and didn't hit that issue.

Any thoughts @jamezp ?

[2015-07-28 11:08] bobmcwhirter commented on #93
Jdk8 is require. We see this with jdk7 I think.

--
Sent from my iPhone

[2015-07-28 11:16] heiko-braun commented on #93
I am running JDK8 (the enforcer plugin also verifies this):

hbraun:~/dev/prj/wildfly-swarm (master)$ java -version
java version "1.8.0_05"
Java(TM) SE Runtime Environment (build 1.8.0_05-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.5-b02, mixed mode)

[2015-07-28 12:24] heiko-braun commented on #93
Hm, something is in flux. On a different run (CI machine this time) I get a related, but slightly different error:

[code]

[2015-07-28 12:35] bobmcwhirter commented on #93
This is strange. Once I'm online I'll give you access to our CI machine also.

--
Sent from my iPhone

[2015-07-28 12:43] heiko-braun commented on #93
Do you have any build constraints other then JDK 8 and maven 3.2?

[2015-07-28 13:37] bobmcwhirter commented on #93
Not that I’m aware of.

eduardo:wildfly-swarm bob$ java -version
java version "1.8.0_40-ea"
Java(TM) SE Runtime Environment (build 1.8.0_40-ea-b20)
Java HotSpot(TM) 64-Bit Server VM (build 25.40-b23, mixed mode)

eduardo:wildfly-swarm bob$ mvn -v
Apache Maven 3.2.5 (12a6b3acb947671f09b81f49094c53f426d8cea1; 2014-12-14T12:29:23-05:00)
Maven home: /Users/bob/packages/apache-maven
Java version: 1.8.0

[2015-07-28 15:16] jamezp commented on #76
WildFly can send logs anywhere really. FWIW I did just do a blog post about sending WildFly logs to logstash. http://wildfly.org/news/2015/07/25/Wildfly-And-ELK/

[2015-07-28 15:19] kenfinnigan commented on #76
Yep, was planning on using the information in your blog to create a logstash fraction! ;-)

[2015-07-28 15:36] jamezp commented on #93
I'm not sure what this could be. I tested on 1.8.0_05 and didn't have any issues locally.

[2015-07-28 17:17] heiko-braun commented on #93
@jamezp I don't think specific to the logging module. it just happens to be the only one bootstrapped by the container used in the test cases.

[2015-07-28 17:21] jamezp commented on #93
Yeah it has to me something with how modules are being loaded.

[2015-07-29 06:48] heiko-braun commented on #93
Todays build pulled in a set of snapshot dependencies and the problem disappeared. I consider this an intermittent test failure and close this issue.

[2015-07-29 06:48] #93 closed

[2015-07-29 06:58] heiko-braun opened #95 "Document the relation between fractions, swarm modules and wildfly stock subsystems"
Fractions seem to provide custom modules that mix in fraction specific API's and most often refer to stock wildfly modules. I.e. the IO fraction:

[code]

Can someone briefly explain the design rational behind this approach? I.e why are dedicated swarm modules needed? What do the swarm modules provide beyond the stock WF modules? Does this result a set modules bootstrapped by swarm which contains

[2015-07-29 07:03] heiko-braun opened #96 "Document the modules bootstrap mechnisms"
It looks like swarm uses a diferent approach to boostrap the modules depending wether it's running embedded or as fat jar. Can someone briefly explain the mechanism behind the BootModuleLoader, it's ModuleFinders within the context of an embedded swarm instance and the context of a fat jar?

[2015-07-29 07:03] heiko-braun commented on #96
This is somewhat related my question at #95

[2015-07-29 07:07] heiko-braun opened #97 "RFE: Moving the documentation to gitbooks.io"
Several jboss projects have made good experience with hosting the project documentation at gitbooks.io. It basically boils down to markdown documents that are kept with the swarm sources and some git hooks that publish the documentation whenever a commit to the documentation is received.

An example project documentation can be found here:
http://fabric8.io/gitbook/developer.html
(Note that this p

[2015-07-29 08:34] heiko-braun opened #98 "PEP: Generating the API's to configure the Wildfly subsystems"
( This is a project enhancement proposal, based on a discussion between @bobmcwhirter and @n1hility. I am merely trying to capture the ideas and throw in some thoughts on my own)

## Abstract

Provide an extension to swarm that can generate Java API's to build and execute the management operations needed to configure wildfly subsystems.

The API's to configure subsystems will be generated from the

[2015-07-29 08:41] heiko-braun commented on #98
Versioned Java API: the resulting API's can be distinguished by management model  and/or subsystem version.  The model and subsystem versions correspnd to the different wildfly releases.

[2015-07-29 11:32] emag commented on #95
+1 and related #44

[2015-07-29 12:48] kenfinnigan commented on #97
Currently our plan was to add documentation to http://wildfly.org/swarm/

I think the main reasoning was not having to spend time setting up a docs site.

Was it more than that @bobmcwhirter ?

[2015-07-29 13:09] bobmcwhirter commented on #95
I'll try to reply to #96 alongside this.

For more fractions, there are 2 pieces.  foo.jar and runtime-foo.jar.

The foo.jar (from api/foo/ in the build) is responsible for providing

* Any required module.xml from wf-swarm or WildFly itself
* The APIs (possibly to be generated in the future) to be used from the user-provided main() to configure the container (doing the stuff you would normally do

[2015-07-29 13:11] bobmcwhirter commented on #97
Yah, ultimately I'm lazy.  If we can do something that works easily and is published to GitHub sites or whatnot, I'm absolutely game.

I do think keeping http://wildfly.org/swarm/ as our web-presence is good, even if docs move to a different documentation site.

But I don't want to deal with infrastructure, if I can help it.

[2015-07-29 13:18] bobmcwhirter commented on #95
All this being said, this has evolved organically and may not actually be a great/wonderful/good solution. When we first started, we solved the run-inside-an-uberjar use-case, but completely neglected the *run my main() from the IDE* case.  So a lot of this was to support that also.  The JBDS guys pushed back on requiring a maven build before execution, since it was indeed pretty crappy.

Now the

[2015-07-29 13:34] bobmcwhirter commented on #98
So I'd hope we could avoid versioning of the Java API, but I dunno exactly what the guarantees are.

Basically, if standalone.xml is backwards compatible (across minor versions?  major?) I'd think our Java API could also.

Additionally, at this point, each release of WildFly-Swarm is intimately pinned to a specific version of WildFly itself since everything is resolved through maven transitive dep

[2015-07-29 13:43] heiko-braun commented on #98
I see two ways versioning can be addressed:

a) version the packages (i.e. org.wildfly.model.123.datasources)
b) version the maven artefacts according to the wilfly version (i.e. org.wildfly.model:datasources:jar:123

The later has the benefit that the swarm fraction would not be coupled to a version explicitly. A swarm fraction could however become incompatible with the config API's. But consider

[2015-07-29 13:44] heiko-braun commented on #98
What are your concerns? I did include versioning because I believe this would simplify updating to newer WF versions

[2015-07-29 13:56] bobmcwhirter commented on #98
My concern is if someone uses -swarm to write 100 microservices, each with their own main() and configuring something.  If we change the name of an attribute or whatnot, then they have to not only rebuild 100 services, but also edit them all.

If the API changes were purely additive, then only a rebuild would be required.

I think @n1lhility also mentioned that there's already a "no changes allowe

[2015-07-29 14:08] heiko-braun commented on #98
Right, there is a strict backwards compatibility requirement in WF. That means newer versions the generated API will mostly have additional attributes. In some cases WF deprecates attributes or renames them. In case of deprecation this would be represented in the Java API as well. Renamed attributes in WF are subject to be aliased. This case is handled by WF itself. So you can still refer to the p

[2015-07-29 14:13] heiko-braun commented on #98
I guess the bottom line, with regard to the question of versioning or not, is that the version allows for an explicit alignment with a target WF version. And it acts as a point of reference for users that need a landmark to identify new or deprecated elements in that API.

[2015-07-29 14:33] kenfinnigan commented on #98
It may not have been mentioned previously, but @bobmcwhirter and I were thinking of versioning WildFly Swarm in line with the WildFly version it requires.

If we do that, is there a need for the generated API to be versioned that way? As then the link between a WildFly Swarm and WildFly version is explicit at the project level.

[2015-07-29 15:01] n1hility commented on #98
So the management model compatibilty policy is that a subsystem's management model can never break compatibility. It can only add additional resources, attributes and operations. Changes are possible but only if they are compatible. For example if something allows a range of 1-10, it can be changed to allow a range of 1-20. If the compatibility contract needs to change then the subsystem has to be

[2015-07-29 17:30] heiko-braun commented on #98
@kenfinnigan

I think this doesn't change anything. The way I see it the set of configurable attributes is ultimatley defined by WF. Any new release may add (backwards compatible) changes to the management API. This means that swarm has to upgrade to the new (generated) management API's when moving to a newer WF version. At least if we want the swarm configuration to be en par with the wildfly sub

[2015-07-29 17:32] heiko-braun commented on #98
@bobmcwhirter , @kenfinnigan

let's turn it around: newer WF releases may introduce additional configurable attributes. How would you express this if not ny using a versioneed API?

[2015-07-29 17:33] bobmcwhirter commented on #98
Yah, but I think the point is, assuming -swarm version numbering matches wf version numbering, then...

configuration objects in wildfly-swarm-10.0.2 will exactly match the options available in wildfly-10.0.2.

If new things get added to wildfly-10.0.3, then the classes in wildfly-swarm's 10.0.3 will also accommodate them, without having to change package names or add any other version grist into

[2015-07-29 17:33] bobmcwhirter commented on #98
I think ultimately, the "versioning" of the API changes is done by maven artifact versions.

-swarm-10.0.3.jar has the newer/extra attributes that are lacking in -swarm-10.0.2.jar.

[2015-07-29 17:35] heiko-braun commented on #98
yes, exactly.

[2015-07-29 17:40] heiko-braun commented on #98
ok, maybe we should nail down some of the things that should not happen:

- change of java attribute names
- change of java attribute types
- change of package names
- removal of attributes
- removal of classes (deprecation is an exception)

Anything else you can think of that might break existing swarm applications?

[2015-07-29 17:46] bobmcwhirter commented on #98
I can't think of anything else right off hand.

fwiw, I'm not yet actually worried about breaking changes, since, quite frankly, we break the crap out of stuff with each release currently.  Hooray Alpha releases!

But once we start nailing down stuff, it'll matter more.

[2015-07-29 21:04] lance commented on #98
The only other breaking change I can think of is if possible attribute values change. Taking your example above, @heiko-braun. If something allows a range of 1-10, it cannot be changed to allow a range of 1-8.

[2015-07-30 00:52] #76 closed

[2015-07-30 01:23] kenfinnigan commented on #76
To have your application log to logstash:

* Add dependency to `wildfly-swarm-logstash`
* Configure the `LogstashFraction` inside your `Main` class, by specifying the hostname and port of the logstash server:

[code]

By default, the `LogstashFraction` will create a piece of metadata in the message to logstash with a key of `wildflySwarmNode` and value of `${jboss.node.name}`. The value will defau

[2015-07-30 15:31] jamezp commented on #76
That's awesome Ken! Well done.

[2015-07-30 15:46] eprogramming commented on #76
+1

[2015-07-30 16:34] bobmcwhirter commented on #76
Addendum:

You can configure it manually, by addding new Fraction().hostname("...").port(...)

or you can avoid explicit compile-time configuration by running your app with:

    -Dswarm.logstash.hostname=...
    -Dswarm.logstash.port=...

If both are not set, there is no default Logstash configuration.  If both properties are set, logstash will be configured and added to your container (assuming

[2015-07-30 16:52] thomasandersen77 commented on #76
It would be fantastic if it was possible to do the same with Splunk. A SplunkFraction  :)

[2015-07-30 17:53] bobmcwhirter commented on #76
That should be fairly straight-forward if you wanted to adapt the Logstash fraction and contribute it.

--
Sent from my iPhone

[2015-07-30 18:15] thomasandersen77 commented on #76
On holiday, but will give it a shot :)

[2015-07-31 14:01] heiko-braun commented on #98
Here's a first draft of some of the ideas turned into code: https://github.com/heiko-braun/api-gen

It breaks into three pieces:

- A generator (turns wildfly meta data into a java object model)
- The config lib (output of the generator. represents parts of the management model)
- A marshalling layer (turns java into dmr and vice versa)

It's in it's early stages, but should allow us to further sp

[2015-08-02 17:45] #89 closed

[2015-08-02 19:15] amannm commented on #91
The archive deployment methodology has drastically changed. Closing this out of date issue.

[2015-08-02 19:15] #91 closed

[2015-08-04 11:21] mchugunov opened #101 "Datasources are not registered for WAR-based application"
In a war-based swarm application I declare datasources as follows:

[code]

In pom.xml I declare that this class should be considered as application's mainClass:

[code]

While deploying I see that postgresql driver is loaded:

[code]

but I cannot access DataSource via JNDI inside deployed web-application.

The same configuration of Main class (that is referenced as mainClass in wildlfly-swarm-pl

[2015-08-04 11:45] emag commented on #101
Since you use main method, it has to be jar based application.

And, maybe you need some files(module.xml, provided-dependencies.txt).

[code]

My project perhaps helps you. I also use PostgreSQL :)

https://github.com/emag/morecat/tree/1.0.0-update/morecat-api
https://github.com/emag/morecat/tree/1.0.0-update/morecat-api/src/main/resources

[2015-08-04 11:48] mchugunov commented on #101
Thank you for a prompt reply, @emag. But does it mean that WAR-based applications are inconfigurable? Swarm docs (https://github.com/wildfly-swarm/wildfly-swarm#write-your-own-main) say that it is possible to reconfigure WAR-based application using ```main``` method

[2015-08-04 11:58] emag commented on #101
Sorry, I misunderstood.

Umm, it seems there is no sample war based configured datasource application using maven-war-plugin + manifest(having main)...

Any idea @bobmcwhirter  @kenfinnigan ?

[2015-08-04 12:11] bobmcwhirter commented on #101
Later version of swarm uses mainClass config in the swarm plugin instead of the war plugin, so that we can support wildfly-swarm:run and know what to run.

--
Sent from my iPhone

[2015-08-04 12:32] mchugunov commented on #101
@bobmcwhirter, I've pulled the last revision from wildfly-swarm/master, rebuilt it using ```mvn clean install``` and then rebuilt my application with following changes:

[code]

After running  application ```java -jar kernel-pack-war\target\kernel-pack-war-swarm.jar``` I get

[code]

[2015-08-04 12:58] bobmcwhirter commented on #101
This is weird.  Do you have a repo we can play with to try to debug?

[2015-08-04 13:40] mchugunov commented on #101
Sure, https://github.com/mchugunov/wildfly-swarm-emptywar.git

[2015-08-04 13:52] kenfinnigan commented on #101
My current understanding, as well as what we have with some examples, is that a `war` packaging type prevents the use of an overriding `Main` class.

If you want to override `Main`, then packaging type `jar` is needed.

Not to say it may not be possible to make a `Main` override work with `war` packaging, just that right now that won't work.

[2015-08-06 07:20] miloszpiglas opened #103 "Deploying remote EJB"
Deployment of simple war with single remote stateless bean ends with failure. However deployment exactly same war but with local bean ends with success.

Are there any special requirements or dependencies to deploy remote stateless bean with swarm?

Failure log:
================================================
2015-08-06 09:07:53,709 INFO  [org.jboss.as.server.deployment] (MSC service thread 1-1)

[2015-08-06 17:24] kenfinnigan commented on #103
I haven't personally tested Remote EJBs, so there could possibly be some missing pieces to make that work.

If the project you're trying this with is available on GitHub, we can take a look at see what's happening

[2015-08-07 06:08] miloszpiglas commented on #103
Thank you.

I've created project on github: https://github.com/miloszpiglas/swarm-remote-bean . It is assembled into simple war application with single remote stateless bean. Some dependencies that are defined in pom are probably unnecessary, but I tried everything ;)

Deployment of generated war on  standalone wildfly ends without errors

[2015-08-10 14:53] mstahv commented on #88
I had the same issue. I had empty localRepository tag "<localRepository/>" in my maven settings. Removing that (or setting it explicitly) seems to fix the issue. I guess swarm reads that value but treats "" bit differently than Maven itself.

Don't ask me why I had the empty localRepository definition there. I have no idea.

[2015-08-12 13:01] helio-frota opened #104 "build failed"
hi all ,
exists a 'wildfly-swarm' irc channel for quick feedbacks ?
thanks
[INFO] WildFly Swarm: Naming Test ......................... FAILURE [  6.134 s]

[2015-08-12 13:04] helio-frota commented on #104
[Stack here](https://gist.github.com/helio-frota/0e1a171c633a713870a0)

[2015-08-12 13:07] kenfinnigan commented on #104
Is this with the latest HEAD?

I know we've got issues in CI at the moment that @bobmcwhirter is looking into

[2015-08-12 13:08] kenfinnigan commented on #104
We are usually on https://www.hipchat.com/gW90m6pIs which is the WildFly HipChat room

[2015-08-12 13:09] helio-frota commented on #104
@kenfinnigan yes latest HEAD.
i'm 'eprogramming' , changed my github username btw...
hipchat is blocked here unfortunately : /

[2015-08-12 13:22] emag commented on #104
Hmm, `mvn clean install` is OK, however, `mvn test` is failed(latest HEAD 32a8da3).

In my environment, it gets stuck in `org.wildfly.swarm.naming.NamingInVmTest`.

the part of stacktrace.

[code]

[full stacktrace](https://gist.github.com/emag/940f9e2c92c0518d7383)

[2015-08-12 14:27] helio-frota commented on #104
hi

[code]
prints out always false :

https://github.com/helio-frota/wildfly-swarm/commit/d68411b7abaff1924f1cf2b1c88c52215fd5291c

[2015-08-12 15:32] bobmcwhirter commented on #88
I think I've just fixed this in HEAD.  Might be worth trying.

[2015-08-12 19:44] helio-frota commented on #104
after the latest fetch from upstream :

[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 50.971 s
[INFO] Finished at: 2015-08-12T16:41:47-03:00
[INFO] Final Memory: 279M/897M
[INFO] ------------------------------------------------------------------------

thanks !

[2015-08-12 19:44] #104 closed

[2015-08-13 06:44] heiko-braun commented on #98
@lance I've added a larger commit to support explicit keys for resources (actor argument) and implict keys in case of singleton resources (only one predefined instance. encoded key): https://github.com/heiko-braun/api-gen/commit/619a744dec077cd35b1ffa3603add55a87ccce24

Alongside  these changes I introduced subpackages that more a less try to reflect a resource hierarchy.

Here's an example of an

[2015-08-13 06:57] heiko-braun commented on #98
The next thing I am going to look into is to marshall a complete object hierarchy into DMR. The primary output should be a sequence of ADD operations, that will be executed to provide the setup the server configuration.

An alternative (not sure if it's needed) is a marshaller that creates hierarchical DMR structure (i.e. a complex nested resources representation).

Pseudo API for the two approach

[2015-08-13 07:50] mstahv commented on #88
Just tried with empty localRepository tag and it now works with that as well. Thanks.

[2015-08-13 12:21] bobmcwhirter commented on #98
We currently work with a flat List<ModelNode> when we give it to the AS at boot-time to OP=add everything.  That'd be the most straight-forward for us.  But then again I've never worked with a hierarchy of objects from a single root.  If that also is usable to boot the AS, then I imagine we could make it work also.

But generally, lists seem easier to deal with.

[2015-08-13 15:35] lance commented on #98
This is great - thank you! I was struggling with how to deal with singleton
resources yesterday. This clarifies things a bit for me.

Lance Ball
http://lanceball.com

On Thu, Aug 13, 2015 at 2:44 AM, Heiko Braun <notifications@github.com>
wrote:

[2015-08-13 18:18] heiko-braun commented on #98
@lance yes, they now get detected when the resource description is parsed. ResourceDescription now carries that info through the processing chain:
https://github.com/heiko-braun/api-gen/blob/master/generator/src/main/java/org/wildfly/apigen/model/ResourceDescription.java#L177

This allows the SourceFactory to treat singleton resources differently (i.e. use single accessors instead of collections):

[2015-08-13 18:27] heiko-braun commented on #98
@lance maybe you can comment on the package structures? Do you see any room for improvements?

[2015-08-13 19:49] lance commented on #98
@heiko-braun I like that you have moved the subsystems into their own `subsystem` package. But I'm not sure about continued subpackaging after that. A couple of things that I'm noticing. I think because these objects are getting subpackaged, we end up with some duplicates. For example, in the `logging` subsystem we have `org.wildfly.swarm.config.logging.subsystem.asyncHandler.AsyncHandler` and als

[2015-08-13 19:51] n1hility commented on #98
I am stoked at the progress guys! Cool stuff.

[2015-08-14 06:50] heiko-braun commented on #98
@lance

These may be functionally identical, but are actually different resources in the model (see @Address on those classes). Detecting these cases and re-using java types for resources at different address locations in the model would be nice, but overall I think the effort is not worth it:

- determining the equality of two resources would complicate the parsing routines
- re-using java types

[2015-08-24 15:47] fmarchioni opened #106 "Failure loading server modules"
Hi!
I'm trying to run the examples using the 1.0.0.Alpha4 release. Here is for example the output from a mvn package wildfly-swarm:run against the servlet example (using 1.0.0.Alpha4 instead of 1.0.0.Alpha5-SNAPSHOT):
org.jboss.modules.ModuleLoadException: Error loading module from modules/org/jboss/msc/main/module.xml
        at org.jboss.modules.ModuleXmlParser.parseModuleXml(ModuleXmlParser.jav

[2015-08-24 20:07] kenfinnigan commented on #106
I just checked out the Alpha4 released examples and wasn't able to reproduce the issue.

Are you running on JDK 8?

[2015-08-25 09:43] fmarchioni commented on #106
Yes, indeed I had JAVA_HOME pointing to the JDK 1.8.
Thanks

[2015-08-25 09:43] #106 closed

[2015-08-25 13:33] rjahn opened #107 "swarm-plugin adds too many artifacts to the jar file"
Create a simple demo application with instructions: http://wildfly.org/swarm/
In my case, it was a hello world vaadin application.

The created "fat" jar contained too many artifacts in the m2repo directory, e.g. all my application dependencies. This is not needed because the created war archive contains all my application dependencies?

The file size was ~ 102MB. The automatically created jar was

[2015-08-25 13:47] kenfinnigan commented on #107
Is the issue you're describing above only that the `m2repo` contains jars that are provided in the WAR?

Why would you want to create a jar for WildFly Swarm manually? Is that a request you're making?

[2015-08-25 14:22] rjahn commented on #107
Yes, the jars in the m2repo. The filesize was too large for the application. I did similar bundling with embedded Tomcat/TomEE and the overhead was very small.

I had a special use-case and I don't think it's a feature request. The official documentation contains:

First, I tried to integrate the build process in my ant script. This wasn't possible out-of-the-box because only gradle and maven are

[2015-08-25 14:34] kenfinnigan commented on #107
WildFly Swarm is targeting a different use case than just plain "fat" jars, as we're focusing on providing byte size pieces of WildFly for use in "fat" jars.

At the moment, that often means that the eventual size of the "fat" jar is not as small as we would like, but there is room for work on making the modules of WildFly more independent, which would then reduce the size.

As you stated we curre

[2015-08-26 11:00] jamesnetherton commented on #107
Any idea when we're likely to see swarm jars that are a bit more lightweight?

I've been playing with the swarm example projects. Some of the generated jars weigh in at over 80Mb. There's a lot of stuff that's not relevant being packaged like CXF and all of its dependencies.

[2015-08-26 11:17] bobmcwhirter commented on #107
If you can point us to an example app with a list of jars you think are extra we can begin to seek and destroy the extraneous stuff.

--
Sent from my iPhone

[2015-08-26 11:35] rjahn commented on #107
to kenfinnigan:

I think it's not important to create a jar from an existing war, without configuring relevant modules like JAX-RS. Automatic analyzation of war libs would be great, but maybe in a future release :)

Usually, the developer knows all required modules and can configure the build task. But the swarm build could be independent of war creation task. I have a war and know what modules ar

[2015-08-26 13:01] jamesnetherton commented on #107
@bobmcwhirter E.g the cdi-servlet demo. Taking a simplistic view of it, I see the words 'CDI' and 'Servlet' and assume my swarm jar will contain the minimum set of dependencies for the app server to support those two technologies. But it's stacked full of other stuff like Hibernate, CXF, HornetQ etc.

I guess this is a consequence of how things happen to be wired up in the underlying WildFly modul

[2015-08-26 13:07] kenfinnigan commented on #107
@jamesnetherton that's correct.

Every dependency that is pulled into the jar by Swarm is a result of how modules are defined within WildFly itself.

Trimming down those dependencies in WildFly itself is certainly a goal, but it requires work to validate that doing slimming doesn't impact WildFly.

[2015-08-27 15:57] kenfinnigan commented on #5
Some ideas here on how to wrap an existing WAR with WildFly Swarm: http://blog.sibvisions.com/2015/08/25/create-wildfly-swarm-applications-from-existing-war-files/

[2015-08-30 16:07] emag opened #108 "MDB Deployment Error"
Now I'm creating WildFly Swarm MDB sample.

https://github.com/emag/wildfly-swarm-examples/tree/mdb-spike/messaging-mdb

But, I got the following deployment error.

[code]
[full logs](https://gist.github.com/emag/5833078b428ca5e3e09d#file-error1-md)

So, I just added `default-resource-adapter-name` attribute in `EJBConfiguration`.

[code]

https://github.com/emag/wildfly-swarm/commit/0ade836a2bbac

[2015-08-30 16:11] bobmcwhirter commented on #108
Yah. Might need the connectors fraction as a dependency.

--
Sent from my iPhone

[2015-08-30 16:19] emag commented on #108
It means that the new fraction(corresponding `resource-adapters` subsystem) is needed?
Or, Do I have to add `wildfly-swarm-connector` dependency in my MDB sample(actually, it's already added for other dependencies)?

[2015-08-30 16:27] bobmcwhirter commented on #108
I get confused as to which is which but we definitely already have a JCA subsystem. Messaging is in your example also?

--
Sent from my iPhone

[2015-08-30 16:37] emag commented on #108
Yes, in my sample I define the following dependencies.

* wildfly-swarm-jaxrs
* wildfly-swarm-ejb
* wildfly-swarm-messaging

https://github.com/emag/wildfly-swarm-examples/blob/mdb-spike/messaging-mdb/pom.xml#L45-L59

Now I added wf-swarm-jca dependency explicitly, it was the same result.

[2015-08-30 16:45] bobmcwhirter commented on #108
If you can point me to your repo I'll have time to look at it on Wednesday I think.

--
Sent from my iPhone

[2015-08-30 16:52] emag commented on #108
Thank you!

This is my MDB sample.

https://github.com/emag/wildfly-swarm-examples/tree/mdb-spike/messaging-mdb

[code]
And this is my WF-Swarm fix.

https://github.com/emag/wildfly-swarm/commit/0ade836a2bbac0df2d9ef7c46e7187bca3cdc4e4

[2015-09-01 11:54] rjahn commented on #5
An ANT task that creates a jar from an existing war file: https://github.com/rjahn/swarm-ant
It doesn't analyze the dependencies automatically. The developer has to define all depencies manually (see README)

[2015-09-01 17:57] bobmcwhirter commented on #101
We should be able to allow a main() from within a .war.  I'll see what we can do.

[2015-09-01 17:58] bobmcwhirter commented on #96
I think this is answered by #95.

[2015-09-01 17:58] #96 closed

[2015-09-01 17:59] bobmcwhirter commented on #79
This was included in the alpha4 release.

myDeployment.as(Secured.class)

will find a `keycloak.json` from your classpath and setup keycloak (and munge up a web.xml with some security-contraints).

You can further call combinations of .protect("/path/to/whatever").withMethod("GET").withRoles("admin")

Might need additional improvement, but it works.

[2015-09-01 18:03] #79 closed

[2015-09-01 19:49] bobmcwhirter commented on #97
Documentation is starting to migrate to this GitHub repository:

https://github.com/wildfly-swarm/wildfly-swarm-users-guide

Which is wired up to this GitBook:

http://wildfly-swarm.gitbooks.io/wildfly-swarm-users-guide/content/

Pull-requests against GitHub will work.  If you (meaning anyone!) want access to the GitBook online editor, please just contact me or @kenfinnigan.

[2015-09-01 19:49] #97 closed

[2015-09-02 17:50] bobmcwhirter commented on #108
@emag Your example now launches without error on the console.  If you could verify that it actually solves the problem also, that'd be stellar.

Thanks!

[2015-09-02 19:39] emag commented on #108
Thanks a lot, it works!

Now, I have another question.

Although we can use JMS 2.0 API, it doesn't work.

https://github.com/emag/wildfly-swarm-examples/blob/mdb-spike/messaging-mdb/src/main/java/org/wildfly/swarm/examples/messaging/mdb/MyResource.java#L61

`@ JMSContext` and Topic Resource are not injected.

And I tried to define JMS destination by @ JMSDestinationDefinition, however, the same r

[2015-09-02 20:15] bobmcwhirter commented on #108
No idea but I'll investigate tomorrow!

[2015-09-03 14:09] #77 closed

[2015-09-03 14:13] bobmcwhirter commented on #77
http://wildfly-swarm.gitbooks.io/wildfly-swarm-users-guide/content/jolokia.html

[2015-09-03 15:24] bobmcwhirter commented on #74
Implemented for 1.0.0.Alpha4

[2015-09-03 15:24] #74 closed

[2015-09-03 15:29] bobmcwhirter commented on #70
Ping?

[2015-09-08 11:53] heiko-braun commented on #29
IMO service discovery shouldn't be tight to a specific impl. It would be good to support other registries like: zookeeper, consul, etcd

[2015-09-08 11:53] heiko-braun commented on #29
@bobmcwhirter

you mean a registry inetgrated with swarm?

[2015-09-08 12:03] bobmcwhirter commented on #29
Yah right now it's based on JGroups and WF clustering but certainly can be more generalized. And should be for OpenShift etc.

--
Sent from my iPhone

[2015-09-15 10:46] kenfinnigan commented on #103
Sorry @miloszpiglas, just realized I hadn't given you an update!

I'm waiting on the next release of WF 10, which is due any day, as there were some changes needed to the core container to expose the remoting services needed for this to work. Once WF 10 is released it shouldn't be more than a couple of days to have this working in WildFly Swarm

[2015-09-15 13:57] bobmcwhirter opened #109 "Investigate Packr"
https://github.com/libgdx/packr

[2015-09-16 14:47] bobmcwhirter opened #111 "Enable messaging to cluster"
Following -swarm's other clustering ability, making wildfly-swarm-messaging cluster-capable (or adding a wildfly-swarm-messaging-clustered) would be useful so that JMS topics/queues could span -swarm instances.

[2015-09-16 14:48] bobmcwhirter opened #112 "Ensure clustering works in OpenShift"
Currently clustering has only been tested in localhost using IP multicast.

Maybe we need KUBE_PING or other configuration values for use within OpenShift.

[2015-09-16 14:56] bobmcwhirter opened #113 "Provide more configuration for Jolokia"
Make it easy to secure Jolokia.  Perhaps auto-config jolokia if Keycloak is in use.

[2015-09-16 15:05] bobmcwhirter opened #114 "bin/swarmtool"
A CLI tool that can consume an existing .war (or .jar?), inspect it for relevant API usage (jms? ejb? cdi?) and create an appropriate myapp-swarm.jar.

Possibly using Tattletale or something akin to it to determine what dependencies are reasonable to assume.

[2015-09-16 15:06] bobmcwhirter commented on #114
Could use the existing BuildTool.java

[2015-09-16 15:24] bobmcwhirter opened #115 "Integrate with Hawkular"
Metrics are good.  Akin to Logstash integration I reckon.

[2015-09-16 18:37] bobmcwhirter opened #116 "Determine where we can make more module.xml's stuff optional=true"
Ideally, push any splitting upstream to WF proper.

[2015-09-25 18:50] bobmcwhirter commented on #115
https://wildfly-swarm.gitbooks.io/wildfly-swarm-users-guide/content/hawkular.html

[2015-09-25 18:50] #115 closed

[2015-09-26 21:51] helio-frota opened #121 "build frozen"
hi,

mvn clean install

![1](https://cloud.githubusercontent.com/assets/6443576/10120024/79f8996a-647f-11e5-9d7b-da61bca7683e.png)

[2015-09-26 22:05] helio-frota commented on #121
hi folks,
After interrupt (ctrl + c) and running again the test passed.
I will close this issue although it can open again if you encounter this behavior again.

[2015-09-26 22:05] #121 closed

[2015-09-28 14:45] bobmcwhirter commented on #95
I think this is being covered by the documentation at http://wildfly-swarm.gitbooks.io/

[2015-09-28 14:45] #95 closed

[2015-09-28 14:46] bobmcwhirter commented on #98
Closing, because it's being done pretty well and integrated.  Progress continues, of course.

Thanks @lance and @heiko-braun !

[2015-09-28 14:46] #98 closed

[2015-09-28 14:47] #49 closed

[2015-09-28 14:47] bobmcwhirter commented on #5
relates to #114.

[2015-09-28 14:48] bobmcwhirter commented on #29
Closing.  Further features should be new issues.

[2015-09-28 14:48] #29 closed

[2015-09-28 14:48] #86 closed

[2015-09-28 15:17] bobmcwhirter commented on #109
Investigated, seems (at this point) to be completely incompatible with WildFly-Swarm bootstrapping.

[2015-09-28 15:17] #109 closed

[2015-09-28 15:32] bobmcwhirter commented on #103
@kenfinnigan do we think CR2 (which we've rebased to) solves this?  Can you verify?

[2015-09-28 18:50] #103 closed

[2015-09-28 18:52] kenfinnigan commented on #103
@miloszpiglas If you update WildFly Swarm to the latest from master and rebuild it, merging https://github.com/miloszpiglas/swarm-remote-bean/pull/1 will fix the remote EJB issues you were having

[2015-09-28 19:44] #88 closed

[2015-09-28 20:55] bobmcwhirter opened #122 "Reformulate something like Packr, but for WF-Swarm"
Basically a native-launcher which can include the JDK/JRE and knows how to execute -swarm.jar's.

Akin to https://github.com/libgdx/packr, but functional for microservices.

[2015-09-29 06:14] myfear opened #123 "ClassNotFoundException: org.eclipse.aether.RepositorySystemSession"
Trying to build a simple jax-rs example with maven (Windows7, Java8u60, NetBeans) leads to the following exception (demo here https://github.com/myfear/WildFlySwarmDemo) :
Ideas appreciated.

--- maven-war-plugin:2.6:war (default-war) @ swarm-sample ---
Packaging webapp
Assembling webapp [swarm-sample] in [D:\GitHub\WildFlySwarmDemo\target\swarm-sample-1.0-SNAPSHOT]
Processing war project
Copying

[2015-09-29 07:40] emag commented on #123
What version is your Maven ?
WF-Swarm requires Maven 3.2.1 or later.

https://github.com/wildfly-swarm/wildfly-swarm/blob/1.0.0.Alpha4/pom.xml#L65

related issue: #14

[2015-09-29 08:02] myfear commented on #123
Apache Maven 3.3.3 (7994120775791599e205a5524ec3e0dfe41d4a06; 2015-04-22T13:57:3
7+02:00)
Maven home: D:\Program Files\apache-maven-3.3.3\bin\..
Java version: 1.8.0_60, vendor: Oracle Corporation
Java home: D:\jdk1.8.0_60\jre
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 7", version: "6.1", arch: "amd64", family: "dos"

[2015-09-29 08:32] emag commented on #123
Hmm, do you build your app in NetBeans?
Maven bundled NetBeans 8.0.2 version is 3.0.5 and NetBeans use it by default.

[2015-09-29 08:35] myfear commented on #123
Correct. Thank you for the tip. I did re-install NetBeans and forgot to switch back to latest, external maven.
Is there any way to enforce a version check and provide a meaningful error message?

[2015-09-29 08:35] #123 closed

[2015-09-29 17:21] bobmcwhirter opened #125 "Ribbon.js/RibbonToTheCurbSSEServlet"
The booker demo uses a custom ribbon.js and RibbonToTheCurbSSEServlet.  It'd be nice to somehow integrate those directly into wildfly-swarm-ribbon.

[2015-10-01 07:56] thuryn opened #127 "Bean with @Singleton causes error on start"
2015-10-01 09:46:42,172 ERROR [org.jboss.as.controller.management-operation] (main) WFLYCTL0013: Operation ("add") failed - address: (("deployment" => "276dc127-c203-4df6-b357-ecb92381f7b8.war")) - failure description: {"WFLYCTL0180: Services with missing/unavailable dependencies" => ["jboss.deployment.unit.\"276dc127-c203-4df6-b357-ecb92381f7b8.war\".component.MembersRest.CREATE is missing [jboss

[2015-10-01 13:32] bobmcwhirter commented on #127
Are you using Alpha4 of WildFly-Swarm, or built from HEAD?

[2015-10-01 13:48] thuryn commented on #127
Alpha5, so probably HEAD

[2015-10-01 13:53] bobmcwhirter commented on #127
In https://github.com/wildfly-swarm/wildfly-swarm/commit/c1343c10f6aef314d1431617d19b284cac855651 I've added a test for @Singleton beans.

This might've been broken up until mid-day yesterday due to our movement to wildfly-config-api.jar and it's generated API.

Here's what I've added:

[code]

And console output from the related https://github.com/wildfly-swarm/wildfly-swarm/blob/master/ejb/test/

[2015-10-01 13:58] bobmcwhirter opened #128 "Swarm-specific Arquillian protocol"
We currently use the ServletProtocol for Arquillian, which unfortunately means everything deploys as a .war, and -swarm is not always actually very .war-aware, if you're testing something like just EJBs in isolation.

A simpler protocol which is unreliant upon Undertow would be great.  @ALRubinger pointed us to an arquillian-daemon which works simply.  We could/should fork/duplicate/be-inspried-by

[2015-10-01 15:06] bobmcwhirter opened #129 "For WildFly greater than 10.0.0.CR2, set server UUID consistently"
For some value of "consistently".

Hawkular seems to use server UUID to determine continuity across reboots of a server.  WildFly generates a UUID randomly on first boot, and stores it under data/kernel/**.  WildFly Swarm processes have no persistent data/kernel/** storage, so every launch becomes a new, unique, special snowflake of a UUID.

[2015-10-01 15:13] thuryn commented on #127
OK, I'll try it today.

[2015-10-01 15:32] thuryn commented on #127
I cannot test it because I've got other errors in deployment after update from github and build:

2015-10-01 17:30:45,608 ERROR [org.jboss.msc.service.fail] (MSC service thread 1-3) MSC000001: Failed to start service jboss.deployment.unit."ca8667d2-4215-4a02-b3dd-c91f3d3ddfd4.war".WeldStartService: org.jboss.msc.service.StartException in service jboss.deployment.unit."ca8667d2-4215-4a02-b3dd-c91f3

[2015-10-01 15:33] bobmcwhirter commented on #127
This is weird.  Do you have a repository I can test against?

[2015-10-01 15:45] thuryn commented on #127
no at the moment. I'll try to fix this exception by managing dependencies and will see.

[2015-10-01 19:13] thuryn commented on #127
So I can confirm, it works fine right now. So it was bad luck that I checked out sources with error at first. So next what I need is infinispan cache.

[2015-10-01 19:13] thuryn commented on #127
thanks for help a lot

[2015-10-01 19:13] #127 closed

[2015-10-01 19:21] bobmcwhirter commented on #75
@thuryn -- thanks for the vote for infinispan/caching.  I'll see about getting to it sooner rather than later.

[2015-10-02 18:59] emag commented on #122
+1
It sounds great.

[2015-10-04 05:27] emag commented on #123
It seems there is no way to propagate WildFly Swarm maven-enforcer-plugin setting(`maven.min.version -> 3.2.1`).

Maybe you can check it in WildFly Swarm plugin classes(not now, feature request).
But I'm not sure it's proper.

@bobmcwhirter @kenfinnigan What do you think?

[2015-10-07 16:55] bobmcwhirter commented on #129
The following rules are now in place to set the `jboss.server.management.uuid` property which controls the server UUID:

* If `swarm.node.id` is set, to any arbitrary string, it gets hashed into a UUID
* Else, if `jboss.node.name` is set, it gets hashed into a UUID
* Else, a random UUID is created.

Additionally...

if `swarm.node.id` is set and `jboss.node.name` is not, then `jboss.node.name` is

[2015-10-07 16:55] #129 closed

[2015-10-07 16:58] bobmcwhirter commented on #108
Sorry I dropped this.  Looking into it now.

[2015-10-07 18:39] bobmcwhirter commented on #108
Okay...

if you add @Stateless to MyResource, it fails a little more correctly, but still fails.

I'm pretty ignorant of JNDI and lookups, but I think it requires @Stateless on it to get injections to start working.

Let me know.

[2015-10-07 19:06] emag commented on #108
Thank you for your comment.

Yeah, I forgot to add CDI or EJB Annotation for MyResource, sorry.

Now  I added it(in my case, @ApplicationScoped), and I got `NameNotFoundException: DefaultJMSConnectionFactory`.

Even though WildFly Swarm startup log says DfaultJMSConnectionFactory is bounded, it seems that it has some problem.

[code]

I'll look into it a little bit more. Thanks.
javax.naming.NameN

[2015-10-07 19:13] bobmcwhirter commented on #108
Yah, I'm looking into that now.

[2015-10-07 19:35] bobmcwhirter commented on #108
Okay, I have a fix to push (shortly, once my local tests complete) to fix the DefaultJMSConnectionFactory issue.

[2015-10-07 19:45] #108 closed

[2015-10-07 19:50] emag commented on #108
Thank you for your fix, it works!

I'll clean up my mdb sample and then do p-r for wildfly-swarm-example later.

[2015-10-07 19:56] bobmcwhirter commented on #108
Glad to hear it!

Also, never hesitate to poke an issue if we've let it linger for a while without fixing.  We lose track sometimes.

[2015-10-07 20:34] emag commented on #108
OK, thanks :)

[2015-10-08 08:48] atao60 opened #133 "websocket and wildfly-swarm:run"
I'm playing with wildfly-swarm and websocket, using:
    Creating a Chat Application using Java EE 7, Websockets and GlassFish 4
    http://www.hascode.com/2013/08/creating-a-chat-application-using-java-ee-7-websockets-and-glassfish-4/

with code source:
    Java EE 7 - GlassFish WebSockets Chat Tutorial
    https://bitbucket.org/hascode/javaee7-websocket-chat/

It's a very simple application with

[2015-10-08 08:53] emag commented on #133
Can you share the project repo?

[2015-10-08 09:35] atao60 commented on #133
Done: https://github.com/atao60/javaee7-websocket-chat.git

[2015-10-08 14:40] myfear opened #134 "Failed to resolve artifact 'org.jboss.spec.javax.sql:jboss-javax-sql-api_7.0_spec:1.1.0"
Building this example works fine.
https://github.com/myfear/WildFlySwarmDockerSample

running it leads to:

D:\GitHub\WildFlySwarmDockerSample\target>java -jar swarm-sample-1.0-SNAPSHOT-swarm.jar
org.jboss.modules.ModuleLoadException: Error loading module from modules/javax/sql/api/main/module.xml
        at org.jboss.modules.ModuleXmlParser.parseModuleXml(ModuleXmlParser.java:150)
        at org.

[2015-10-08 14:50] bobmcwhirter commented on #134
What version of -swarm are you using?  Beta4 release?  Beta5-SNAPSHOT built from git?

[2015-10-08 15:36] bobmcwhirter commented on #133
So, I've had to also add `-Pwildfly` to my commandline, it seems, to get that profile to also active.

And I've got a fix to push in a moment for the `wildfly-swarm:run` problem in a moment.

[2015-10-08 15:37] #133 closed

[2015-10-08 18:10] #107 closed

[2015-10-08 18:11] bobmcwhirter commented on #107
The above change reduced the -vaadin example -swarm.jar by about 40mb.

[2015-10-08 21:11] atao60 commented on #133
About the fixes #133: I haven't tested it, but I added the file name extention ".war" in my current pom with:
    `<finalName>${project.artifactId}-${project.version}.${project.packaging}</finalName>`
and now everything runs fine. This workaround is good enough atm.

The default finalName doesn't contain any file name extension. See http://maven.apache.org/pom.html#BaseBuild_Element. When required

[2015-10-08 21:20] bobmcwhirter commented on #133
Yah. I adjusted the :run to figure if the packaging=war and finalName not ending in .war to add the extension.

--
Sent from my iPhone

[2015-10-09 03:43] myfear commented on #134
Last stable Alpha4.

[2015-10-09 10:06] kenfinnigan commented on #134
Ok, this looks like it's because we upgraded to WF 10.0.0.Beta1 just before releasing Alpha4, but the version for javax.sql was not updated to match.

It was fixed when we upgraded to Beta2 shortly after releasing.

Building latest master should resolve it

[2015-10-12 14:32] tlhsmeenk opened #135 "java.lang.reflect.InvocationTargetException after including datasources"
Hey,

After including the datasources fraction the fat-jar generated by the swarm plugin fails to start using java -jar, throwing a LinkageError exception. At first we assumed a mistake somewhere in our experimental project but the datasource-subsystem example throws the same exception (had to add the drivername to the jdbdriver calling JdbcDriver.drivername("") ). Interestingly enough there are n

[2015-10-12 14:34] bobmcwhirter commented on #135
Thanks for the report.  These are troubling, but pretty easy for us to track down.  Hopefully we'll have a fix for you before too long.

[2015-10-12 14:39] tlhsmeenk commented on #135
Cheers :) We've been enjoying the ride on the swarm train so far so keep up the awesome work.

[2015-10-13 01:07] jclingan opened #136 "WildFly Swarm Maven Archetype"
Create a Maven archetype for WildFly Swarm projects. I did find  [WildFly archetypes](https://github.com/wildfly/wildfly-archetypes), but no WildFly Swarm archetypes.

[2015-10-13 18:00] jclingan opened #137 "Getting "Unable to create default deployment" when running via maven"
I have a simple application ([link](https://github.com/jclingan/simple-wildfly-swarm-app)) that creates a hello world JAX-RS resource. The application runs fine via "java -jar", but I get a warning when trying to run the app via "mvn wildfly-swarm:run".

Warning: ERROR [stderr] (main) [WARN] Unable to create default deployment.

[2015-10-13 18:07] bobmcwhirter commented on #137
Same problem as reported in #133, fixed in HEAD.

Build from git, use 1.0.0.Alpha5-SNAPSHOT and add

            <version>${version.wildfly-swarm}</version>

to your wildfly-swarm-plugin to ensure that version is used during the build also (I think mvn uses the latest non-SNAPSHOT by default)

[2015-10-13 18:07] #137 closed

[2015-10-13 18:08] jclingan commented on #137
Many thanks.

[2015-10-13 18:44] jclingan commented on #137
Using alpha5-SNAPSHOT fixed it. Thanks again.

[2015-10-13 19:19] gastaldi opened #138 "List available Fractions as a separate maven artifact"
It would be nice to have a YAML/JSON/XML file containing the available Wildfly-Swarm Fractions. This would help in https://github.com/forge/wildfly-swarm-addon/issues/1

[2015-10-13 19:26] bobmcwhirter commented on #138
Just a straight list, or would having dependency information be useful?

e.g. ->

    {
      "jaxrs" : [ "undertow" ],
     "undertow" : [ "container", "naming" ]
    }

[2015-10-13 20:12] kenfinnigan commented on #138
This got me thinking that if the json had deps, we could create a fraction scaffolder that takes JSON of the above form and defines all the necessary projects with appropriate maven deps for a new fraction

[2015-10-13 20:24] gastaldi commented on #138
The dependency information would be nice to have too

[2015-10-13 20:25] gastaldi commented on #138
how about a DOT file? We use that in Forge for visualizing addon dependencies

[2015-10-15 07:33] jamesnetherton opened #139 "Apache Camel integration"
We have a [susbsystem for Wildfly](https://github.com/wildfly-extras/wildfly-camel) to provide [Apache Camel](http://camel.apache.org/) integration. There's a [feature pack](http://search.maven.org/#artifactdetails%7Corg.wildfly.camel%7Cwildfly-camel-feature-pack%7C3.1.0%7Cpom), so it should be possible to integrate this with Swarm.

Some of the tooling may need tweaking as this subsystem installs

[2015-10-15 11:30] bobmcwhirter commented on #139
Lets do it!

--
Sent from my iPhone

[2015-10-16 03:45] kenfinnigan opened #140 "Dependency version mismatch from config-api"
I noticed that the contents of WEB-INF/lib of a generated WAR archive that is deployed to the container has a reasonable amount of dependency duplication but with different versions.

After some digging I found that the version of wildfly-core that is part of WildFly, which wildfly-swarm uses, is more recent than the one being used directly by config-api.

Not sure the best solution, but one optio

[2015-10-16 11:50] bobmcwhirter commented on #140
I think config-api also needs some scope adjustments on its depa maybe.

--
Sent from my iPhone

[2015-10-16 14:47] bobmcwhirter commented on #140
I've moved to a <scope>import</scope> in the dependencyManagement of config-api, bringing in wildfly-parent (based on WF's version) and removing any explicit wildfly-core versioning.

As long as the same WF version is used, we should be good now.

[2015-10-16 14:49] kenfinnigan commented on #140
Awesome!

Sent from my iPhone

[2015-10-17 21:07] kenfinnigan commented on #134
Marking as resolved. @myfear, let me know if this solution wasn't correct.

[2015-10-17 21:07] #134 closed

[2015-10-18 13:30] thomasmey opened #141 "https only in wildfly-swarm"
Hi,

how to configure a https only connector in wildfly-swarm
			container.subsystem(new UndertowFraction() {
				@Override
				public void initialize(Container.InitContext initContext) {
					initContext.socketBinding(new SocketBinding("https").port(port));
				}
			});

But this fails because of a missing configuration for the http listener.

See also https://github.com/thomasmey/einkaufsliste-s

[2015-10-18 13:50] emag commented on #141
Since Servlet 3.0, you can add filters by @ WebFilter(filterName="foo-filter", urlPatterns="/foo"), so you don't have to craete a web.xml.

https://docs.oracle.com/javaee/7/api/javax/servlet/annotation/WebFilter.html

[2015-10-18 13:58] bobmcwhirter commented on #141
Try adding the socket-binding to the container instead of in the initialize. Then a filter to force redirect from http to https maybe.

We can probably make it easier though of course.

--
Sent from my iPhone

[2015-10-19 17:57] bobmcwhirter commented on #141
How are you configuring the keystore and things required by https?  We'll definitely have more knobs and such in the next release of WildFly-Swarm, but if we can figure out the usage patterns, we can make http+https (or https-only) even easier.

[2015-10-20 13:43] lance commented on #75
https://github.com/wildfly-swarm/wildfly-swarm/pull/142

Please report any problems with this as a new issue.

[2015-10-20 13:43] #75 closed

[2015-10-20 13:49] #140 closed

[2015-10-21 09:00] heiko-braun commented on #139
+1

Is there a way yo reduce the artefact size? Does it matter?

[2015-10-21 09:10] heiko-braun commented on #4
The WF processing chain for XML conceptually works like this:

XML > Parser > DMR > Bootstrap

For Swarm it's currently:

Fraction > Java Config >  DMR > Bootstrap

We would have to see how the XML file fit's into the picture, because it has no clear mapping to the fractions. Furthermore the XML can contain more subsystems configuration that does not correspond to a fraction.

Food for thought: if

[2015-10-21 09:33] jamesnetherton commented on #139
I'll take a look into it. I did think about producing a lightweight feature pack with just a minimum set of camel dependencies. Anything additional could be specified by users in their Maven POM.

As an initial step I was going to integrate everything 'as is' and then look at slimming things down if size becomes a problem.

[2015-10-21 13:59] jclingan commented on #139
From a (Swarm) PM perspective, I guess my starting point is to ask how the Spring Boot integration is done. Is everything integrated "as is" for Spring Boot?

I also think that slimming down to reduce the overall image size is a good thing. However, 'as is' is a reasonable starting point and we can figure out where to go from there.

[2015-10-21 14:28] jamesnetherton commented on #139
There is no Spring Boot integration (yet). Currently these components are supported:

https://wildflyext.gitbooks.io/wildfly-camel/content/components/index.html

[2015-10-21 16:40] jclingan commented on #139
Let me re-phrase. I was looking at this Camel-SpringBoot integration as an example: http://camel.apache.org/spring-boot.html

[2015-10-22 08:35] jamesnetherton commented on #139
Ah ok. So you're asking how the Camel stuff gets bootstrapped?

It works either by annotating classes with Camel CDI annotations. E.g `@ContextName` or by a custom `@CamelAware` annotation. Or if Camel Spring XML configuration is desired, folks can provide a `META-INF/camel-context.xml` file, which will be automatically loaded by the subsystem.

[2015-10-22 15:44] heiko-braun commented on #112
I was thinking about a general "Environment" abstraction that can adjust the configuration across fractions. Like one place to define wether swarm runs within the IDE, on OpenShift, EC2 or wherever. The config adjustments would then happen after the regular configuration steps and extend or replace existing fraction configurations.

Ideally this can happen based on the concept of "presence" within

[2015-10-23 18:26] kenfinnigan commented on #135
This should be fixed in latest HEAD.

Can you verify @tlhsmeenk

[2015-10-23 19:29] bbrowning commented on #112
I like that idea although there are some details to work out. As a concrete example, in OpenShift 3 we'd want to use DNS_PING or KUBE_PING from https://github.com/jboss-openshift/openshift-ping. Does the user have to know this ahead of time and add wildfly-swarm-environment-openshift to their pom.xml when building their Swarm app? Or do we always include openshift-ping and other environment-specif

[2015-10-26 08:45] tlhsmeenk commented on #135
It is indeed working again! Thanks for the feedback :-)

[2015-10-26 08:45] #135 closed

[2015-10-26 17:27] lance opened #145 "Add a chapter to the documentation about the Infinispan Fraction"

[2015-10-26 17:40] bobmcwhirter commented on #44
Discussing hoisting up from wildfly.org/swarm to its own top-level domain.

Mostly blog, but possibly FAQ and other non-bloggy things.

[2015-10-27 04:19] emag opened #146 "Add interceptor spec dependency"
Now WildFly Swarm modules don't have Interceptor spec dependency, so you need to add it in your app manually to use Interceptor API(javax.interceptor.*).

[code]

Would it better WF-Swarm  add the spec dependency in any existing modules, or create a module for  interceptor?

[2015-10-27 15:14] bobmcwhirter commented on #146
Give HEAD (Alpha6-SNAPSHOT) a whirl.  The correct modules should already be pulled in.  I added the above as dependencies of

* wildfly-swarm-ee
* wildfly-swarm-ejb
* wildfly-swarm-weld

If you find other places that it should be implicitly available, let me know.

[2015-10-27 15:56] emag commented on #146
Thanks you for your commit! Now I can remove the explicit interceptor api spec dependency.

Sure :) But I have a (probably myopic) thought.

As you and Tomaz said on hipchat, it seems WildFly Distro several modules depend on interceptor api spec and its implements(jboss-invocation). It' hard to know what subsystem is responsible for it.

However, personally speaking, in WildFly Swarm side, since m

[2015-10-27 16:38] lance commented on #145
https://github.com/wildfly-swarm/wildfly-swarm-users-guide/commit/62483d6f7894be25dac1f30664efa027144808e3

[2015-10-27 16:38] #145 closed

[2015-10-27 17:26] #138 closed

[2015-10-27 17:27] bobmcwhirter commented on #138
For now, just a simple file will be available on the next release:

    <groupId>org.wildfly.swarm</groupId>
    <artifactId>wildfly-swarm-fraction-list</artifactId>
    <type>txt</type>

It contains a list of available fractions, one-per-line, a colon-separated groupId:artifactId

The current contents, as of this writing, is:

[code]

[2015-10-27 17:31] bobmcwhirter commented on #146
If you confirmed that this works, can we close this?

[2015-10-27 17:56] emag commented on #146
Just now, I confirmed and did p-r https://github.com/wildfly-swarm/wildfly-swarm/pull/147

I tested it by the following tiny sample.

https://github.com/emag/professional-java-ee-design-patterns/tree/master/interceptor

[2015-10-27 17:59] #146 closed

[2015-10-28 01:05] tobias commented on #138
@bobmcwhirter - you asked on irc if this would be useful for swarmtool - it would if it also included packages that indicate the fraction should be included, but that would have to be manually generated. swarmtool currently uses https://github.com/wildfly-swarm/wildfly-swarm/blob/master/swarmtool/src/main/resources/org/wildfly/swarm/swarmtool/fraction-packages.properties to specify that.

[2015-10-30 14:23] #136 closed

[2015-11-02 20:37] lance commented on #125
Fixed.
See example usage here: https://github.com/wildfly-swarm/booker/tree/master/web-client

[2015-11-02 20:37] #125 closed

[2015-11-02 20:38] lance opened #148 "Make ribbon-webapp's context configurable"
Currently, the ribbon-webapp subsystem requires that it's context is `/ribbon`. This should probably be configurable.

[2015-11-02 20:47] lance opened #149 "Remove dependency on jquery for ribbon-webapp"

[2015-11-04 18:46] jclingan commented on #44
Being a newbie, what is the right way for us to do this? I'd like to start pointing developers "somewhere" besides what we have now.  Of course, I'll help generate content too.

[2015-11-04 18:49] bobmcwhirter commented on #44
We need to get Lance home from NYC to get it set up. You can start writing
content in asciidoc though and I'll make a repo for it later today or
tomorrow. Or maybe Friday. Or maybe Ken will.

We have domains now. Yay.

--
Sent from my iPhone

On Nov 4, 2015, at 1:46 PM, John Clingan <notifications@github.com> wrote:

Being a newbie, what is the right way for us to do this? I'd like to start
pointi

[2015-11-04 19:02] lance commented on #44
I will be back tomorrow (after sleeping in a little), and will get that
ball rolling.

On Wednesday, November 4, 2015, Bob McWhirter <notifications@github.com>
wrote:

--
Lance Ball
http://lanceball.com

[2015-11-04 21:06] jclingan commented on #112
Does OpenShift have the concept of a centralized service discovery mechanism. Is etcd a proper place to store service lookup information? Here is where I am going - If I develop a service in node.js, vert.x, or Jruby and want to lookup a WildFly swarm service not in a WildFly Swarm cluster, how would I do it?

[2015-11-04 21:38] bbrowning commented on #112
OpenShift 3 lets you look up services in several ways - DNS, environment variables, and the OpenShift and Kubernetes REST APIs. That list is in ascending order from least complex and least powerful to most complex and most powerful. All three ways can be consumed from any language.

The Ribbon capabilities of WildFly Swarm sits at a level above this OpenShift discovery layer. So, at least for now,

[2015-11-04 21:43] #141 closed

[2015-11-04 21:57] jclingan commented on #112
I grok DNS & env, but not the REST APIs in any detail. Hmmm, yet another thing for me to get smarter on :-)

[2015-11-04 22:00] jclingan commented on #44
OK, you guys are moving way faster than I am :-)

Humph, just when I was getting Markdown down, now I have to pick up asciidoc :-) #LearnAsYouGo

[2015-11-05 02:13] bobmcwhirter commented on #44
Here's a repo:

https://github.com/wildfly-swarm/wildfly-swarm.io

@jclingan for AsciiDoc, I like this http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/

And also our docs are written in AsciiDoc if you like to learn-by-example: https://github.com/wildfly-swarm/wildfly-swarm-users-guide

[2015-11-05 07:40] heiko-braun commented on #112
I think when we move to Openshift Swarm needs to be reconfigered to use whatever "native" service discovery exists. Could be etcd, consul or whatever the OS3 guys settle on.

"Reconfiguration" frommy point of view can mean two things:

a) swarm sticks to ribbon, but ribbon proxies to another registration. Not sure if that's feasible though.
b) swarm bypasses ribbon and integrates directly with an

[2015-11-05 16:53] bbrowning opened #151 "war.staticContent() looks for static content in $PWD, even when run from a fatjar"
Take the following code example:
[code]
When run from a `foo-swarm.jar`, that code looks for static content relative to $PWD. Instead, it should look for the static content inside the jar. It doesn't appear src/main/resources/ ends up inside the -swarm.jar by default, or at least not in the web-client of our booker sample app, so perhaps it is looking in the jar first and falling back to $PWD?

Ei

[2015-11-05 16:57] bobmcwhirter commented on #151
Static has been a problem continuously. A reworking of it would be lovely.

--
Sent from my iPhone

On Nov 5, 2015, at 11:53 AM, Ben Browning <notifications@github.com> wrote:

Take the following code example:

 WARArchive war = ShrinkWrap.create(WARArchive.class);
 war.staticContent();

When run from a foo-swarm.jar, that code looks for static content relative
to $PWD. Instead, it should look for

[2015-11-05 19:15] bbrowning commented on #151
I looked at this a bit and there are a couple of problems in play when going between running from disk and running in a jar that have to be figured out.

- When running in a JAR we only look for static content inside that JAR using a ClassPathResourceManager. That resource manager assumes you pass a complete path to every resource and does not look for index files (index.html, index.htm, etc) when

[2015-11-06 09:04] heiko-braun commented on #4
I'll take a stab at this.

[2015-11-06 09:26] heiko-braun commented on #4
Some background info: https://docs.jboss.org/author/display/WFLY10/Parsing+and+marshalling+of+the+subsystem+xml

[2015-11-06 11:07] heiko-braun commented on #4
Two things are needed:

a) Mapping of WF extensions swarm fractions: to  https://github.com/wildfly/wildfly-core/blob/master/subsystem-test/framework/src/main/java/org/jboss/as/subsystem/test/SubsystemTestDelegate.java#L168

b) The actual parsing routin that creates the ModelNode "add" operations: https://github.com/wildfly/wildfly-core/blob/master/subsystem-test/framework/src/main/java/org/jboss/

[2015-11-06 12:31] bobmcwhirter commented on #4
Could we somehow use StandaloneXmlParser from WF and skip the whole
fractions bits? If you provide an .xml we ignore all default fractions and
just use your xml? Or did we want to include all the other fraction stuff
just not the ModelNodes they produce?

--
Sent from my iPhone

On Nov 6, 2015, at 6:08 AM, Heiko Braun <notifications@github.com> wrote:

Two things are needed:

a) Mapping of WF exte

[2015-11-06 12:51] heiko-braun commented on #4
At first glance it seems that fractions provide more then just configuration. I.e. service activators, default deployments, etc. Then there is also the fractions that don't map to wildfly subsystems.

The first question would be if users still need to declare fractions in the main method. That would allow us to determine what parts of the container are needed. These fractions would then retrieve t

[2015-11-06 12:58] heiko-braun commented on #4
An example for approach a) in presudo code:

A user declares three fractions in main():
[code]

However the XML contains much more subsystems:

[code]

Relying on this configuration in approach a) would just install jpa, datasources and web fractions and pick those parts out of the XML that matter to these fractions. The other subsystems (infinispan and messaging) that are declared in the XML woul

[2015-11-06 13:25] bobmcwhirter commented on #4
So, one thing we could do...

Our default main would still add all default fractions based upon classpath/dependencies.

All the service-activators and such (like the jolokia.war deployment) would then still occur.

We'd consume standalone.xml using WF's StandaloneXmlParser for the list of ModelNodes to configure (subverting the fraction#getList() we normally use).

Possibly each fraction could pr

[2015-11-06 13:30] heiko-braun commented on #4
right, that's something I didn't consider. So we agree that it all begins with declaration of a fraction either implicitly through maven dep's or explicitly through container.fraction() in main().

[2015-11-06 15:02] kenfinnigan commented on #4
I might be mistaken, but most of this discussion appears to be around runtime use of standalone.xml.

Any thoughts on using standalone.xml at build time to actually determine the fractions to be included in uber jar?

Might be nice for the developer to not even need to concern themselves with which fractions they need to include to make standalone.xml "work".

If we're providing a standalone.xml o

[2015-11-06 15:11] bobmcwhirter commented on #4
Yes!

I think ultimately it's `standalone.xml` XOR `main()`.

If you don't have a `main()` then you aren't use the various fraction APIs directly from user code, so we don't need them explicitly mentioned in the user's `pom.xml`.

We still need to know them for `wildfly-swarm:package`, but if we had a way to determine the dependency list from scanning the `standalone.xml` at build time, then we co

[2015-11-06 16:46] heiko-braun commented on #4
@kenfinnigan raises a valid point, however I think that the rational behind @hwellmann inital request was to replace the Java config 'DSL' with XML configuration. That's one use case and the primary one for me at this point.

There are other, related use cases as pointed out by @kenfinnigan and @bobmcwhirter, but I think we should not throw them into the same basket. From my point of view standalo

[2015-11-06 18:44] heiko-braun commented on #4
Re-reading @bobmcwhirter last comment i think we should break it up into several issues. As a first step I would suggest we strive for a solution that allows XML to replace the java config-api, but anything else (maven deps, fractions, packaging) remains the same.

[2015-11-06 18:54] kenfinnigan commented on #4
I'm not sure I'm grokking the value of supporting standalone.xml for config only. It still means the developer needs to understand fractions and what dependencies to include in their project.

Maybe it's a required stepping stone to the other pieces, but I'm not sure of its benefit to an end user.

[2015-11-06 19:17] heiko-braun commented on #4
That's an interesting discussion ;)

To me fractions and maven deps are the constituent parts of swarm and I would have never thought of them as a hindrance. But I see your point.

[2015-11-08 15:28] hwellmann commented on #4
I agree with @kenfinnigan's last comment.

The basic question really is, what do I gain from using WildFly Swarm at all? See questions in #44 by @agoncal and myself. I've been watching this project for a couple of months now and I still don't have an answer for that. Especially in comparison to Docker containers.

And if there *is* a benefit, what is the least effort path from a working applicatio

[2015-11-09 10:09] heiko-braun commented on #4
@hwellmann

You mean in comparison to stock wildfly in a docker container?

[2015-11-09 10:50] hwellmann commented on #4
Yes, exactly.

[2015-11-10 14:01] sDaniel opened #154 "m2repro not used"
Even though org.jboss.ws.cxf:jbossws-cxf-resources:5.1.0.Final:wildfly1000 is present in the m2repro folder in the jar it's not used and running the jar fails when there is no internet connection and the dependency is not in the local repro. To reproduce:

[code]

[2015-11-10 19:24] lance commented on #44
Basic site is now up at https://wildfly-swarm.io. You can write documents in either Markdown or AsciiDoc. If there's another format that's preferred, just let me know and I can add it.

There is not a lot of content on the site at the moment. Should we keep this issue open until it's fully fleshed out? Or just start adding individual issues like "There should be an FAQ on the website"?

[2015-11-10 19:27] jclingan commented on #44
Close the issue. I’ll get around to beefing up content. Pretty high on my priority list because we need a place to point to. Pointing developers straight to github project is like pointing someone looking for directions to the architectural designs of the destination :-)

[2015-11-11 15:22] #44 closed

[2015-11-11 22:04] aparkins commented on #154
I encountered this issue today as well. Investigating, it appears that Wildfly is trying to include this dependency in the packaged wildfly-swarm.jar, but has the dependency mislabeled:

service-swarm.jar\m2repo\org\jboss\ws\cxf\jbossws-cxf-resources\5.1.0.Final\jbossws-cxf-resources-wildfly1000-5.1.0.Final.jar

Whereas, it appears the inner jar should be jbossws-cxf-resources-5.1.0.Final-wildfly1

[2015-11-11 22:05] bobmcwhirter commented on #154
Good catch!

--
Sent from my iPhone

On Nov 11, 2015, at 5:04 PM, Aric Parkinson <notifications@github.com>
wrote:

I encountered this issue today as well. Investigating, it appears that
Wildfly is trying to include this dependency in the packaged
wildfly-swarm.jar, but has the dependency mislabeled:

service-swarm.jar\m2repo\org\jboss\ws\cxf\jbossws-cxf-resources\5.1.0.Final\jbossws-cxf-resources